{{#hvisLik key 'inntekt.eierandeler'}}
    <h{{niva}}>Svaralternativer :</h{{niva}}>
    <ul>
        <li>{{hentTekst 'inntekt.eierandeler.true.type.bolig'}}</li>
        <li>{{hentTekst 'inntekt.eierandeler.true.type.campingvogn'}}</li>
        <li>{{hentTekst 'inntekt.eierandeler.true.type.kjoretoy'}}</li>
        <li>{{hentTekst 'inntekt.eierandeler.true.type.fritidseiendom'}}</li>
        <li>{{hentTekst 'inntekt.eierandeler.true.type.annet'}}</li>
    </ul>
{{/hvisLik}}

{{#hvisLik key 'inntekt.bankinnskudd'}}
    <h{{niva}}>Svaralternativer :</h{{niva}}>
    <ul>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.brukskonto'}}</li>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.sparekonto'}}</li>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.bsu'}}</li>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.livsforsikring'}}</li>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.aksjer'}}</li>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.annet'}}</li>
    </ul>
{{/hvisLik}}

{{#hvisLik key 'inntekt.inntekter'}}
    <h{{niva}}>Svaralternativer :</h{{niva}}>
    <ul>
        <li>{{hentTekst 'inntekt.inntekter.true.type.utbytte'}}</li>
        <li>{{hentTekst 'inntekt.inntekter.true.type.salg'}}</li>
        <li>{{hentTekst 'inntekt.inntekter.true.type.forsikringsutbetalinger'}}</li>
        <li>{{hentTekst 'inntekt.inntekter.true.type.annet'}}</li>
    </ul>
{{/hvisLik}}

{{#hvisLik key 'familie.barn.true.barnebidrag'}}
    <h{{niva}}>Svaralternativer :</h{{niva}}>
    <ul>
        <li>{{hentTekst 'familie.barn.true.barnebidrag.betaler'}}</li>
        <li>{{hentTekst 'familie.barn.true.barnebidrag.mottar'}}</li>
        <li>{{hentTekst 'familie.barn.true.barnebidrag.begge'}}</li>
        <li>{{hentTekst 'familie.barn.true.barnebidrag.ingen'}}</li>
    </ul>
{{/hvisLik}}