{{#hvisLik key 'inntekt.eierandeler'}}
    <h{{niva}}>Svaralternativer :</h{{niva}}>
    <ul>
        <li>{{hentTekst 'inntekt.eierandeler.true.type.bolig'}}</li>
        <li>{{hentTekst 'inntekt.eierandeler.true.type.campingvogn'}}</li>
        <li>{{hentTekst 'inntekt.eierandeler.true.type.kjoretoy'}}</li>
        <li>{{hentTekst 'inntekt.eierandeler.true.type.fritidseiendom'}}</li>
        <li>{{hentTekst 'inntekt.eierandeler.true.type.annet'}}</li>
    </ul>
{{/hvisLik}}

{{#hvisLik key 'inntekt.bankinnskudd'}}
    <h{{niva}}>Svaralternativer :</h{{niva}}>
    <ul>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.brukskonto'}}</li>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.sparekonto'}}</li>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.bsu'}}</li>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.livsforsikring'}}</li>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.aksjer'}}</li>
        <li>{{hentTekst 'inntekt.bankinnskudd.true.type.annet'}}</li>
    </ul>
{{/hvisLik}}

{{#hvisLik key 'inntekt.inntekter'}}
    <h{{niva}}>Svaralternativer :</h{{niva}}>
    <ul>
        <li>{{hentTekst 'inntekt.inntekter.true.type.utbytte'}}</li>
        <li>{{hentTekst 'inntekt.inntekter.true.type.salg'}}</li>
        <li>{{hentTekst 'inntekt.inntekter.true.type.forsikringsutbetalinger'}}</li>
        <li>{{hentTekst 'inntekt.inntekter.true.type.annet'}}</li>
    </ul>
{{/hvisLik}}

{{#hvisLik key 'familie.barn.true.barnebidrag'}}
    <h{{niva}}>Svaralternativer :</h{{niva}}>
    <ul>
        <li>{{hentTekst 'familie.barn.true.barnebidrag.betaler'}}</li>
        <li>{{hentTekst 'familie.barn.true.barnebidrag.mottar'}}</li>
        <li>{{hentTekst 'familie.barn.true.barnebidrag.begge'}}</li>
        <li>{{hentTekst 'familie.barn.true.barnebidrag.ingen'}}</li>
    </ul>
{{/hvisLik}}

{{#hvisLik key 'bosituasjon'}}
    <h{{niva}}>Svaralternativer :</h{{niva}}>
    <ul>
        <li>{{hentTekst 'bosituasjon.eier'}}</li>
        <li>{{hentTekst 'bosituasjon.leierprivat'}}</li>
        <li>{{hentTekst 'bosituasjon.leierkommunalt'}}</li>
        <li>{{hentTekst 'bosituasjon.ingen'}}</li>
        <li>{{hentTekst 'bosituasjon.annet'}}</li>
    </ul>
{{/hvisLik}}

{{#hvisLik key 'bosituasjon'}}
    <blockquote>
        <h{{niva}}>Svaralternativer:</h{{niva}}>
        <ul>
            <li>{{hentTekst 'bosituasjon.annet.botype.foreldre' }}</li>
            <li>{{hentTekst 'bosituasjon.annet.true.botype.familie'}}</li>
            <li>{{hentTekst 'bosituasjon.annet.true.botype.venner'}}</li>
            <li>{{hentTekst 'bosituasjon.annet.botype.institusjon'}}</li>
            <li>{{hentTekst 'bosituasjon.annet.botype.fengsel'}}</li>
            <li>{{hentTekst 'bosituasjon.annet.botype.krisesenter'}}</li>
        </ul>
    </blockquote>
{{/hvisLik}}

{{#hvisLik key 'utgifter.boutgift'}}
    <blockquote>
        <h{{niva}}>Svaralternativer:</h{{niva}}>
        <ul>
            <li>{{hentTekst 'utgifter.boutgift.true.type.husleie'}}</li>
            <li>{{hentTekst 'utgifter.boutgift.true.type.strom'}}</li>
            <li>{{hentTekst 'utgifter.boutgift.true.type.kommunaleavgifter'}}</li>
            <li>{{hentTekst 'utgifter.boutgift.true.type.oppvarming'}}</li>
            <li>{{hentTekst 'utgifter.boutgift.true.type.avdraglaan'}}</li>
            <li>{{hentTekst 'utgifter.boutgift.true.type.andreutgifter'}}</li>
        </ul>
    </blockquote>
{{/hvisLik}}

{{#hvisLik key 'utgifter.barn'}}
    <blockquote>
        <h{{niva}}>Svaralternativer:</h{{niva}}>
        <ul>
            <li>{{hentTekst 'utgifter.barn.true.utgifter.fritidsaktivitet'}}</li>
            <li>{{hentTekst 'utgifter.barn.true.utgifter.barnehage'}}</li>
            <li>{{hentTekst 'utgifter.barn.true.utgifter.sfo'}}</li>
            <li>{{hentTekst 'utgifter.barn.true.utgifter.tannbehandling'}}</li>
            <li>{{hentTekst 'utgifter.barn.true.utgifter.annet'}}</li>
        </ul>
    </blockquote>
{{/hvisLik}}

{{#hvisLik key 'system.familie.sivilstatus.informasjonspanel'}}
    <p>{{hentTekst 'system.familie.sivilstatus.informasjonspanel.tittel'}}</p>
    <p>{{hentTekst 'system.familie.sivilstatus.informasjonspanel.tekst'}}</p>
{{/hvisLik}}

{{#hvisLik key 'familie.sivilstatus'}}
    <blockquote>
        <h{{niva}}>Svaralternativer:</h{{niva}}>
        <ul>
            <li>{{hentTekst 'familie.sivilstatus.gift'}}</li>
            <li>{{hentTekst 'familie.sivilstatus.ugift'}}</li>
            <li>{{hentTekst 'familie.sivilstatus.samboer'}}</li>
            <li>{{hentTekst 'familie.sivilstatus.enke'}}</li>
            <li>{{hentTekst 'familie.sivilstatus.skilt'}}</li>
            <li>{{hentTekst 'familie.sivilstatus.separert'}}</li>
        </ul>
    </blockquote>
{{/hvisLik}}