{{#hvisSant faktum.properties.barnetillegg}}
    <tr>
        <td class="sjekket"></td>
        <td>
            <span class="barn-navn">{{ faktum.properties.sammensattnavn }},</span>
            <span>{{ hentTekst "oppsummering.fodt" }}</span>
            {{#hvisLik faktum.type "SYSTEMREGISTRERT"}}
                <span>{{ formatterFodelsDato faktum.properties.fnr }},</span>
            {{ else }}
                <span>{{ formatterFodelsDato faktum.properties.fodselsdato }},</span>
            {{/hvisLik}}

            <span>{{ hentTekst "oppsummering.bor" }}</span>
            <span>{{ hentLand faktum.properties.land }},</span>

            <span>{{ hentTekst "oppsummering.inntekt" }}</span>
            {{#hvisLik faktum.properties.ikkebarneinntekt "false" }}
                <span>{{ faktum.properties.barneinntekttall }}</span>
            {{ else }}
                <span>0</span>
            {{/hvisLik}}
            <span>NOK</span>
        </td>
    </tr>
{{else}}
    <tr>
        <td class="sjekket"></td>
        <td>
            <span>{{ hentTekst "oppsummering.ingenBarn" }}</span>
        </td>
    </tr>
{{/hvisSant}}
