<tr>
    <td></td>
    <td>
        {{> skjema/generisk/infotekstvalue}}

        {{#hvisTekstFinnes (concat key ".sporsmal")}}
            <h{{niva}}> {{ hentTekst (concat key ".sporsmal") }}</h{{niva}}>
        {{/hvisTekstFinnes}}

    </td>
</tr>
<tr>
    <td class="sjekket"></td>
    <td>
        {{ hentTekst (concat key ".label") }}: {{formaterLangDato value}}
    </td>
</tr>
