<h2>{{ hentTekst "oppsummering.vedlegg.tittel" }}</h2>
{{#if @root.utvidetSoknad}}
<p>
    <ul>
        <li>
            {{hentTekst "vedlegg.info1"}}
        </li>
        <li>
            {{hentTekst "vedlegg.info2"}}
        </li>
        <li>
            {{hentTekst "vedlegg.info3"}}
        </li>
    </ul>
</p>
{{/if}}
<ul class="vedlegg-liste">
    {{#forVedlegg}}

        <li
            {{#hvisLik innsendingsvalg "LastetOpp"}}
            class="lastet-opp"
            {{ else }}
            class="ikke-lastet-opp"
            {{/hvisLik}}
        >
            <div>
                <p class="tittel">{{ tittel }}</p>
                {{#if navn}}
                    <p class="navn">{{ navn }}</p>
                {{/if}}
                {{#if @root.utvidetSoknad }}
                   <div class="hjelpeInfotekst">
                        <h3>Hjelpetekst</h3>
                        <p>{{{hentTekst (vedleggCmsNokkel this)}}}</p>
                    </div>
                {{/if}}

                {{#hvisLik innsendingsvalg "LastetOpp"}}
                    <span class="lastetOpp">
                                <span class="vedleggSymbol"></span>
                                <span class="antallSider">
                                    <span>{{ antallSider }}</span>
                                    {{#hvisLik antallSider "1"}}
                                        <span>{{ hentTekst "oppsummering.side" }}</span>
                                    {{ else }}
                                        <span>{{ hentTekst "oppsummering.sider" }}</span>
                                    {{/hvisLik}}

                                </span>
                                <a href="#/visVedlegg/{{ vedleggId }}"
                                   class="seVedlegg">{{ hentTekst "oppsummering.seVedlegg" }}</a>
                            </span>
                {{/hvisLik}}

                {{#hvisLik innsendingsvalg "SendesSenere"}}
                    <span class="status">{{ hentTekst "oppsummering.sendesSenere" }}</span>
                {{/hvisLik}}

                {{#hvisLik innsendingsvalg "SendesIkke"}}
                    <span class="status">{{ hentTekst "oppsummering.sendesIkkeSendesAvAndre" }}</span>
                {{/hvisLik}}

                {{#hvisLik innsendingsvalg "VedleggSendesIkke"}}
                    <span class="status">{{ hentTekst "oppsummering.sendesIkke" }}</span>
                {{/hvisLik}}

                {{#hvisLik innsendingsvalg "VedleggSendesAvAndre"}}
                    <span class="status">{{ hentTekst "oppsummering.sendesAvAndre" }}</span>
                {{/hvisLik}}

                {{#hvisLik innsendingsvalg "VedleggAlleredeSendt"}}
                    <span class="status">{{ hentTekst "oppsummering.vedleggAlleredeSendt" }}</span>
                {{/hvisLik}}

                {{#hvisLik innsendingsvalg "VedleggSendesIkke"}}
                    <h4>{{ hentTekst "vedlegg.behandlet.vedleggSendesIkke.fritekst.sporsmal" }}</h4>
                    <p class="aarsak">{{ aarsak }}</p>
                {{/hvisLik}}

                {{#hvisLik innsendingsvalg "VedleggAlleredeSendt"}}
                    <h4>{{ hentTekst "vedlegg.behandlet.vedleggAlleredeSendt.fritekst.sporsmal" }}</h4>
                    <p class="aarsak">{{ aarsak }}</p>
                {{/hvisLik}}
            </div>

        </li>

    {{else}}
        <li class="lastet-opp">{{ hentTekst "oppsummering.vedlegg.ingen" }}</li>
    {{/forVedlegg}}
</ul>
