{{#if @root.utvidetSoknad}}
<div class="hjelpeInfotekst">
    {{#hvisTekstFinnes (concat key "." value ".hjelpetekst.tekst")}}
        <h{{niva}}>Hjelpetekst</h{{niva}}>
        <div>
            {{ hentTekst (concat key "." value ".hjelpetekst.tittel") }}
        </div>
        <div>
            {{{ hentTekst (concat key "." value ".hjelpetekst.tekst") }}}
            {{#hvisTekstFinnes (concat key "." value ".hjelpetekst.tekst2")}}
                <div>
                    {{{ hentTekst (concat key "." value ".hjelpetekst.tekst2") }}}
                </div>
            {{/hvisTekstFinnes}}
            {{#hvisTekstFinnes (concat key "." value ".hjelpetekst.tekst3")}}
                <div>
                    {{{ hentTekst (concat key "." value ".hjelpetekst.tekst3") }}}
                </div>
            {{/hvisTekstFinnes}}
        </div>
    {{/hvisTekstFinnes}}
     {{#hvisTekstFinnes (concat key "." value ".infotekst.tekst")}}
            <h{{niva}}>Infotekst:</h{{niva}}>
                {{{ hentTekst (concat key "." value ".infotekst.tekst") }}}
                {{#hvisTekstFinnes (concat key "." value ".infotekst.tekst2")}}
                    <div>
                        {{{ hentTekst (concat key "." value ".infotekst.tekst2") }}}
                    </div>
                {{/hvisTekstFinnes}}
                {{#hvisTekstFinnes (concat key "." value ".infotekst.tekst3")}}
                    <div>
                        {{{ hentTekst (concat key "." value ".infotekst.tekst3") }}}
                    </div>
                {{/hvisTekstFinnes}}
        {{/hvisTekstFinnes}}
    </div>
{{/if}}
