{{#if @root.utvidetSoknad}}
<div class="hjelpeInfotekst">
    {{#hvisTekstFinnes (concat key ".hjelpetekst.tekst")}}
        <h{{niva}}>{{{ hentTekst "hjelpetekst.oppsummering.tittel" }}}</h{{niva}}>
        <div>        {{{ hentTekst (concat key ".hjelpetekst.tittel") }}}</div>
        <div>        {{{ hentTekst (concat key ".hjelpetekst.tekst") }}}</div>
    {{/hvisTekstFinnes}}
    {{#hvisFaktumstrukturHarInfotekster}}
        {{#forInfotekst}}
            <h{{niva}}>Infotekst:</h{{niva}}>
                {{#hvisTekstFinnes (concat key)}}
                    {{{ hentTekst (concat key) }}}
                {{/hvisTekstFinnes}}
        {{/forInfotekst}}
    {{else}}
        {{#hvisTekstFinnes (concat key ".infotekst.tekst")}}
            <h{{niva}}>{{{ hentTekst "infotekst.oppsummering.tittel" }}}</h{{niva}}>
                {{#hvisTekstFinnes (concat key ".infotekst.tittel")}}
                    <div>{{{ hentTekst (concat key ".infotekst.tittel") }}}</div>
                {{/hvisTekstFinnes}}
                {{{ hentTekst (concat key ".infotekst.tekst") }}}
                {{#hvisTekstFinnes (concat key ".infotekst.tekst2")}}
                    {{{ hentTekst (concat key ".infotekst.tekst2") }}}
                {{/hvisTekstFinnes}}
        {{/hvisTekstFinnes}}
    {{/hvisFaktumstrukturHarInfotekster}}
</div>
{{/if}}