{{> skjema/generisk/sporsmal}}
{{> skjema/generisk/infotekst}}

<span class="label">{{ hentTekst (concat key ".label") }}</span>
<ul class="svar-liste">
    <li>
        {{#hvisIkkeTom originalValue}}
            <span class="verdi verdi--tekst">
                {{originalValue}}
            </span>
        {{else}}
            <span class="verdi verdi--ikkeUtfylt">
                {{#if optional}}
                    <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                {{/if}}
            </span>
        {{/hvisIkkeTom}}
        {{#hvisTekstFinnes (concat key ".enhet")}}
            {{ hentTekst (concat key ".enhet") }}
        {{/hvisTekstFinnes}}
    </li>
</ul>
