{{> skjema/generisk/sporsmal}}
{{> skjema/generisk/infotekst}}

{{ hentTekst (concat key ".label") }}
<ul class="svar-liste">
    <li>
        {{#hvisIkkeTom originalValue}}
            {{originalValue}}
        {{else}}
            {{#if optional}}
                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
            {{/if}}
        {{/hvisIkkeTom}}
        {{#hvisTekstFinnes (concat key ".enhet")}}
            {{ hentTekst (concat key ".enhet") }}
        {{/hvisTekstFinnes}}
    </li>
</ul>
