{{#hvisHarDiskresjonskode}}
{{else}}
    <tr>
        <td class="sjekket"></td>
        <td>
            {{#forFaktum faktumKey}}
                <span>{{ hentTekst labelKey }}
                    {{#hvisLik properties.land "Norge"}}
                        <em>{{properties.adresse}}, {{properties.postnr}} {{hentPoststed properties.postnr}}</em>
                    {{else}}
                        <em>{{properties.utenlandskadresse}}, {{properties.land}}</em>
                    {{/hvisLik}}
                </span>
            {{/forFaktum}}
        </td>
    </tr>
{{/hvisHarDiskresjonskode}}