{{#forFaktum "bileierskap.eierdubil"}}
    <tr>
        <td class="sjekket"></td>
        <td>{{hentTekst (concat cmsPrefiks (concat "bileierskap.eierdubil." value))}}

            {{#hvisLik value "nei"}}
                <ul>
                    {{#forFaktum "bileierskap.bilsisteaar"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{hentTekst (concat cmsPrefiks (concat "bileierskap.bilsisteaar." value))}}. </span>

                            {{#hvisLik value "ja"}}
                                <ul>
                                    <li class="kulepunkt medstrek faktum-felt">
                                        <span>{{hentTekst "oppsummering.bileierskap.bilsisteaar.regnr"}}:
                                            <em>{{hentFaktumValue "bileierskap.bilsisteaar.regnr"}}</em>
                                        </span>
                                    </li>
                                    <li class="kulepunkt medstrek faktum-felt">
                                        <span>{{hentTekst "oppsummering.bileierskap.bilsisteaar.solgtarsak"}}:
                                            <em>{{hentFaktumValue "bileierskap.bilsisteaar.solgtarsak"}}</em>
                                        </span>
                                    </li>
                                </ul>
                            {{/hvisLik}}

                        </li>
                    {{/forFaktum}}
                </ul>
            {{/hvisLik}}

            {{#hvisLik value "mellom8og11ar"}}
                <ul>
                    <li class="kulepunkt faktum-felt">
                        <span>{{hentTekst (concat (concat cmsPrefiks "bileierskap.kilometerstand.") (hentFaktumValue "bileierskap.kilometerstand"))}}</span>
                    </li>
                </ul>
            {{/hvisLik}}

        </td>
    </tr>

{{/forFaktum}}