{{#forFaktum "bileierskap.andreharbil"}}
    <tr>
        <td class="sjekket"></td>
        <td>{{hentTekst (concat cmsPrefiks (concat "bileierskap.andreharbil." value))}}

            {{#hvisLik value "ja"}}
                <ul>
                    {{#forFaktumHvisSant "bileierskap.andreharbil.ektefelle"}}
                        <li class="kulepunkt faktum-felt">{{ hentTekst (concat cmsPrefiks "bileierskap.andreharbil.ja.ektefelle")}}:
                            <em>{{hentFaktumValue "bileierskap.andreharbil.ektefelle.regnr"}}</em>
                        </li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktumHvisSant "bileierskap.andreharbil.samboer"}}
                        <li class="kulepunkt faktum-felt">{{ hentTekst (concat cmsPrefiks "bileierskap.andreharbil.ja.samboer")}}:
                            <em>{{hentFaktumValue "bileierskap.andreharbil.samboer.regnr"}}</em>
                        </li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktumHvisSant "bileierskap.andreharbil.forelder"}}
                        <li class="kulepunkt faktum-felt">{{ hentTekst (concat cmsPrefiks "bileierskap.andreharbil.ja.forelder")}}:
                            <em>{{hentFaktumValue "bileierskap.andreharbil.forelder.regnr"}}</em>
                        </li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktumHvisSant "bileierskap.andreharbil.barn"}}
                        <li class="kulepunkt faktum-felt">{{ hentTekst (concat cmsPrefiks "bileierskap.andreharbil.ja.barn")}}:
                            <em>{{hentFaktumValue "bileierskap.andreharbil.barn.regnr"}}</em>
                        </li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktumHvisSant "bileierskap.andreharbil.annen"}}
                        <li class="kulepunkt faktum-felt">{{ hentTekst (concat cmsPrefiks "bileierskap.andreharbil.ja.annen")}}:
                            <em>{{hentFaktumValue "bileierskap.andreharbil.annen.regnr"}}</em>
                        </li>
                    {{/forFaktumHvisSant}}

                </ul>
            {{/hvisLik}}
        </td>
    </tr>

    {{#hvisLik value "ja"}}
        {{#forFaktum "bileierskap.andreharbil.kanbrukeselv"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{hentTekst (concat cmsPrefiks (concat "bileierskap.andreharbil.kanbrukeselv." value))}}</td>
            </tr>

            {{#hvisLik value "nei"}}
                <tr>
                    <td class="sjekket"></td>
                    <td>{{hentTekst (concat cmsPrefiks "bileierskap.andreharbil.kanbrukeselv.nei.arsak.sporsmal")}}<br/>
                        <em>{{hentFaktumValue "bileierskap.andreharbil.kanbrukeselv.nei.arsak"}}</em>
                    </td>
                </tr>
            {{/hvisLik}}

        {{/forFaktum}}
    {{/hvisLik}}

    {{#hvisLik value "nei"}}
        {{#forFaktum "bileierskap.andreharbil.sistear"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{hentTekst (concat cmsPrefiks (concat "bileierskap.andreharbil.sistear." value))}}
                    {{#hvisLik value "ja"}}
                        <ul>
                            <li class="kulepunkt faktum-felt">
                                {{hentTekst "arbeidutdanning.bileierskap.andreharbil.sistear.regnr"}}<br/>
                                <em>{{hentFaktumValue "bileierskap.andreharbil.sistear.regnr"}}</em>
                            </li>
                            <li class="kulepunkt faktum-felt">
                                {{hentTekst "arbeidutdanning.bileierskap.andreharbil.sistear.solgtarsak.sporsmal"}}<br/>
                                <em>{{hentFaktumValue "bileierskap.andreharbil.sistear.solgtarsak"}}</em>
                            </li>
                        </ul>
                    {{/hvisLik}}
                </td>
            </tr>
        {{/forFaktum}}
    {{/hvisLik}}

{{/forFaktum}}