{{#forFaktum "informasjonsside.deltarIIntroprogram"}}
    {{#hvisIkkeTom value}}
        <h3>{{ hentTekst "informasjonsside.introprogram.overskrift" }}</h3>
        <table>
            <tr>
                <td class="sjekket"></td>
                <td>
                    {{#hvisLik value "false" }}
                        <span>{{ hentTekst "informasjonsside.introprogram.false" }}</span>
                        <ul>
                            {{#forFaktum "informasjonsside.deltarIIntroprogram.info"}}
                                <li class="kulepunkt faktum-felt">
                                    <span>Kommune: <em>{{ properties.kommune}}</em>,</span>
                                    {{#hvisIkkeTom properties.bydel }}
                                        <span>Bydel: <em>{{ properties.bydel }}</em>,</span>
                                    {{/hvisIkkeTom}}
                                    {{#hvisIkkeTom properties.kontonummer }}
                                        <span> Kontonummer:<em> {{ properties.kontonummer }} </em></span>
                                    {{/hvisIkkeTom}}
                                </li>
                                <li class="kulepunkt faktum-felt">
                                    <span>Fra {{ formaterLangDato properties.fom }}</span>
                                    {{#hvisIkkeTom properties.tom }}
                                        <span> til {{ formaterLangDato properties.tom }}</span>
                                    {{/hvisIkkeTom}}
                                </li>
                            {{/forFaktum}}
                        </ul>
                    {{else}}
                        <span>{{ hentTekst "informasjonsside.introprogram.true" }}</span>
                    {{/hvisLik}}
                </td>
            </tr>
        </table>
    {{/hvisIkkeTom}}
{{/forFaktum}}