{{#forFaktum "informasjonsside.deltarIIntroprogram"}}
    {{#hvisIkkeTom value}}
        <h3>{{ hentTekst "informasjonsside.introprogram.overskrift" }}</h3>
        <table>
            <tr>
                <td class="sjekket"></td>
                <td>
                    {{#hvisLik value "false" }}
                        <span>{{ hentTekst "informasjonsside.introprogram.false" }}</span>
                        <ul>
                            {{#forFaktum "informasjonsside.deltarIIntroprogram.info"}}
                                <li class="kulepunkt faktum-felt">
                                    <span>{{hentTekst "oppsummering.informasjonsside.introprogram.deltar.kommune"}}: <em>{{ properties.kommune}}</em>,</span>
                                    {{#hvisIkkeTom properties.bydel }}
                                        <span>{{hentTekst "oppsummering.informasjonsside.introprogram.deltar.bydel"}}: <em>{{ properties.bydel }}</em>,</span>
                                    {{/hvisIkkeTom}}
                                    {{#hvisIkkeTom properties.kontonummer }}
                                        <span> {{hentTekst "oppsummering.informasjonsside.introprogram.deltar.kontonummer"}}:<em> {{ properties.kontonummer }} </em></span>
                                    {{/hvisIkkeTom}}
                                </li>
                                <li class="kulepunkt faktum-felt">
                                    <span>{{hentTekst "oppsummering.tiltakspenger.dato.startdato.stor"}}: <em>{{formaterDato properties.fom "dd.MM.yyyy"}}</em>
                                    {{#hvisIkkeTom properties.tom }}
                                        , {{hentTekst "oppsummering.tiltakspenger.dato.sluttdato.liten"}}: <em> {{formaterDato properties.tom "dd.MM.yyyy"}}</em>
                                    {{/hvisIkkeTom}}
                                    </span>
                                </li>
                            {{/forFaktum}}
                        </ul>
                    {{else}}
                        <span>{{ hentTekst "informasjonsside.introprogram.true" }}</span>
                    {{/hvisLik}}
                </td>
            </tr>
        </table>
    {{/hvisIkkeTom}}
{{/forFaktum}}