{{#forFaktum "bostotte.adresseutgifter.aktivitetsadresse"}}
    {{#hvisSant value}}
    <tr>
        <td class="sjekket"></td>
        <td><span>{{ hentTekst "soknad.bostotte.adresseutgifter.aktivitetsadresse" }}</span></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{ hentTekst "soknad.bostotte.adresseutgifter.belop.oppsummering" }} <em>{{properties.utgift}}</em> {{ hentTekst "soknad.krmnd" }}</span></td>
                </tr>
            </table>
        </td>
    </tr>
    {{/hvisSant}}
{{/forFaktum}}

{{#forFaktum "bostotte.adresseutgifter.hjemstedsaddresse"}}
    {{#hvisSant value}}
    <tr>
        <td class="sjekket"></td>
        <td><span>{{ hentTekst "soknad.bostotte.adresseutgifter.hjemstedsaddresse" }}</span></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{ hentTekst "soknad.bostotte.adresseutgifter.belop.oppsummering" }} <em>{{properties.utgift}}</em> {{ hentTekst "soknad.krmnd" }}</span></td>
                </tr>
            </table>
        </td>
    </tr>
    {{/hvisSant}}
{{/forFaktum}}

{{#forFaktum "bostotte.adresseutgifter.opphorte"}}
    {{#hvisSant value}}
    <tr>
        <td class="sjekket"></td>
        <td><span>{{ hentTekst "soknad.bostotte.adresseutgifter.opphorte" }}</span></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{ hentTekst "soknad.bostotte.adresseutgifter.belop.oppsummering" }} <em>{{properties.utgift}}</em> {{ hentTekst "soknad.krmnd" }}</span></td>
                </tr>
            </table>
        </td>
    </tr>
    {{/hvisSant}}
{{/forFaktum}}