{{#forFaktum "bostotte.kommunestotte"}}
    {{#hvisSant value}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{ hentTekst "soknad.bostotte.kommunestotte.sporsmal.true" }} </span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        <td class="sjekket"></td>
                        <td>
                            <span>{{ hentTekst "soknad.bostotte.kommunestotte.belop.oppsummering" }}
                                <em>{{properties.utgift}}</em> {{toLowerCase (hentTekst "soknad.krmnd")}} </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    {{else}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{ hentTekst "soknad.bostotte.kommunestotte.sporsmal.false" }}</span>
            </td>
        </tr>
    {{/hvisSant}}
{{/forFaktum}}