{{#forFaktum "trygdogpensjon"}}
    {{#hvisIkkeTom value}}
        <h2>{{ hentTekst "trygdogpensjon.tittel" }}</h2>
        <table>
            <tr>
                <td class="sjekket"></td>
                <td>
                    {{#hvisSant value}}
                        <span>{{ hentTekst "trygdogpensjon.ja" }}</span>
                        <ul>
                            {{#forFakta "trygdogpensjon.utbetalere"}}
                                <li class="kulepunkt faktum-felt">
                                    <span>Utbetaler: <em>{{ properties.utbetaler}}</em>,</span>
                                    {{#hvisIkkeTom properties.prosent }}
                                        <span> <em>{{properties.prosent}}</em>%, </span>
                                    {{/hvisIkkeTom}}
                                    <span> fra <em>{{ formatterLangDato properties.fom }}</em></span>
                                    {{#hvisIkkeTom properties.tom }}
                                        <span> til <em>{{ formatterLangDato properties.tom }}</em></span>
                                    {{/hvisIkkeTom}}
                                </li>
                            {{/forFakta}}
                        </ul>
                    {{else}}
                        <span>{{ hentTekst "trygdogpensjon.nei" }}</span>
                    {{/hvisSant}}
                </td>
            </tr>
        </table>
    {{/hvisIkkeTom}}
{{/forFaktum}}