{{#forFaktum "trygdogpensjon"}}
    {{#hvisIkkeTom value}}
        <h2>{{ hentTekst "trygdogpensjon.tittel" }}</h2>
        <table>
            <tr>
                <td class="sjekket"></td>
                <td>
                    {{#hvisSant value}}
                        <span>{{ hentTekst "trygdogpensjon.ja" }}</span>
                        <ul>
                            {{#forFakta "trygdogpensjon.utbetalere"}}
                                <li class="kulepunkt faktum-felt">
                                    <span>{{hentTekst "oppsummering.trygdogpensjon.harsokt.utbetaler"}}: <em>{{ properties.utbetaler}}</em>,</span>
                                    {{#hvisIkkeTom properties.prosent }}
                                        <span> {{hentTekst "oppsummering.trygdogpensjon.harsokt.prosent"}}: <em>{{properties.prosent}}</em>%, </span>
                                    {{/hvisIkkeTom}}
                                    <span>{{hentTekst "oppsummering.tiltakspenger.dato.startdato.liten"}}: <em>{{formaterDato properties.fom "dd.MM.yyyy"}}</em>
                                    {{#hvisIkkeTom properties.tom }}
                                        , {{hentTekst "oppsummering.tiltakspenger.dato.sluttdato.liten"}}: <em>{{formaterDato properties.tom "dd.MM.yyyy"}}</em>
                                    {{/hvisIkkeTom}}
                                    </span>
                                </li>
                            {{/forFakta}}
                        </ul>
                    {{else}}
                        <span>{{ hentTekst "trygdogpensjon.nei" }}</span>
                    {{/hvisSant}}
                </td>
            </tr>
        </table>
    {{/hvisIkkeTom}}
{{/forFaktum}}