{{#forFakta "vedtak.betalingsplan"}}
    {{#hvisSant properties.registrert}}
        <h2>{{hentTekst 'oppsummering.kjoreliste'}} {{formatterLangDato properties.fom}} - {{formatterLangDato properties.tom}}</h2>
        <h3>{{hentTekst 'oppsummering.dager'}}</h3>
        {{#lagKjorelisteUker properties}}
            <h3>Uke: {{ukeNr}}</h3>
            <ul>
                {{#each dager}}
                    <li class="kulepunkt">{{ukedag dato}} {{formatterLangDato dato}}{{#hvisMer parkering "0"}}, {{hentTekst 'oppsummering.utgifter'}} {{parkering}} {{hentTekst 'soknad.kroner'}}{{/hvisMer}}</li>
                {{/each}}
            </ul>
        {{/lagKjorelisteUker}}
    {{/hvisSant}}
{{/forFakta}}
