{{#forFakta "vedtak.betalingsplan"}}
    {{#hvisSant properties.registrert}}
        <h2>Kjøreliste {{formatterLangDato properties.fom}} - {{formatterLangDato properties.tom}}</h2>
        <h3>{{hentTekst 'oppsummering.dager'}}</h3>
        {{faktumId}}: {{properties.registrert}}, {{formatterLangDato properties.fom}}, {{formatterLangDato properties.tom}}
    {{/hvisSant}}
{{/forFakta}}
