{{#forFaktum "fastlege.harIkkeFastlege"}}
    <h2>{{ hentTekst "fastlege.tittel" }}</h2>
    <table>
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    {{ hentTekst "oppsummering.fastlege.behandlende.navn" }}
                    <span class="avsnitt">{{ hentFaktumValue "fastlege.annen.behandlende.navn" }}</span>
                    <div>{{ hentFaktumValue "fastlege.annen.behandlende.stilling" }}</div>
                    <div>{{ hentFaktumValue "fastlege.annen.behandlende.arbeidssted" }}</div>
                    <div>{{ hentFaktumValue "fastlege.annen.behandlende.tlfnr" }}</div>
                </td>
            </tr>
            {{> skjema/bilstonad/fastlege/behandlendeLege }}
        {{else}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    {{ hentTekst "oppsummering.fastlege.navn" }}
                    <<span class="avsnitt">{{ hentFaktumValue "fastlege.navn" }}</span>
                    <div>{{ hentFaktumValue "fastlege.arbeidsstedadresse" }}</div>
                    <div>{{ hentFaktumValue "fastlege.tlfnr" }}</div>
                </td>
            </tr>
            {{> skjema/bilstonad/fastlege/behandlendeLege }}
        {{/hvisSant}}
    </table>
{{else}}
    <h2>{{ hentTekst "fastlege.tittel" }}</h2>
    <table>
        <tr>
            <td class="sjekket"></td>
            <td>
                {{ hentTekst "oppsummering.fastlege.navn" }}
                <span class="avsnitt">{{ hentFaktumValue "fastlege.navn" }}</span>
                <div>{{ hentFaktumValue "fastlege.arbeidsstedadresse" }}</div>
                <div>{{ hentFaktumValue "fastlege.tlfnr" }}</div>
            </td>
        </tr>
        {{> skjema/bilstonad/fastlege/behandlendeLege }}
    </table>
{{/forFaktum}}