{{#forFaktum "reise.aktivitet.offentligtransport.egenbil"}}
    {{#hvisSant value}}
        <tr>
            <td class="sjekket"></td>
            <td><span>{{hentTekst "soknad.reise.offentligtransport.egenbil.true"}}</span></td>
        </tr>

        {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.kostnader"}}
            <tr>
                <td></td>
                <td>
                    <p class="overskrift">{{hentTekst "oppsummering.reise.aktivitet.offentligtransport.egenbil.kostnader"}}</p>
                    <table>
                        {{#forFaktumSant "reise.aktivitet.offentligtransport.egenbil.kostnader.bompenger"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>{{hentTekst "soknad.reise.offentligtransport.egenbil.kostnader.bompenger.label"}}: {{value}} {{hentTekst "soknad.krmnd"}}</td>
                            </tr>
                        {{/forFaktumSant}}
                        {{#forFaktumSant "reise.aktivitet.offentligtransport.egenbil.kostnader.piggdekk"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>{{hentTekst "soknad.reise.offentligtransport.egenbil.kostnader.piggdekk.label"}}: {{value}} {{hentTekst "soknad.krmnd"}}</td>
                            </tr>
                        {{/forFaktumSant}}
                        {{#forFaktumSant "reise.aktivitet.offentligtransport.egenbil.kostnader.ferge"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>{{hentTekst "soknad.reise.offentligtransport.egenbil.kostnader.ferge.label"}}: {{value}} {{hentTekst "soknad.krmnd"}}</td>
                            </tr>
                        {{/forFaktumSant}}
                        {{#forFaktumSant "reise.aktivitet.offentligtransport.egenbil.kostnader.annet"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>{{hentTekst "soknad.reise.offentligtransport.egenbil.kostnader.annet.label"}}: {{value}} {{hentTekst "soknad.krmnd"}}</td>
                            </tr>
                        {{/forFaktumSant}}
                    </table>
                </td>
            </tr>
        {{/forFaktum}}

        {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.parkering"}}
            {{#hvisSant value}}
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{hentTekst "soknad.reise.offentligtransport.egenbil.parkering.true"}}</span></td>
                </tr>
                {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.parkering.belop"}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>{{value}} {{hentTekst "soknad.krmnd"}}</td>
                    </tr>
                {{/forFaktum}}
                {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.sendebekreftelse"}}
                    <tr>
                        <td class="sjekket"></td>
                    {{#hvisLik value "uke"}}
                        <td>{{hentTekst "soknad.reise.offentligtransport.egenbil.sendebekreftelse.uke"}}</td>
                    {{else}}
                        <td>{{hentTekst "soknad.reise.offentligtransport.egenbil.sendebekreftelse.maned"}}</td>
                    {{/hvisLik}}
                    </tr>
                {{/forFaktum}}
            {{else}}
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{hentTekst "soknad.reise.offentligtransport.egenbil.parkering.false"}}</span></td>
                </tr>
            {{/hvisSant}}
        {{/forFaktum}}
    {{else}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{hentTekst "soknad.reise.offentligtransport.egenbil.false"}}</span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p class="overskrift">{{hentTekst "oppsummering.reise.aktivitet.offentligtransport.egenbil.aarsak"}}</p>
                <table>
                    {{#forFaktumSant "reise.aktivitet.offentligtransport.egenbil.aarsak.helse"}}
                        <tr>
                            <td class="sjekket"></td>
                            <td>{{hentTekst "soknad.reise.offentligtransport.egenbil.aarsak.helse"}}</td>
                        </tr>
                    {{/forFaktumSant}}
                    {{#forFaktumSant "reise.aktivitet.offentligtransport.egenbil.aarsak.ikkebil"}}
                        <tr>
                            <td class="sjekket"></td>
                            <td>{{hentTekst "soknad.reise.offentligtransport.egenbil.aarsak.ikkebil"}}</td>
                        </tr>
                    {{/forFaktumSant}}
                    {{#forFaktumSant "reise.aktivitet.offentligtransport.egenbil.aarsak.annet"}}
                        <tr>
                            <td class="sjekket"></td>
                            <td>
                                <span>{{hentTekst "soknad.reise.offentligtransport.egenbil.aarsak.annet"}}:</span>
                                {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.aarsak.annet.tekst"}}
                                    <span>{{value}}</span>
                                {{/forFaktum}}
                            </td>
                        </tr>
                    {{/forFaktumSant}}
                </table>
            </td>
        </tr>

        {{#forFaktum "reise.aktivitet.offentligtransport.drosje"}}
            {{#hvisSant value}}
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{hentTekst "soknad.reise.offentligtransport.egenbil.drosje.true"}}</span></td>
                </tr>
                {{#forFaktum "reise.aktivitet.offentligtransport.drosje"}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>
                            <span>{{hentTekst "oppsummering.reise.aktivitet.offentligtransport.drosje.belop"}}</span>
                            <span>{{value}}</span>
                            <span>{{hentTekst "soknad.krdag"}}</span>
                        </td>
                    </tr>
                {{/forFaktum}}
            {{else}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span>{{hentTekst "soknad.reise.offentligtransport.egenbil.drosje.false"}}</span>
                        {{#forFaktum "reise.aktivitet.offentligtransport.drosje.tekst"}}
                            <table>
                                <tr>
                                    <td class="sjekket"></td>
                                    <td>
                                        <span>{{value}}</span>
                                    </td>
                                </tr>
                            </table>
                        {{/forFaktum}}
                    </td>
                </tr>
            {{/hvisSant}}
        {{/forFaktum}}
    {{/hvisSant}}
{{/forFaktum}}