{{#forFaktum "reise.aktivitet.offentligtransport.egenbil"}}
    {{#hvisSant value}}
        <tr>
            <td class="sjekket"></td>
            <td><span>{{hentTekst "soknad.reise.offentligtransport.egenbil.true"}}</span></td>
        </tr>

        {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.kostnader"}}
            <tr>
                <td></td>
                <td>
                    <p class="overskrift">{{hentTekst "oppsummering.reise.aktivitet.offentligtransport.egenbil.kostnader"}}</p>
                    <ul>
                        {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.kostnader.bompenger"}}
                            <li class="kulepunkt">{{hentTekst "soknad.reise.offentligtransport.egenbil.kostnader.bompenger.label"}}: {{value}} {{hentTekst "soknad.krmnd"}}</li>
                        {{/forFaktum}}
                        {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.kostnader.piggdekk"}}
                            <li class="kulepunkt">{{hentTekst "soknad.reise.offentligtransport.egenbil.kostnader.piggdekk.label"}}: {{value}} {{hentTekst "soknad.krmnd"}}</li>
                        {{/forFaktum}}
                        {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.kostnader.ferge"}}
                            <li class="kulepunkt">{{hentTekst "soknad.reise.offentligtransport.egenbil.kostnader.ferge.label"}}: {{value}} {{hentTekst "soknad.krmnd"}}</li>
                        {{/forFaktum}}
                        {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.kostnader.annet"}}
                            <li class="kulepunkt">{{hentTekst "soknad.reise.offentligtransport.egenbil.kostnader.annet.label"}}: {{value}} {{hentTekst "soknad.krmnd"}}</li>
                        {{/forFaktum}}
                    </ul>
                </td>
            </tr>
        {{/forFaktum}}

        {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.parkering"}}
            {{#hvisSant value}}
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{hentTekst "soknad.reise.offentligtransport.egenbil.parkering.true"}}</span></td>
                </tr>
                {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.parkering.belop"}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>{{value}} {{hentTekst "soknad.krmnd"}}</td>
                    </tr>
                {{/forFaktum}}
                {{#forFaktum "reise.aktivitet.offentligtransport.egenbil.sendebekreftelse"}}
                    <tr>
                        <td class="sjekket"></td>
                    {{#hvisLik value "uke"}}
                        <td>{{hentTekst "soknad.reise.offentligtransport.egenbil.sendebekreftelse.uke"}}</td>
                    {{else}}
                        <td>{{hentTekst "soknad.reise.offentligtransport.egenbil.sendebekreftelse.maned"}}</td>
                    {{/hvisLik}}
                    </tr>
                {{/forFaktum}}
            {{else}}
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{hentTekst "soknad.reise.offentligtransport.egenbil.parkering.false"}}</span></td>
                </tr>
            {{/hvisSant}}
        {{/forFaktum}}
    {{else}}
        <tr>
            <td class="sjekket"></td>
            <td><span>{{hentTekst "soknad.reise.offentligtransport.egenbil.false"}}</span></td>
        </tr>
    {{/hvisSant}}
{{/forFaktum}}