<h3>{{ hentTekst "inntektbolk.tittel" }}</h3>
<li>
	<ul class="svar-liste">
		{{#each oversikt.inntekt}}
			{{#hvisMinstEnIkkeTom brutto netto}}
				<li>
					<span class="label">{{tittel}}</span>
					<ul class="svar-liste">
						{{#if brutto}}
							<li>
								<span class="verdi verdi--tekst">
									Brutto: {{brutto}}
								</span>
							</li>
						{{/if}}
						{{#if netto}}
							<li>
								<span class="verdi verdi--tekst">
									Netto: {{netto}}
								</span>
							</li>
						{{/if}}
					</ul>
				</li>
			{{/hvisMinstEnIkkeTom}}
		{{/each}}
		{{#each oversikt.formue}}
			{{#if belop}}
				<li>
					<span class="label">{{tittel}}</span>
					<ul class="svar-liste">
						<li>
							<span class="verdi verdi--tekst">
								Sum: {{belop}}
							</span>
						</li>
					</ul>
				</li>
			{{/if}}
		{{/each}}
		{{#each opplysninger.utbetaling}}
			{{#hvisLik type "navytelse"}}
			{{else}}
				<ul class="svar-liste">
					<li>
						<h4>{{tittel}}</h4>
						<ul class="fakta-liste">
							<li>
								<span class="label">Sum</span>
								<ul class="svar-liste">
									<li>
										{{#if belop}}
											<span class="verdi verdi--tekst">
												{{belop}}
											</span>
										{{else}}
											<span class="verdi verdi--ikkeUtfylt">
												<i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
											</span>
										{{/if}}
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			{{/hvisLik}}
		{{/each}}
	</ul>
</li>