{{#with data.personalia}}
	<div class="bolk js-bolk">
		<h2 class="bolk__tittel">{{ hentTekst "personaliabolk.tittel" }}</h2>
		<ul class="fakta-liste">
			<li>
				<span class="label">{{ hentTekst "kontakt.system.personalia.statsborgerskap.label" }}</span>
				<ul class="svar-liste">
					<li>
						{{#if statsborgerskap.verdi}}
							<span class="verdi verdi--tekst">
								{{statsborgerskap.verdi}}
							</span>
						{{else}}
							<span class="verdi verdi--ikkeUtfylt">
								<i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
							</span>
						{{/if}}
					</li>
				</ul>
			</li>
			<h3>{{ hentTekst "kontakt.system.adresse.sporsmal" }}</h3>
			<li>
				<span class="label">Folkeregistrert adresse</span>
				{{#with folkeregistrertAdresse}}
					<ul class="svar-liste">
						<li>
							<div>
								<span class="verdi verdi--tekst">
									{{gatenavn}} {{husnummer}}{{husbokstav}}
								</span>
							</div>
							<div>
								<span class="verdi verdi--tekst">
			            			{{postnummer}} {{poststed}}
			            		</span>
							</div>
						</li>
					</ul>
				{{/with}}
				<span class="label">Oppholdsadresse</span>
				{{#with oppholdsadresse}}
					<ul class="svar-liste">
						<li>
							<div>
								 <span class="verdi verdi--tekst">
									{{gatenavn}} {{husnummer}}{{husbokstav}}
								</span>
							</div>
							<div>
								<span class="verdi verdi--tekst">
									{{postnummer}} {{poststed}}
								</span>
							</div>
						</li>
					</ul>
				{{/with}}
				<span class="label">Postadresse</span>
				{{#with postadresse}}
					<ul class="svar-liste">
						<li>
							<div>
								<span class="verdi verdi--tekst">
									{{gatenavn}} {{husnummer}}{{husbokstav}}
								</span>
							</div>
							<div>
								<span class="verdi verdi--tekst">
									{{postnummer}} {{poststed}}
								</span>
							</div>
						</li>
					</ul>
				{{/with}}
			</li>
		</ul>
	</div>
{{/with}}