{{> skjema/ny_generisk/sporsmal}}

<span class="label">{{ hentTekst (concat tekst ".label") }}</span>
<ul class="svar-liste">
    <li>
        {{#if verdi}}
            <span class="verdi verdi--tekst">
                {{verdi}}
            </span>
        {{else}}
            <span class="verdi verdi--ikkeUtfylt">
                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
            </span>
        {{/if}}
        {{#hvisTekstFinnes (concat tekst ".enhet")}}
            {{ hentTekst (concat tekst ".enhet") }}
        {{/hvisTekstFinnes}}
    </li>
</ul>
