<li>
	<ul class="svar-liste">
		<li>
			<span class="verdi verdi--radio">
				{{ hentTekst (concat "utgifter.barn." verdi) }}
			</span>
		</li>
	</ul>
	{{#if verdi}}
		<h4>
			{{hentTekst "utgifter.barn.true.utgifter.sporsmal"}}
		</h4>
		<ul class="svar-liste">
			{{#each @root.soknad.data.okonomi.opplysninger.utgift}}
				{{#hvisBarneutgift type}}
					{{#hvisIkkeTom (hentTekst (concat "utgifter.boutgift.true.type." type)) }}
						<li>
							<span class="verdi verdi--radio">
								{{ hentTekst (concat "utgifter.boutgift.true.type." type) }}
							</span>
						</li>
					{{else}}
						<li>
							<span class="verdi verdi--radio">
								{{#hvisLik type "barnFritidsaktiviteter"}}
									{{ hentTekst "utgifter.barn.true.utgifter.fritidsaktivitet" }}
								{{/hvisLik}}
								{{#hvisLik type "barnTannregulering"}}
									{{ hentTekst "utgifter.barn.true.utgifter.tannbehandling" }}
								{{/hvisLik}}
								{{#hvisLik type "annenBarneutgift"}}
									{{ hentTekst "utgifter.barn.true.utgifter.annet" }}
								{{/hvisLik}}
							</span>
						</li>
					{{/hvisIkkeTom}}
				{{/hvisBarneutgift}}
			{{/each}}
			{{#each @root.soknad.data.okonomi.oversikt.utgift}}
				{{#hvisBarneutgift type}}
					<li>
						<span class="verdi verdi--radio">
							{{ hentTekst (concat "utgifter.barn.true.utgifter." type) }}
						</span>
					</li>
				{{/hvisBarneutgift}}
			{{/each}}
		</ul>
	{{/if}}
</li>