<div class="bolk js-bolk">
	{{#with data.okonomi.opplysninger}}
		<h2 class="bolk__tittel">{{ hentTekst "utgifterbolk.tittel" }}</h2>
		<ul class="fakta-liste">
			<h3>{{ hentTekst "utgifter.boutgift.sporsmal" }}</h3>
			{{#hentOkonomiBekreftelse "boutgifter"}}
				{{> skjema/ny_generisk/utgifter_boutgifter}}
			{{else}}
				<li>
					<span class="verdi verdi--ikkeUtfylt">
						<i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
					</span>
				</li>
			{{/hentOkonomiBekreftelse}}
			
			{{#if @root.soknad.data.familie.forsorgerplikt.harForsorgerplikt}}
				<h3>{{ hentTekst "utgifter.barn.sporsmal" }}</h3>
				{{#hentOkonomiBekreftelse "barneutgifter"}}
					{{> skjema/ny_generisk/utgifter_barneutgifter}}
				{{else}}
					<li>
						<span class="verdi verdi--ikkeUtfylt">
							<i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
						</span>
					</li>
				{{/hentOkonomiBekreftelse}}
			{{/if}}
		</ul>
	{{/with}}
</div>