<h2>{{ hentTekst "oppsummering.vedlegg.tittel" }}</h2>
<table class="vedlegg">
    {{#forVedlegg}}
        <tr>
            {{#hvisLik innsendingsvalg "LastetOpp"}}
                <td class="sjekket"></td>
            {{ else }}
                <td class="usjekket"></td>
            {{/hvisLik}}

            <td>
                <div class="container">
                    <p class="tittel">{{ tittel }}</p>
                    {{#if navn}}
                        <p class="navn">{{ navn }}</p>
                    {{/if}}
                    <p>
                        {{#hvisLik innsendingsvalg "LastetOpp"}}
                            <span class="lastetOpp">
                                <span class="vedleggSymbol"></span>
                                <span class="antallSider">
                                    <span>{{ antallSider }}</span>
                                    {{#hvisLik antallSider "1"}}
                                        <span>{{ hentTekst "oppsummering.side" }}</span>
                                    {{ else }}
                                        <span>{{ hentTekst "oppsummering.sider" }}</span>
                                    {{/hvisLik}}

                                </span>
                                <a href="#/visVedlegg/{{ vedleggId }}" class="seVedlegg">{{ hentTekst "oppsummering.seVedlegg" }}</a>
                            </span>
                        {{/hvisLik}}

                        {{#hvisLik innsendingsvalg "SendesSenere"}}
                        <span class="status">{{ hentTekst "oppsummering.sendesSenere" }}</span>
                        {{/hvisLik}}

                        {{#hvisLik innsendingsvalg "SendesIkke"}}
                        <span class="status">{{ hentTekst "oppsummering.sendesIkkeSendesAvAndre" }}</span>
                        {{/hvisLik}}

                        {{#hvisLik innsendingsvalg "VedleggSendesIkke"}}
                        <span class="status">{{ hentTekst "oppsummering.sendesIkke" }}</span>
                        {{/hvisLik}}

                        {{#hvisLik innsendingsvalg "VedleggSendesAvAndre"}}
                        <span class="status">{{ hentTekst "oppsummering.sendesAvAndre" }}</span>
                        {{/hvisLik}}

                        {{#hvisLik innsendingsvalg "VedleggAlleredeSendt"}}
                        <span class="status">{{ hentTekst "oppsummering.vedleggAlleredeSendt" }}</span>
                        {{/hvisLik}}
                    </p>

                    {{#hvisLik innsendingsvalg "VedleggSendesIkke"}}
                        <p><span class="aarsak">{{ aarsak }}</span></p>
                    {{/hvisLik}}
                    {{#hvisLik innsendingsvalg "VedleggAlleredeSendt"}}
                        <p><span class="aarsak">{{ aarsak }}</span></p>
                    {{/hvisLik}}
                </div>
            </td>
        </tr>
    {{ else }}
        <tr class="ingenVedleggTekst">
            <td class="sjekket"></td>
            <td >
                <span>{{ hentTekst "oppsummering.vedlegg.ingen" }}</span>
            </td>
        </tr>
    {{/forVedlegg}}
</table>