<div class="bolk js-bolk">
    {{#with data.arbeid}}
        <h2 class="bolk__tittel">{{ hentTekst "arbeidbolk.tittel" }}</h2>
        <h3>{{hentTekst "arbeidsforhold.sporsmal"}}</h3>
        {{#if @root.utvidetSoknad}}
            {{{settInnInfotekst "arbeidsforhold.infotekst"}}}
        {{/if}}
        {{#if forhold}}
            {{#each forhold}}
                <ul class="fakta-liste">
                    <li>
                        <span class="label">{{ hentTekst "arbeidsforhold.arbeidsgivernavn.label" }}</span>
                        <ul class="svar-liste">
                            <li>
                                <span class="verdi verdi--tekst">
                                    {{arbeidsgivernavn}}
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span class="label">{{ hentTekst "arbeidsforhold.fom.label" }}</span>
                        <ul class="svar-liste">
                            <li>
                                <span class="verdi verdi--tekst">
                                    {{formaterDato fom "d. MMMM yyyy"}}
                                </span>
                            </li>
                        </ul>
                    </li>
                    {{#if tom}}
                        <li>
                            <span class="label">{{ hentTekst "arbeidsforhold.tom.label" }}</span>
                            <ul class="svar-liste">
                                <li>
                                    <span class="verdi verdi--tekst">
                                        {{formaterDato fom "d. MMMM yyyy"}}
                                    </span>
                                </li>
                            </ul>
                        </li>
                    {{/if}}
                    <li>
                        <span class="label">{{ hentTekst "arbeidsforhold.stillingsprosent.label" }}</span>
                        <ul class="svar-liste">
                            <li>
                                <span class="verdi verdi--tekst">
                                    {{stillingsprosent}}
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            {{/each}}
        {{else}}
            <p>{{ hentTekst "arbeidsforhold.ingen" }}</p>
        {{/if}}
        {{#if kommentarTilArbeidsforhold.verdi}}
            <ul class="fakta-liste">
                <span class="label">{{ hentTekst "opplysninger.arbeidsituasjon.kommentarer.label" }}</span>
                <ul class="svar-liste">
                    <li>
                        <span class="verdi verdi--tekst">
                            {{kommentarTilArbeidsforhold.verdi}}
                        </span>
                    </li>
                </ul>
            </ul>
        {{else}}
	        {{#if @root.utvidetSoknad}}
	            {{ hentTekst "opplysninger.arbeidsituasjon.kommentarer.label" }}
	            <li>
	                <ul class="svar-liste">
	                    <li>
                            <span class="verdi verdi--ikkeUtfylt">
                                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                            </span>
	                    </li>
	                </ul>
	            </li>
	        {{/if}}
        {{/if}}
    {{/with}}
    <h3>{{hentTekst "arbeid.dinsituasjon.studerer.undertittel"}}</h3>
    {{#with data.utdanning}}
        <h3>{{hentTekst "dinsituasjon.studerer.sporsmal"}}</h3>
        <ul class="fakta-liste">
            <li>
                <ul class="svar-liste">
                    <li>
                        {{#hvisIkkeTom erStudent}}
                            <span class="verdi verdi--tekst">
                                {{ hentTekst (concat 'dinsituasjon.studerer.' erStudent) }}
                            </span>
                        {{else}}
                            <span class="verdi verdi--ikkeUtfylt">
                                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                            </span>
                        {{/hvisIkkeTom}}
                    </li>
                    {{#if @root.utvidetSoknad}}
                        {{{hentSvaralternativer "dinsituasjon.studerer"}}}
                    {{/if}}
                </ul>
            </li>
            {{#if erStudent}}
                <li>
                    <span class="label">{{hentTekst "dinsituasjon.studerer.true.grad.sporsmal"}}</span>
                    <ul class="svar-liste">
                        <li>
                            {{#hvisIkkeTom studentgrad}}
                                <span class="verdi verdi--tekst">
                                    {{ hentTekst (concat 'dinsituasjon.studerer.true.grad.' studentgrad) }}
                                </span>
                            {{else}}
                                <span class="verdi verdi--ikkeUtfylt">
                                    <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                </span>
                            {{/hvisIkkeTom}}
                        </li>
                        {{#if @root.utvidetSoknad}}
                            {{{hentSvaralternativer "dinsituasjon.studerer.true.grad"}}}
                        {{/if}}
                    </ul>
                </li>
            {{/if}}
        </ul>
    {{/with}}
</div>