<h3>{{ hentTekst "familie.sivilstatus.sporsmal" }}</h3>
<li>
    <ul class="svar-liste">
        <li>
            {{#if sivilstatus.status}}
                <span class="verdi verdi--tekst">
                    {{ hentTekst (concat 'familie.sivilstatus.' sivilstatus.status) }}
                </span>
            {{else}}
                <span class="verdi verdi--ikkeUtfylt">
                    <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                </span>
            {{/if}}
        </li>
        {{#if @root.utvidetSoknad}}
            {{{hentSvaralternativer "familie.sivilstatus"}}}
        {{/if}}
    </ul>
</li>
{{#with sivilstatus.ektefelle}}
    <h3>{{ hentTekst "familie.sivilstatus.gift.ektefelle.sporsmal" }}</h3>
    <li>
        <span class="label">{{ hentTekst "familie.sivilstatus.gift.ektefelle.fornavn.label" }}</span>
        <ul class="svar-liste">
            <li>
                {{#if navn.fornavn}}
                    <span class="verdi verdi--tekst">
                        {{navn.fornavn}}
                    </span>
                {{else}}
                    <span class="verdi verdi--ikkeUtfylt">
                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                    </span>
                {{/if}}
            </li>
        </ul>
    </li>
    <li>
        <span class="label">{{ hentTekst "familie.sivilstatus.gift.ektefelle.mellomnavn.label" }}</span>
        <ul class="svar-liste">
            <li>
                {{#if navn.mellomnavn}}
                    <span class="verdi verdi--tekst">
                        {{navn.mellomnavn}}
                    </span>
                {{else}}
                    <span class="verdi verdi--ikkeUtfylt">
                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                    </span>
                {{/if}}
            </li>
        </ul>
    </li>
    <li>
        <span class="label">{{ hentTekst "familie.sivilstatus.gift.ektefelle.etternavn.label" }}</span>
        <ul class="svar-liste">
            <li>
                {{#if navn.etternavn}}
                    <span class="verdi verdi--tekst">
                        {{navn.etternavn}}
                    </span>
                {{else}}
                    <span class="verdi verdi--ikkeUtfylt">
                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                    </span>
                {{/if}}
            </li>
        </ul>
    </li>
    <li>
        <span class="label">{{ hentTekst "familie.sivilstatus.gift.ektefelle.fnr.label" }}</span>
        <ul class="svar-liste">
            <li>
                {{#if fodselsdato}}
                    <span class="verdi verdi--tekst">
                        {{formaterDato fodselsdato "d. MMMM yyyy"}}
                    </span>
                {{else}}
                    <span class="verdi verdi--ikkeUtfylt">
                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                    </span>
                {{/if}}
            </li>
        </ul>
    </li>
    <li>
        <span class="label">{{ hentTekst "familie.sivilstatus.gift.ektefelle.pnr.label" }}</span>
        <ul class="svar-liste">
            <li>
                {{#if personIdentifikator}}
                    <span class="verdi verdi--tekst">
                        {{personnr personIdentifikator}}
                    </span>
                {{else}}
                    <span class="verdi verdi--ikkeUtfylt">
                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                    </span>
                {{/if}}
            </li>
        </ul>
    </li>
    {{#if personIdentifikator}}
	    <li>
	        <span class="label">{{hentTekst "personalia.fnr"}}</span>
	        <ul class="svar-liste">
	            <li>
                    <span class="verdi verdi--tekst">
                        {{personIdentifikator}}
                    </span>
	            </li>
	        </ul>
	    </li>
	{{/if}}
{{/with}}
{{#hvisLik sivilstatus.status "gift"}}
    <li>
        <span class="label">{{ hentTekst "familie.sivilstatus.gift.ektefelle.borsammen.sporsmal" }}</span>
        <ul class="svar-liste">
            <li>
                {{#hvisIkkeTom sivilstatus.borSammenMed}}
                    <span class="verdi verdi--tekst">
                        {{ hentTekst (concat 'familie.sivilstatus.gift.ektefelle.borsammen.' sivilstatus.borSammenMed) }}
                    </span>
                {{else}}
                    <span class="verdi verdi--ikkeUtfylt">
                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                    </span>
                {{/hvisIkkeTom}}
            </li>
            {{#if @root.utvidetSoknad}}
                {{{hentSvaralternativer "familie.sivilstatus.gift.borsammen"}}}
            {{/if}}
        </ul>
    </li>
{{/hvisLik}}