<h3>{{ hentTekst "utgifterbolk.tittel" }}</h3>
<li>
    <ul class="svar-liste">
        {{#each opplysninger.utgift}}
            <ul class="svar-liste">
                <li>
                    <h4>{{tittel}}</h4>
                    <ul class="fakta-liste">
                        <li>
                            {{#hvisBarneutgift type}}
                                <span class="label">{{ hentTekst (concat "opplysninger.utgifter.barn." type ".sisteregning.label") }}</span>
                            {{/hvisBarneutgift}}
                            {{#hvisBoutgift type}}
                                <span class="label">{{ hentTekst (concat "opplysninger.utgifter.boutgift." type ".sisteregning.label") }}</span>
                            {{/hvisBoutgift}}
                            {{#hvisLik type "annen"}}
                                <span class="label">{{hentTekst "opplysninger.ekstrainfo.utgifter.utgift.label"}}</span>
                            {{/hvisLik}}
                            <ul class="svar-liste">
                                <li>
                                    {{#if belop}}
                                        <span class="verdi verdi--tekst">
                                            {{belop}}
                                        </span>
                                    {{else}}
                                        <span class="verdi verdi--ikkeUtfylt">
                                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                        </span>
                                    {{/if}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        {{/each}}
        
        {{#each oversikt.utgift}}
            <ul class="svar-liste">
                <li>
                    <h4>{{tittel}}</h4>
                    <ul class="fakta-liste">
                        <li>
                            {{#hvisBarneutgift type}}
                                {{#hvisLik type "barnebidrag"}}
                                    <span class="label">{{hentTekst "opplysninger.familiesituasjon.barnebidrag.betaler.betaler.label"}}</span>
                                {{else}}
                                    <span class="label">{{ hentTekst (concat "opplysninger.utgifter.barn." type ".sistemnd.label") }}</span>
                                {{/hvisLik}}
                            {{/hvisBarneutgift}}
                            {{#hvisLik type "husleie"}}
                                <span class="label">{{hentTekst "opplysninger.utgifter.boutgift.husleie.permnd.label"}}</span>
                            {{/hvisLik}}
                            {{#hvisLik type "boliglanAvdrag"}}
                                <span class="label">{{hentTekst "opplysninger.utgifter.boutgift.avdraglaan.avdrag.label"}}</span>
                            {{/hvisLik}}
                            {{#hvisLik type "boliglanRenter"}}
                                <span class="label">{{hentTekst "opplysninger.utgifter.boutgift.avdraglaan.renter.label"}}</span>
                            {{/hvisLik}}
                            <ul class="svar-liste">
                                <li>
                                    {{#if belop}}
                                        <span class="verdi verdi--tekst">
                                            {{belop}}
                                        </span>
                                    {{else}}
                                        <span class="verdi verdi--ikkeUtfylt">
                                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                        </span>
                                    {{/if}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        {{/each}}
    </ul>
</li>