{{#forFaktum "laeremidler.funksjonshemming"}}
    <tr>
        <td class="sjekket"></td>
        <td>
            <span>{{ hentTekst (concat "soknad.laeremidler.funksjonshemming." value) }}</span>
            {{#hvisSant value}}
                <span>{{ hentTekst (concat "soknad.laeremidler.funksjonshemming." value) }}</span>
            {{/hvisSant}}
        </td>
    </tr>
    <tr>
        <td class="sjekket"></td>
        <td>
            <span>{{ hentTekst (concat "soknad.laeremidler.funksjonshemming." value) }}</span>
            {{#hvisSant value}}
                <span>{{ hentTekst "soknad.laeremidler.funksjonshemming.belop.oppsummering" }} {{properties.utgift}} </span>
            {{/hvisSant}}
        </td>
    </tr>
{{/forFaktum}}
