<hr/>
{{#forFaktum "personalia"}}
    <div class="personalia">
        <p class="nvn">{{properties.navn}}</p>
        <p class="fnr">{{properties.fnr}}</p>
        <p class="adr">{{properties.gjeldendeAdresse}}</p>
        <div>
            <span>{{ hentTekst "personalia.kontonummer" }}</span>:
            {{#hvisSant properties.erUtenlandskBankkonto}}
                <span>{{ properties.kontonummer }}</span>,
                <span>{{ properties.utenlandskKontoBanknavn }}</span>,
                <span>{{ properties.utenlandskKontoLand }}</span>
            {{else}}
                <span>{{ properties.kontonummer }}</span>
            {{/hvisSant}}
        </div>
    </div>
{{/forFaktum}}