<h2>{{ hentTekst "nyearbeidsforhold.tittel" }}</h2>
{{#forFaktum "nyearbeidsforhold.arbeidsidensist"}}
    <div class="arbeidsidensist-container">
        {{#hvisSant value}}
            <table>
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{ hentTekst "nyearbeidsforhold.arbeidsidensist.true"}}</span></td>
                </tr>

                {{#forFaktum "nyearbeidsforhold.aarsakdagpengerstanset"}}
                    <tr>
                        <td class="sjekket">
                        </td>
                        <td>
                            <span>{{ hentTekst "nyearbeidsforhold.aarsakdagpengerstanset.oppsummering" }}</span>
                            <span>{{value}}</span>
                        </td>
                    </tr>
                {{/forFaktum}}
                {{#forFaktum "nyearbeidsforhold.datogjenopptak"}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>
                            <span>{{ hentTekst "nyearbeidsforhold.datogjenopptak.oppsummering" }}</span>
                            <span>{{ formatterLangDato value}}</span>
                        </td>
                    </tr>
                {{/forFaktum}}
            </table>
            {{> skjema/dagpenger/arbeidsforhold/grensearbeider }}
        {{else}}
            <table>
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{ hentTekst "nyearbeidsforhold.arbeidsidensist.false"}}</span></td>
                </tr>

                {{#forFaktum "nyearbeidsforhold.aarsakdagpengerstanset"}}
                    <tr>
                        <td class="sjekket">
                        </td>
                        <td>
                            <span>{{ hentTekst "nyearbeidsforhold.aarsakdagpengerstanset.oppsummering" }}</span>
                            <span>{{value}}</span>
                        </td>
                    </tr>
                {{/forFaktum}}
                {{#forFaktum "nyearbeidsforhold.datogjenopptak"}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>
                            <span>{{ hentTekst "nyearbeidsforhold.datogjenopptak.oppsummering" }}</span>
                            <span>{{ formatterLangDato value}}</span>
                        </td>
                    </tr>
                {{/forFaktum}}

            </table>

            {{> skjema/dagpenger/arbeidsforhold/grensearbeider }}
            {{> skjema/dagpenger/arbeidsforhold/reberegning }}
            {{> skjema/dagpenger/arbeidsforhold/arbeidsgiver }}
        {{/hvisSant}}
    </div>
{{/forFaktum}}
