<h2>{{hentTekst "infomor.tittel"}}</h2>
<table>
    {{#forFaktumHvisSant "infomor.opplysninger.kanIkkeOppgi"}}
        {{#forFaktum "infomor.opplysninger.kanIkkeOppgi.true.arsak"}}
            {{#hvisLik "utenlandsk" value}}
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{hentFaktumValue "infomor.opplysninger.fornavn"}} {{hentFaktumValue "infomor.opplysninger.etternavn"}} </span></td>
                </tr>
                <tr>
                    <td class="sjekket"></td>
                    <td> <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.label"}}</span></td>
                </tr>
                 <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk"}}</span>
                        <br/>
                           {{#forFaktum "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk.fodselsnummer"}}
                                {{#hvisIkkeTom value}}
                                      <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk.fodselsnummer"}}: </span><i>{{value}}</i>
                                {{/hvisIkkeTom}}
                           {{/forFaktum}}
                        <br/>
                        <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk.land"}}: </span> <i>{{hentLand properties.land}}</i>
                    </td>
                </tr>

                {{> skjema/foreldresoknad/kjentmor }}
            {{/hvisLik}}
            {{#hvisLik "ukjent" value}}
                <tr>
                    <td class="sjekket"></td>
                    <td> <span>{{hentTekst "foreldresoknad.infomor.opplysninger.kanIkkeOppgi.label"}}</span></td>
                </tr>
                <tr>
                    <td class="sjekket"></td>
                    <td><span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.ukjent"}}</span>
                        {{#forFaktum 'infomor.opplysninger.kanIkkeOppgi.true.arsak.ukjent.begrunnelse'}}
                            <br/>
                            <span>
                                {{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.ukjent.begrunnelse.sporsmal"}}
                                <br/>
                                <em>{{value}}</em>
                            </span>
                        {{/forFaktum}}
                    </td>
                </tr>
            {{/hvisLik}}

        {{/forFaktum}}
    {{else}}
         <tr>
            <td class="sjekket"></td>
            <td>
              <span>
                  {{hentFaktumValue "infomor.opplysninger.fornavn"}} {{hentFaktumValue "infomor.opplysninger.etternavn"}},
                       {{#forFaktum "infomor.opplysninger.personinfo"}}
                          {{properties.personnummer}}
                       {{/forFaktum}}
              </span>
            </td>
         </tr>
        {{> skjema/foreldresoknad/kjentmor }}
    {{/forFaktumHvisSant}}
</table>