<hr/>
{{#forFaktum "personalia"}}
    <div class="personalia">
        <p class="nvn">{{properties.navn}}</p>
        <p class="fnr">{{properties.fnr}}</p>
        <p class="adr">{{properties.gjeldendeAdresse}}</p>
        {{#if properties.kontonummer }}
        <div>
            <span>{{ hentTekst "personalia.kontonummer" }}</span>:
            <span>{{ properties.kontonummer ~}}</span>
            {{~#hvisSant properties.erUtenlandskBankkonto ~}}
                 , <span>{{ properties.utenlandskKontoBanknavn }}</span>,
                <span>{{ properties.utenlandskKontoLand ~}}</span>
            {{/hvisSant}}
        </div>
        {{/if}}
    </div>
{{/forFaktum}}