<h2>{{ hentTekst "andreytelser.tittel" }}</h2>

<h3>{{ hentTekst "andreytelser.ytelserfraNAV.overskrift" }}</h3>
<table>
    {{#forFaktum "andreytelser.ytelserfraNAV.kvalifiseringsstonad"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "andreytelser.ytelserfraNAV.kvalifiseringsstonad"}}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "andreytelser.ytelserfraNAV.okonomisksosialhjelp"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "andreytelser.ytelserfraNAV.okonomisksosialhjelp"}}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "andreytelser.ytelserfraNAV.ikkemottattellersokt"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "andreytelser.ytelserfraNAV.ikkemottattellersokt"}}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
</table>

{{#forFaktum "andreytelser.utbetalinger.fraarbeidsgiver"}}
    {{#hvisIkkeTom value}}
        <h3>{{ hentTekst "andreytelser.utbetalinger.fraarbeidsgiver.overskrift" }}</h3>
        <table>
            <tr>
                <td class="sjekket"></td>
                <td>
                    {{#hvisSant value}}
                        <span>{{ hentTekst "andreytelser.utbetalinger.fraarbeidsgiver.true" }}</span>
                    {{ else }}
                        <span>{{ hentTekst "andreytelser.utbetalinger.fraarbeidsgiver.false" }}</span>
                        <ul>
                            {{#forFaktum "andreytelser.utbetalinger.fraarbeidsgiver.utbetalingen.engangsbelop"}}
                                {{#hvisSant value}}
                                    <li class="kulepunkt">
                                        <span>{{ hentTekst "andreytelser.utbetalinger.fraarbeidsgiver.utbetalingen.engangsbelop" }}. </span>
                                        {{#forFaktum "andreytelser.utbetalinger.fraarbeidsgiver.engangsbelop.belop"}}
                                            {{#hvisIkkeTom value}}
                                                <span>{{hentTekst "andreytelser.utbetalinger.fraarbeidsgiver.utbetalingen.engangsbelop.belop.label"}}: {{ value }} kr</span>
                                            {{/hvisIkkeTom}}
                                        {{/forFaktum}}
                                    </li>
                                {{/hvisSant}}
                            {{/forFaktum}}
                            {{#forFaktum "andreytelser.utbetalinger.fraarbeidsgiver.utbetalingen.lopendeutbetaling"}}
                                {{#hvisSant value}}
                                    <li class="kulepunkt">
                                        <span>{{ hentTekst "andreytelser.utbetalinger.fraarbeidsgiver.utbetalingen.lopendeutbetaling" }}</span>
                                        <ul>
                                            {{#forFaktum "andreytelser.utbetalinger.fraarbeidsgiver.lopendeutbetaling.belop"}}
                                                {{#hvisIkkeTom value}}
                                                    <li class="kulepunkt">
                                                        <span>{{hentTekst "oppsummering.andreYtelser.beloepPerMaaned"}}: {{ value }} kr</span>
                                                    </li>
                                                {{/hvisIkkeTom}}
                                            {{/forFaktum}}
                                            {{#forFaktum "andreytelser.utbetalinger.fraarbeidsgiver.lopendeutbetaling.opphorer"}}
                                                {{#hvisIkkeTom properties}}
                                                    <li class="kulepunkt">
                                                        <span>{{hentTekst "oppsummering.andreYtelser.opphoerer"}}: {{ toLowerCase properties.maaned }} {{ properties.aar }}</span>
                                                    </li>
                                                {{/hvisIkkeTom}}
                                            {{/forFaktum}}
                                        </ul>
                                    </li>
                                {{/hvisSant}}
                            {{/forFaktum}}
                        </ul>
                    {{/hvisSant}}
                </td>
            </tr>
        </table>
    {{/hvisIkkeTom}}
{{/forFaktum}}


<h3>{{ hentTekst "andreytelser.utbetalinger.fraandre.overskrift" }}</h3>
<table>
    {{#forFaktum "andreytelser.utbetalinger.fraandre.omsorgslonn"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "andreytelser.utbetalinger.fraandre.omsorgslonn"}}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "andreytelser.utbetalinger.fraandre.fosterhjemsgodtgjorelse"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "andreytelser.utbetalinger.fraandre.fosterhjemsgodtgjorelse"}}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "andreytelser.utbetalinger.fraandre.verv"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "andreytelser.utbetalinger.fraandre.verv"}}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "andreytelser.utbetalinger.fraandre.utenlandsketrygdemyndigheter"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "andreytelser.utbetalinger.fraandre.utenlandsketrygdemyndigheter"}}</span>
                    <ul>
                        {{#forFaktum "andreytelser.utbetalinger.fraandre.utenlandsketrygdemyndigheter.ytelse"}}
                            {{#hvisIkkeTom value}}
                                <li class="kulepunkt">
                                    <span>{{hentTekst "oppsummering.andreYtelser.ytelse"}}: {{ value }}</span>
                                </li>
                            {{/hvisIkkeTom}}
                        {{/forFaktum}}
                        {{#forFaktum "andreytelser.utbetalinger.fraandre.utenlandsketrygdemyndigheter.land"}}
                            {{#hvisIkkeTom value}}
                                <li class="kulepunkt">
                                    <span>{{hentTekst "oppsummering.andreYtelser.land"}}: {{ value }}</span>
                                </li>
                            {{/hvisIkkeTom}}
                        {{/forFaktum}}
                    </ul>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "andreytelser.utbetalinger.fraandre.annet"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "andreytelser.utbetalinger.fraandre.annet"}}</span>
                    <ul>
                        {{#forFaktum "andreytelser.utbetalinger.fraandre.annet.ytelse"}}
                            {{#hvisIkkeTom value}}
                                <li class="kulepunkt">
                                    <span>{{hentTekst "oppsummering.andreYtelser.ytelse"}}: {{ value }}</span>
                                </li>
                            {{/hvisIkkeTom}}
                        {{/forFaktum}}
                        {{#forFaktum "andreytelser.utbetalinger.fraandre.annet.utbetaler"}}
                            {{#hvisIkkeTom value}}
                                <li class="kulepunkt">
                                    <span>{{hentTekst "oppsummering.andreYtelser.utbetaler"}}: {{ value }}</span>
                                </li>
                            {{/hvisIkkeTom}}
                        {{/forFaktum}}
                    </ul>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "andreytelser.utbetalinger.fraandre.ikkemottattellersokt"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "andreytelser.utbetalinger.fraandre.ikkemottattellersokt"}}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
</table>