<h2>{{ hentTekst "barnetillegg.tittel" }}</h2>
<table class="fakta-rad-oppsett">
    {{#forFakta "barn"}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <div class="faktum-felt">
                    <span class="barn-navn">{{ properties.sammensattnavn }}</span>
                </div>
                <div class="faktum-felt">
                    <span>{{ hentTekst "oppsummering.barnetillegg.fodt" }}</span>
                    {{#hvisLik type "SYSTEMREGISTRERT"}}
                        <span>{{ formatterFodelsDato properties.fnr }},</span>
                    {{ else }}
                        <span>{{ formatterFodelsDato properties.fodselsdato }},</span>
                    {{/hvisLik}}

                    <span>{{ hentTekst "oppsummering.bor" }}</span>
                    <span>{{ hentLand properties.land }}</span>
                </div>

                <div class="kulepunkt faktum-felt">
                    {{#harBarnetInntekt}}
                        <span>{{ hentTekst "barnetillegg.barn.harInntekt"}}. </span>
                        <span>{{ hentTekst "oppsummering.barnetillegg.inntekt.prefix"}} {{value}} kr</span>
                    {{else}}
                        <span>{{ hentTekst "barnetillegg.barn.harIkkeInntekt"}}</span>
                    {{/harBarnetInntekt}}
                </div>
            </td>
        </tr>
    {{/forFakta}}
</table>