<h2>{{ hentTekst "fastlege.tittel" }}</h2>
<table>
    {{#forFaktum "fastlege.harIkkeFastlege"}}

        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <div>{{ hentTekst "fastlege.annen.behandlende.navn.label" }}:</div>
                    <span>{{ hentFaktumValue "fastlege.annen.behandlende.navn" }}</span>
                    <br/>
                    <span>Telefonnummer: {{ hentFaktumValue "fastlege.annen.behandlende.tlfnr" }}</span>
                </td>
            </tr>
        {{else}}
            <tr>
                <td class="sjekket"></td>
                <td>
                        <span>Fastlege: {{ hentFaktumValue "fastlege.navn" }}
                            , telefonnummer: {{ hentFaktumValue "fastlege.tlfnr" }}</span>
                </td>
            </tr>
        {{/hvisSant}}

    {{else}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>Fastlege: {{ hentFaktumValue "fastlege.navn" }}
                    , telefonnummer: {{ hentFaktumValue "fastlege.tlfnr" }}</span>
            </td>
        </tr>

    {{/forFaktum}}
</table>