<h2>{{ hentTekst "navaerendeSituasjon.tittel" }}</h2>
<table>
    {{#forFaktum "navaerendeSituasjon.iArbeid"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "navaerendeSituasjon.iArbeid"}}</span>
                    <ul>
                        {{#forFaktum "navaerendeSituasjon.iArbeid.ansatt"}}
                            {{#hvisSant value}}
                                <li class="kulepunkt">
                                    <span>{{ hentTekst "navaerendeSituasjon.iArbeid.ansatt"}}</span>
                                </li>
                            {{/hvisSant}}
                        {{/forFaktum}}
                        {{#forFaktum "navaerendeSituasjon.iArbeid.selvstendigNaeringsdrivende"}}
                            {{#hvisSant value}}
                                <li class="kulepunkt">
                                    <span>{{ hentTekst "navaerendeSituasjon.iArbeid.selvstendigNaeringsdrivende"}}</span>
                                </li>
                            {{/hvisSant}}
                        {{/forFaktum}}
                    </ul>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "navaerendeSituasjon.sykmeldt"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "navaerendeSituasjon.sykmeldt"}}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "navaerendeSituasjon.arbeidsledig"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "navaerendeSituasjon.arbeidsledig"}}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "navaerendeSituasjon.student"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "navaerendeSituasjon.student"}}</span>
                    <ul>
                        {{#forFaktum "navaerendeSituasjon.student.studererFortsatt"}}
                            <li class="kulepunkt">
                                {{#hvisSant value}}
                                    <span>{{ hentTekst "navaerendeSituasjon.student.studererFortsatt.true"}}</span>
                                {{else}}
                                    <span>{{ hentTekst "navaerendeSituasjon.student.studererFortsatt.false"}}</span>
                                {{/hvisSant}}
                            </li>
                            {{#forFaktum "navaerendeSituasjon.student.avbruttStudie.ikkeTilbake"}}
                                <li class="kulepunkt">
                                    {{#hvisSant value}}
                                        <span>{{ hentTekst "navaerendeSituasjon.student.avbruttStudie.ikkeTilbake.true"}}</span>
                                    {{else}}
                                        <span>{{ hentTekst "navaerendeSituasjon.student.avbruttStudie.ikkeTilbake.false"}}</span>
                                    {{/hvisSant}}
                                </li>
                                {{#forFaktum "navaerendeSituasjon.student.avbruttStudie.vilFortsette.mottarSykestipend"}}

                                    <li class="kulepunkt">
                                        {{#hvisSant value}}
                                            <span>{{ hentTekst "navaerendeSituasjon.student.avbruttStudie.vilFortsette.mottarSykestipend.true"}}</span>
                                        {{else}}
                                            <span>{{ hentTekst "navaerendeSituasjon.student.avbruttStudie.vilFortsette.mottarSykestipend.false"}}</span>
                                        {{/hvisSant}}
                                    </li>

                                {{/forFaktum}}
                            {{/forFaktum}}
                        {{/forFaktum}}
                    </ul>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "navaerendeSituasjon.forstegangstjeneste"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "navaerendeSituasjon.forstegangstjeneste"}}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "navaerendeSituasjon.annet"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "navaerendeSituasjon.annet"}}</span>
                    <ul>
                        {{#forFaktum "navaerendeSituasjon.annet.fritekst"}}
                            {{#hvisIkkeTom value}}
                                <li class="kulepunkt">
                                    <span>{{ value }}</span>
                                </li>
                            {{/hvisIkkeTom}}
                        {{/forFaktum}}
                    </ul>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
</table>