{{#forFaktum "navaerendeSituasjon.student"}}
    <h2>{{ hentTekst "samtalen.tittel" }}</h2>
    {{#hvisSant value}}
        {{#hvisKunStudent}}
            {{! Søkeren er kun student. }}
            {{#forFaktum "navaerendeSituasjon.student.studererFortsatt"}}
                {{#hvisSant value}}
                    {{! Søkeren er kun student og studerer fortsatt. }}
                    {{#forFaktum "samtalen.student.ikketilbaketilstudiet.samtalemedNAV"}}
                        {{> skjema/aap/samtalen/fullstendigStudentvisning }}
                    {{/forFaktum}}
                {{else}}
                    {{#forFaktum "navaerendeSituasjon.student.avbruttStudie.ikkeTilbake"}}
                        {{#hvisSant value}}
                            {{! Søkeren er kun student og har avbrutt studiet og planlegger ikke å komme tilbake. }}
                            {{#forFaktum "samtalen.student.ikketilbaketilstudiet.samtalemedNAV"}}
                                {{> skjema/aap/samtalen/fullstendigStudentvisning }}
                            {{/forFaktum}}
                        {{else}}
                            {{! Brukeren er kun student og har avbrutt studiet, men har planer om å fortsette studiet senere. }}
                            {{#forFaktum "samtalen.student.tilbaketilstudiet.samtalemedNAV"}}
                                {{> skjema/aap/samtalen/enkelStudentvisning }}
                            {{/forFaktum}}
                        {{/hvisSant}}
                    {{/forFaktum}}
                {{/hvisSant}}
            {{/forFaktum}}
        {{else}}
            {{! Søkeren er ikke bare student. }}
            {{#forFaktum "samtalen.samtalemedNAV"}}
                {{> skjema/aap/samtalen/hovedvisning }}
            {{/forFaktum}}
        {{/hvisKunStudent}}
    {{else}}
        {{! Søkeren er ikke student i det hele tatt, men har huket på og av studentvalget (faktum.value = false). }}
        {{#forFaktum "samtalen.samtalemedNAV"}}
            {{> skjema/aap/samtalen/hovedvisning }}
        {{/forFaktum}}
    {{/hvisSant}}
{{else}}
    <h2>{{ hentTekst "samtalen.tittel" }}</h2>
    {{! Søkeren har ikke rørt studentvalget (faktum.value = null). }}
    {{#forFaktum "samtalen.samtalemedNAV"}}
        {{> skjema/aap/samtalen/hovedvisning }}
    {{/forFaktum}}
{{/forFaktum}}