{{#forFaktum "tilknytningNorge.oppholdINorgeSisteTreAar"}}
    {{#hvisIkkeTom value}}
        <h2>{{ hentTekst "tilknytningNorge.tittel" }}</h2>
        <h3>{{ hentTekst "tilknytningNorge.oppholdINorgeSisteTreAar.overskrift" }}</h3>
        <table>
            <tr>
                <td class="sjekket"></td>
                <td>
                    {{#hvisSant value}}
                        <span>{{ hentTekst "tilknytningNorge.oppholdINorgeSisteTreAar.true" }}</span>
                    {{else}}
                        <span>{{ hentTekst "tilknytningNorge.oppholdINorgeSisteTreAar.false" }}</span>
                        <ul>
                            {{#forFaktum "tilknytningNorge.oppholdINorgeSisteTreAar.false.boddINorgeSisteAaret"}}
                                {{#hvisSant value}}
                                    <li class="kulepunkt">
                                        <span>{{ hentTekst "tilknytningNorge.oppholdINorgeSisteTreAar.false.boddINorgeSisteAaret"}}</span>
                                    </li>
                                {{/hvisSant}}
                            {{/forFaktum}}
                            {{#forFaktum "tilknytningNorge.oppholdINorgeSisteTreAar.false.boddIEOSLandSisteTreAar"}}
                                {{#hvisSant value}}
                                    <li class="kulepunkt">
                                        <span>{{ hentTekst "tilknytningNorge.oppholdINorgeSisteTreAar.false.boddIEOSLandSisteTreAar"}}</span>
                                    </li>
                                {{/hvisSant}}
                            {{/forFaktum}}
                            {{#forFaktum "tilknytningNorge.oppholdINorgeSisteTreAar.false.registrertFlyktning"}}
                                {{#hvisSant value}}
                                    <li class="kulepunkt">
                                        <span>{{ hentTekst "tilknytningNorge.oppholdINorgeSisteTreAar.false.registrertFlyktning"}}</span>
                                    </li>
                                {{/hvisSant}}
                            {{/forFaktum}}
                        </ul>
                    {{/hvisSant}}
                </td>
            </tr>
        </table>
    {{/hvisIkkeTom}}
{{/forFaktum}}
{{#forFaktum "tilknytningNorge.arbeidIUtlandet"}}
    {{#hvisIkkeTom value}}
        <h3>{{ hentTekst "tilknytningNorge.arbeidIUtlandet.overskrift" }}</h3>
        <table>
            <tr>
                <td class="sjekket"></td>
                <td>
                    {{#hvisSant value}}
                        <span>{{ hentTekst "tilknytningNorge.arbeidIUtlandet.true" }}</span>
                    {{else}}
                        <span>{{ hentTekst "tilknytningNorge.arbeidIUtlandet.false" }}</span>

                        <ul>
                            {{#forFakta "tilknytningNorge.arbeidIUtlandet.periode"}}
                                <li class="kulepunkt">
                                    <span>{{hentTekst "oppsummering.tiltakspenger.tilknytningNorge.land"}}: {{ hentLand properties.land }},</span>
                                    <span>{{hentTekst "oppsummering.tiltakspenger.tilknytningNorge.fra"}} {{ toLowerCase properties.fraMaaned }} {{ properties.fraAar }}</span>
                                    <span>{{hentTekst "oppsummering.tiltakspenger.tilknytningNorge.til"}} {{ toLowerCase properties.tilMaaned }} {{ properties.tilAar }}</span>
                                </li>
                            {{/forFakta}}
                        </ul>
                    {{/hvisSant}}
                </td>
            </tr>
        </table>
    {{/hvisIkkeTom}}
{{/forFaktum}}