<h2>{{ hentTekst "barnetillegg.tittel" }}</h2>
<table>
    {{#forFakta "barn"}}
        {{#hvisMindre properties.alder "16"}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <div>
                        <span class="barn-navn">{{ properties.fornavn }} {{ properties.etternavn }}</span>
                    </div>
                    <div>
                        <span>{{ hentTekst "oppsummering.fodt" }}</span>
                        {{#hvisLik type "SYSTEMREGISTRERT"}}
                            <span>{{ formatterFodelsDato properties.fnr }},</span>
                        {{ else }}
                            <span>{{ formatterFodelsDato properties.fodselsdato }},</span>
                        {{/hvisLik}}
                        <span>{{ hentTekst "oppsummering.bor" }}</span>
                        <span>{{ hentLand properties.land }}</span>
                    </div>

                    <ul>
                        <li class="kulepunkt faktum-felt">
                            {{#hvisLik  properties.sokerbarnetillegg "nei"}}
                                <span>{{ hentTekst "barnetillegg.barn.sokebarnetillegg.nei"}}. </span>
                            {{ else }}
                                <span>{{ hentTekst "barnetillegg.barn.sokebarnetillegg.ja"}}. </span>
                                <ul>
                                    {{#hvisLik  properties.harinntekt "ja"}}
                                        <li class="kulepunkt medstrek faktum-felt">
                                            <span>{{ hentTekst "barnetillegg.barn.harinntekt.ja"}}. </span>
                                            <span> {{hentTekst "oppsummering.barnetillegg.inntekt"}}: <em>{{properties.inntekt}} </em>{{ hentTekst "soknad.kr"}}</span>
                                        </li>
                                    {{/hvisLik}}
                                    {{#hvisLik  properties.harinntekt "nei"}}
                                        <li class="kulepunkt medstrek faktum-felt">
                                            <span>{{ hentTekst "barnetillegg.barn.harinntekt.nei"}} </span>
                                        </li>
                                    {{/hvisLik}}
                                </ul>
                            {{/hvisLik}}
                        </li>
                    </ul>
                </td>
            </tr>
        {{/hvisMindre }}
    {{else}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <div class="faktum-felt">
                    <span>{{hentTekst "oppsummering.barnetillegg.ingenbarn"}}</span>
                </div>
            </td>
        </tr>
    {{/forFakta}}
</table>
