{{#forBarnefakta "barnepass.fjerdeklasse"}}
    {{#hvisSant value}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{hentTekst "soknad.barnepass.fjerdeklasse.true"}}</span>
            </td>
        </tr>
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{hentTekst "soknadtilleggsstonader.oppsummering.barnepass.aarsak"}}</span>
            </td>
        </tr>

        <tr>
            <td></td>
            <td>
                <table>
                    {{#forBarnefakta "barnepass.fjerdeklasse.langvarig"}}
                        {{#hvisSant value}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{ hentTekst "soknad.barnepass.fjerdeklasse.aarsak.langvarig" }}</span>
                                </td>
                            </tr>
                        {{/hvisSant}}
                    {{/forBarnefakta}}

                    {{#forBarnefakta "barnepass.fjerdeklasse.trengertilsyn"}}
                        {{#hvisSant value}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{ hentTekst "soknad.barnepass.fjerdeklasse.aarsak.tilsyn" }}</span>
                                </td>
                            </tr>
                        {{/hvisSant}}
                    {{/forBarnefakta}}

                    {{#forBarnefakta "barnepass.fjerdeklasse.ingen"}}
                        {{#hvisSant value}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{ hentTekst "soknad.barnepass.fjerdeklasse.aarsak.ingen" }}</span>
                                </td>
                            </tr>
                        {{/hvisSant}}
                    {{/forBarnefakta}}
                </table>
            </td>
        </tr>
    {{else}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{hentTekst "soknad.barnepass.fjerdeklasse.false"}}</span>
            </td>
        </tr>
    {{/hvisSant}}
{{/forBarnefakta}}