<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        {{> skjema/felles/styling }}
    </head>
    <body>

        <div class="header">
            <img class="header-logo" src="img/nav-logo.gif"/>
            {{#forFaktum "personalia"}}
                <span class="navn">{{properties.navn}}</span>
                <span class="fnr">{{properties.fnr}}</span>
            {{/forFaktum}}
            <span class="headerSider">
                {{ hentTekst "oppsummering.sideAvTotal" }}
            </span>
        </div>

        <div class="footer">
            <span>
                <span>{{ hentSkjemanummer }} {{ hentTekst "oppsummering.eSoknad" }}</span>
                <span>|</span>
                <span>{{ hentTekst "oppsummering.fastsattDato" }}</span>
            </span>
        </div>

        <div id="soknad">
            <img class="logo" src="img/nav-logo.gif"/>
            <div class="hode">
                <h1>{{ hentTekst "soknadtilleggsstonader.oppsummering.tittel" }}</h1>
                {{> skjema/tilleggsstonader/personalia }}
            </div>

            {{#block "content" }}{{/block}}

            {{> skjema/felles/vedlegg }}
        </div>
    </body>
</html>