<h2>{{hentTekst "soknad.flytting.tittel"}}</h2>
<table>
    <tr>
        <td class="sjekket"></td>
        <td>
            {{#forFaktum "flytting.hvorforflytte"}}
                {{#hvisLik value "nyjobb"}}
                    <span>{{ hentTekst "soknad.flytting.hvorforflytte.nyjobb" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "aktivitet"}}
                    <span>{{ hentTekst "soknad.flytting.hvorforflytte.aktivitet" }}</span>
                {{/hvisLik}}
            {{/forFaktum}}
        </td>
    </tr>

    {{#forFaktum "flytting.hvorforflytte"}}
        {{#hvisLik value "nyjobb"}}
            <tr>
                {{#forFaktum "flytting.nyjobb.startdato"}}
                    <td class="sjekket"></td>
                    <td>{{hentTekst "soknad.flytting.nyjobb.startdato.label"}}: {{formatterLangDato value}}</td>
                {{/forFaktum}}
            </tr>
            <tr>
                {{#forFaktum "flytting.nyjobb.flyttedato"}}
                    <td class="sjekket"></td>
                    <td>{{hentTekst "soknad.flytting.nyjobb.flyttedato.label"}}: {{formatterLangDato value}}</td>
                {{/forFaktum}}
            </tr>
        {{/hvisLik}}
    {{/forFaktum}}


    <tr>
        {{#forFaktum "flytting.nyadresse.gateadresse"}}
            <td class="sjekket"></td>
            <td><span>{{hentTekst "soknad.flytting.nyadresse.gateadresse.label"}}: {{value}}</span></td>
        {{/forFaktum}}
        {{#forFaktum "flytting.nyadresse.postnummer"}}
            <td class="sjekket"></td>
            <td><span>{{hentTekst "soknad.flytting.nyadresse.postnummer.label"}}: {{value}}</span></td>
        {{/forFaktum}}
    </tr>


    {{#forFaktum "flytting.selvellerbistand"}}
        {{#hvisIkkeTom value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    {{#hvisLik value "flytterselv"}}
                        <span>{{ hentTekst "soknad.flytting.spm.selvellerbistand.flytterselv" }}</span>
                    {{/hvisLik}}
                    {{#hvisLik value "flyttebyraa"}}
                        <span>{{ hentTekst "soknad.flytting.spm.selvellerbistand.flyttebyraa" }}</span>
                    {{/hvisLik}}
                    {{#hvisLik value "tilbudmenflytterselv"}}
                        <span>{{ hentTekst "soknad.flytting.spm.selvellerbistand.tilbudmenflytterselv" }}</span>
                    {{/hvisLik}}
                </td>
            </tr>
        {{/hvisIkkeTom}}
    {{/forFaktum}}
</table>