<h2>{{hentTekst "soknad.flytting.tittel"}}</h2>
<table>
    <tr>
        <td class="sjekket"></td>
        <td>
            {{#forFaktum "flytting.hvorforflytte"}}
                {{#hvisLik value "nyjobb"}}
                    <span>{{ hentTekst "soknad.flytting.hvorforflytte.nyjobb" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "aktivitet"}}
                    <span>{{ hentTekst "soknad.flytting.hvorforflytte.aktivitet" }}</span>
                {{/hvisLik}}
            {{/forFaktum}}
        </td>
    </tr>

    {{#forFaktum "flytting.hvorforflytte"}}
        {{#hvisLik value "nyjobb"}}
            <tr>
                {{#forFaktum "flytting.nyjobb.startdato"}}
                    <td class="sjekket"></td>
                    <td>{{hentTekst "soknad.flytting.nyjobb.startdato.label"}}: {{formatterLangDato value}}</td>
                {{/forFaktum}}
            </tr>
            <tr>
                {{#forFaktum "flytting.nyjobb.flyttedato"}}
                    <td class="sjekket"></td>
                    <td>{{hentTekst "soknad.flytting.nyjobb.flyttedato.label"}}: {{formatterLangDato value}}</td>
                {{/forFaktum}}
            </tr>
        {{/hvisLik}}
    {{/forFaktum}}


    <tr>
        {{#forFaktum "flytting.nyadresse.gateadresse"}}
            <td class="sjekket"></td>
            <td><span>{{hentTekst "soknad.flytting.nyadresse.gateadresse.label"}}: {{value}}</span></td>
        {{/forFaktum}}
        {{#forFaktum "flytting.nyadresse.postnummer"}}
            <td class="sjekket"></td>
            <td><span>{{hentTekst "soknad.flytting.nyadresse.postnummer.label"}}: {{value}}</span></td>
        {{/forFaktum}}
    </tr>


    {{#forFaktum "flytting.selvellerbistand"}}
        {{#hvisIkkeTom value}}
            {{#hvisLik value "flytterselv"}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span>{{ hentTekst "soknad.flytting.spm.selvellerbistand.flytterselv" }}</span>
                    </td>
                </tr>
            {{/hvisLik}}
            {{#hvisLik value "flyttebyraa"}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span>{{ hentTekst "soknad.flytting.spm.selvellerbistand.flyttebyraa" }}</span>
                    </td>
                </tr>
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        {{#forFaktum "flytting.flyttebyraa.forste.navn"}}
                            <span>{{ value }}:</span>
                        {{/forFaktum}}
                        {{#forFaktum "flytting.flyttebyraa.forste.belop"}}
                            <span>{{ value }}</span>
                        {{/forFaktum}}
                        <span>{{ hentTekst "soknad.flytting.oppsummering.kr" }}</span>
                    </td>
                </tr>
                {{#forFaktum "flytting.flyttebyraa.velgforste"}}
                    {{#hvisSant value}}
                        <tr>
                            <td></td>
                            <td>
                                <span>{{ hentTekst "soknad.flytting.spm.flyttebyraa.velgforste.label" }}</span>
                            </td>
                        </tr>
                    {{/hvisSant}}
                {{/forFaktum}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        {{#forFaktum "flytting.flyttebyraa.andre.navn"}}
                            <span>{{ value }}:</span>
                        {{/forFaktum}}
                        {{#forFaktum "flytting.flyttebyraa.andre.belop"}}
                            <span>{{ value }}</span>
                        {{/forFaktum}}
                        <span>{{ hentTekst "soknad.flytting.oppsummering.kr" }}</span>
                    </td>
                </tr>
                {{#forFaktum "flytting.flyttebyraa.velgandre"}}
                    {{#hvisSant value}}
                        <tr>
                            <td></td>
                            <td>
                                <span>{{ hentTekst "soknad.flytting.spm.flyttebyraa.velgandre.label" }}</span>
                            </td>
                        </tr>
                    {{/hvisSant}}
                {{/forFaktum}}
            {{/hvisLik}}
            {{#hvisLik value "tilbudmenflytterselv"}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span>{{ hentTekst "soknad.flytting.spm.selvellerbistand.tilbudmenflytterselv" }}</span>
                    </td>
                </tr>
            {{/hvisLik}}
        {{/hvisIkkeTom}}
    {{/forFaktum}}
</table>