{{#with data.begrunnelse}}
    <div class="bolk js-bolk">
        <h2 class="bolk__tittel">{{ hentTekst "begrunnelsebolk.tittel" }}</h2>
        <ul class="fakta-liste">
            <h3>{{ hentTekst "begrunnelse.hva.sporsmal" }}</h3>
            <li>
                <ul class="svar-liste">
                    <li>
                        {{#if hvaSokesOm}}
                            <span class="verdi verdi--tekst">
                                {{hvaSokesOm}}
                            </span>
                        {{else}}
                            <span class="verdi verdi--ikkeUtfylt">
                                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                            </span>
                        {{/if}}
                    </li>
                </ul>
            </li>
            <h3>{{ hentTekst "begrunnelse.hvorfor.sporsmal" }}</h3>
            <li>
                <ul class="svar-liste">
                    <li>
                        {{#if hvorforSoke}}
                            <span class="verdi verdi--tekst">
                                {{hvorforSoke}}
                            </span>
                        {{else}}
                            <span class="verdi verdi--ikkeUtfylt">
                                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                            </span>
                        {{/if}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{{/with}}