<div class="bolk js-bolk">
    {{#with data.bosituasjon}}
        <h2 class="bolk__tittel">{{ hentTekst "bosituasjonbolk.tittel" }}</h2>
        <ul class="fakta-liste">
            <h3>{{ hentTekst "bosituasjon.sporsmal" }}</h3>
            <li>
                <ul class="svar-liste">
                    <li>
                        {{#hvisIkkeTom botype}}
                            {{#hvisIkkeTom (hentTekst (concat 'bosituasjon.' botype))}}
                                <span class="verdi verdi--tekst">
                                    {{ hentTekst (concat 'bosituasjon.' botype) }}
                                </span>
                            {{else}}
                                <span class="verdi verdi--tekst">
                                    {{ hentTekst (concat 'bosituasjon.annet.botype.' botype) }}
                                </span>
                            {{/hvisIkkeTom}}
                        {{else}}
                            <span class="verdi verdi--ikkeUtfylt">
                                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                            </span>
                        {{/hvisIkkeTom}}
                    </li>
                    {{#if @root.utvidetSoknad}}
                        {{{hentSvaralternativer "bosituasjon"}}}
                        <span>Under {{hentTekst "bosituasjon.annet"}}:</span>
                        {{{hentSvaralternativer "bosituasjon.annet.botype"}}}
                    {{/if}}
                </ul>
            </li>
            <h3 class="label">{{ hentTekst "bosituasjon.antallpersoner.sporsmal" }}</h3>
            <li>
                <ul class="svar-liste">
                    <li>
                        {{#hvisIkkeTom antallPersoner}}
                            <span class="verdi verdi--tekst">
                                {{ antallPersoner }}
                            </span>
                        {{else}}
                            <span class="verdi verdi--ikkeUtfylt">
                                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                            </span>
                        {{/hvisIkkeTom}}
                    </li>
                </ul>
            </li>
        </ul>
    {{/with}}
</div>