{{#if @root.utvidetSoknad}}
    {{!--{hentTekstMedParametere "familierelasjon.ingress" "antallBarn" forsorgerplikt.ansvar.size}--}}
    {{{hentTekst "familierelasjon.ingress_folkeregisteret"}}}
    {{{hentTekst "familierelasjon.ingress_forsorger"}}}
    {{{hentTekstMedParametere "antallBarn" forsorgerplikt.ansvar.size}}}
{{/if}}
{{#each forsorgerplikt.ansvar}}
    {{#unless barn.harDiskresjonskode}}
        <h3>{{ hentTekst "system.familie.barn.true.listetittel" }}</h3>
	    {{#with barn}}
	        <li>
	            <span class="label">{{ hentTekst "kontakt.system.personalia.navn" }}</span>
	            <ul class="svar-liste">
	                <li>
	                    <span class="verdi verdi--tekst">
	                        {{navn.fornavn}} {{navn.mellomnavn}} {{navn.etternavn}}
	                    </span>
	                </li>
	            </ul>
	        </li>
	        {{#if fodselsdato}}
	            <li>
	                <span class="label">{{ hentTekst "familierelasjon.fodselsdato" }}</span>
	                <ul class="svar-liste">
	                    <li>
	                        <span class="verdi verdi--tekst">
                                {{formaterDato fodselsdato "d. MMMM yyyy"}}
	                        </span>
	                    </li>
	                </ul>
	            </li>
	        {{/if}}
	    {{/with}}
	    {{#hvisIkkeTom erFolkeregistrertSammen.verdi}}
	        <li>
	            <span class="label">{{ hentTekst "familierelasjon.samme_folkeregistrerte_adresse" }}</span>
	            <ul class="svar-liste">
	                <li>
	                    <span class="verdi verdi--tekst">
	                        {{ hentTekst (concat 'system.familie.barn.true.barn.folkeregistrertsammen.' erFolkeregistrertSammen.verdi) }}
	                    </span>
	                </li>
	            </ul>
	        </li>
	    {{/hvisIkkeTom}}
	    {{#if erFolkeregistrertSammen.verdi}}
		    <li>
		        <span class="label">{{ hentTekst "system.familie.barn.true.barn.deltbosted.sporsmal" }}</span>
		        {{#if @root.utvidetSoknad}}
		            {{{settInnHjelpetekst "system.familie.barn.true.barn.deltbosted.hjelpetekst.tekst"}}}
		        {{/if}}
		        <ul class="svar-liste">
		            <li>
		                {{#hvisIkkeTom harDeltBosted.verdi}}
		                    <span class="verdi verdi--tekst">
		                        {{ hentTekst (concat 'system.familie.barn.true.barn.deltbosted.' harDeltBosted.verdi) }}
		                    </span>
		                {{else}}
		                    <span class="verdi verdi--ikkeUtfylt">
		                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
		                    </span>
		                {{/hvisIkkeTom}}
		            </li>
		            {{#if @root.utvidetSoknad}}
		                {{{hentSvaralternativer "system.familie.barn.true.barn.deltbosted"}}}
		            {{/if}}
		        </ul>
		    </li>
	    {{else}}
	        <li>
	            <span class="label">{{ hentTekst "system.familie.barn.true.barn.grad.sporsmal" }}</span>
	            <ul class="svar-liste">
	                <li>
	                    {{#hvisIkkeTom samvarsgrad.verdi}}
	                        <span class="verdi verdi--tekst">
	                            {{ samvarsgrad.verdi }} {{ hentTekst "prosent" }}
	                        </span>
	                    {{else}}
	                        <span class="verdi verdi--ikkeUtfylt">
	                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
	                        </span>
	                    {{/hvisIkkeTom}}
	                </li>
	                {{#if @root.utvidetSoknad}}
	                    {{{hentSvaralternativer "system.familie.barn.true.barn.grad"}}}
	                {{/if}}
	            </ul>
	        </li>
	    {{/if}}
	{{/unless}}
{{/each}}
<li>
    <h3>{{ hentTekst "familie.barn.true.barnebidrag.sporsmal" }}</h3>
    <ul class="svar-liste">
        <li>
            {{#hvisIkkeTom forsorgerplikt.barnebidrag.verdi}}
                <span class="verdi verdi--tekst">
                    {{ hentTekst (concat 'familie.barn.true.barnebidrag.' forsorgerplikt.barnebidrag.verdi) }}
                </span>
            {{else}}
                <span class="verdi verdi--ikkeUtfylt">
                    <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                </span>
            {{/hvisIkkeTom}}
        </li>
        {{#if @root.utvidetSoknad}}
            {{{hentSvaralternativer "familie.barn.true.barnebidrag"}}}
        {{/if}}
    </ul>
</li>