<div class="bolk js-bolk">
    {{#with data.okonomi}}
        <h2 class="bolk__tittel">{{ hentTekst "inntektbolk.tittel" }}</h2>
        <ul class="fakta-liste">
            {{#with opplysninger}}

                <h3>{{hentTekst "utbetalinger.inntekt.skattbar.tittel"}}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{ settInnInfotekst "utbetalinger.inntekt.skattbar.beskrivelse" }}}
                {{/if}}

                {{#hvisLik @root.soknad.driftsinformasjon "Kunne ikke hente utbetalinger fra Skatteetaten"}}
                    <ul class="svar-liste">
                        <li>
                            <span class="verdi verdi--tekst">
                                {{@root.soknad.driftsinformasjon}}
                            </span>
                        </li>
                    </ul>
                {{else}}
                    {{#hvisUtbetalingFinnes "skatteetaten"}}
                        <h3>{{hentTekst "utbetalinger.skatt"}}</h3>
                        {{#each utbetaling}}
                            {{#hvisLik type "skatteetaten"}}
                                <ul class="svar-liste">
                                    <li>
                                        <ul class="fakta-liste">
                                            <li>
                                                <span class="label">{{hentTekst "utbetalinger.utbetaling.type.label"}}</span>
                                                <ul class="svar-liste">
                                                    <li>
                                                        <span class="verdi verdi--tekst">
                                                            {{tittel}}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                            {{#if brutto}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.brutto.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{brutto}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}

                                            {{#if skattetrekk}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.skattetrekk.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{skattetrekk}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                            {{#if utbetalingsdato}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.erutbetalt.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{utbetalingsdato}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                        </ul>
                                    </li>
                                </ul>
                            {{/hvisLik}}
                        {{/each}}
                        {{#if @root.utvidetSoknad}}
                            {{{ settInnInfotekst "utbetalinger.infotekst.tekst" }}}
                        {{/if}}
                    {{else}}
                        <li>
                            <span>
                                {{ hentTekst 'utbetalinger.inntekt.skattbar.ingen' }}
                            </span>
                        </li>
                    {{/hvisUtbetalingFinnes}}
                {{/hvisLik}}

                <h3>{{hentTekst "navytelser.sporsmal"}}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{ settInnInfotekst "navytelser.infotekst.tekst" }}}
                {{/if}}

                {{#hvisLik @root.soknad.driftsinformasjon "Kunne ikke hente utbetalinger fra NAV"}}
                    <ul class="svar-liste">
                        <li>
                            <span class="verdi verdi--tekst">
                                {{@root.soknad.driftsinformasjon}}
                            </span>
                        </li>
                    </ul>
                {{else}}
                    {{#hvisUtbetalingFinnes "navytelse"}}
                        <h3>{{hentTekst "utbetalinger.sporsmal"}}</h3>
                        {{#each utbetaling}}
                            {{#hvisLik type "navytelse"}}
                                <h4>Ytelse</h4>
                                <ul class="svar-liste">
                                    <li>
                                        <ul class="fakta-liste">
                                            <li>
                                                <span class="label">{{hentTekst "utbetalinger.utbetaling.type.label"}}</span>
                                                <ul class="svar-liste">
                                                    <li>
                                                        <span class="verdi verdi--tekst">
                                                            {{tittel}}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                            {{#if netto}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.netto.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{netto}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                            {{#if brutto}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.brutto.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{brutto}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                            {{#if utbetalingsdato}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.erutbetalt.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{utbetalingsdato}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                        </ul>
                                    </li>
                                </ul>
                            {{/hvisLik}}
                        {{/each}}
                        {{#if @root.utvidetSoknad}}
                            {{{ settInnInfotekst "utbetalinger.infotekst.tekst" }}}
                        {{/if}}
                    {{else}}
                        <li>
                            <span>
                                {{ hentTekst 'utbetalinger.ingen.true' }}
                            </span>
                        </li>
                    {{/hvisUtbetalingFinnes}}
                {{/hvisLik}}

                <h3>{{hentTekst "inntekt.bostotte.sporsmal"}}</h3>
                {{#hentOkonomiBekreftelse "bostotte"}}
                    <li>
                        <ul class="svar-liste">
                            <li>
                                <span class="verdi verdi--radio">
                                    {{ hentTekst (concat 'inntekt.bostotte.' verdi) }}
                                </span>
                            </li>
                        </ul>
                        {{#if @root.utvidetSoknad}}
                            {{#if verdi}}
                            {{else}}
                                {{{settInnInfotekst "informasjon.husbanken.bostotte"}}}
                            {{/if}}
                        {{/if}}
                    </li>
                {{else}}
                    <li>
                        <span class="verdi verdi--ikkeUtfylt">
                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                        </span>
                    </li>
                {{/hentOkonomiBekreftelse}}
                <li>
                    {{#if @root.utvidetSoknad}}
                        {{{hentSvaralternativer "inntekt.bostotte"}}}
                    {{/if}}
                </li>
                
                <h3>{{ hentTekst "inntekt.eierandeler.sporsmal" }}</h3>
                {{#if @root.utvidetSoknad}}
                        {{{settInnHjelpetekst "inntekt.eierandeler.hjelpetekst.tekst"}}}
                    {{/if}}
                {{#hentOkonomiBekreftelse "verdi"}}
                    {{> skjema/soknad/inntekt_verdi}}
                {{else}}
                    <li>
                        <span class="verdi verdi--ikkeUtfylt">
                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                        </span>
                    </li>
                {{/hentOkonomiBekreftelse}}
                {{#if @root.utvidetSoknad}}
                    <li>
                        {{{hentSvaralternativer "inntekt.eierandeler"}}}
                        <span>Under {{hentTekst "inntekt.eierandeler.true"}}:</span>
                        {{{hentSvaralternativer "inntekt.eierandeler.true.type"}}}
                    </li>
                {{/if}}
                
                <h3>{{ hentTekst "inntekt.bankinnskudd.true.type.sporsmal" }}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{settInnHjelpetekst "inntekt.bankinnskudd.true.type.hjelpetekst.tekst"}}}
                {{/if}}
                {{#hentOkonomiBekreftelse "sparing"}}
                    {{> skjema/soknad/inntekt_sparing}}
                {{else}}
                    <li>
                        <span class="verdi verdi--ikkeUtfylt">
                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                        </span>
                    </li>
                {{/hentOkonomiBekreftelse}}
                {{#if @root.utvidetSoknad}}
                    <li>
                        {{{hentSvaralternativer "inntekt.bankinnskudd.true.type"}}}
                    </li>
                {{/if}}
                
                <h3>{{ hentTekst "inntekt.inntekter.sporsmal" }}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{settInnHjelpetekst "inntekt.inntekter.hjelpetekst.tekst"}}}
                {{/if}}
                {{#hentOkonomiBekreftelse "utbetaling"}}
                    {{> skjema/soknad/inntekt_utbetaling}}
                {{else}}
                    <li>
                        <span class="verdi verdi--ikkeUtfylt">
                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                        </span>
                    </li>
                {{/hentOkonomiBekreftelse}}
                {{#if @root.utvidetSoknad}}
                    <li>
                        {{{hentSvaralternativer "inntekt.inntekter"}}}
                        <span>Under {{hentTekst "inntekt.inntekter.true"}}:</span>
                        {{{hentSvaralternativer "inntekt.inntekter.true.type"}}}
                    </li>
                {{/if}}
            {{/with}}
        </ul>
    {{/with}}
</div>