<li>
    <ul class="svar-liste">
        <li>
            <span class="verdi verdi--radio">
                {{ hentTekst (concat "inntekt.eierandeler." verdi) }}
            </span>
        </li>
    </ul>
    {{#if verdi}}
        <ul class="svar-liste">
            <li>
                <h4>
                    {{hentTekst "inntekt.eierandeler.true.type.sporsmal"}}
                </h4>
                <ul class="svar-liste">
                    {{#each @root.soknad.data.okonomi.oversikt.formue}}
                        {{#hvisOkonomiskVerdi type}}
                            {{#hvisLik type "annet"}}
                            {{else}}
                                <li>
                                    <span class="verdi verdi--radio">
                                        {{ tittel }}
                                    </span>
                                </li>
                            {{/hvisLik}}
                        {{/hvisOkonomiskVerdi}}
                    {{/each}}
                    {{#each @root.soknad.data.okonomi.oversikt.formue}}
                        {{#hvisOkonomiskVerdi type}}
                            {{#hvisLik type "annet"}}
                                <li>
                                    <span class="verdi verdi--radio">
                                        {{ tittel }}
                                    </span>
                                    <ul class="fakta-liste">
                                        <span class="label">
                                            {{hentTekst "inntekt.eierandeler.true.type.annet.true.beskrivelse.label"}}
                                        </span>
                                        <ul class="svar-liste">
                                            <li>
                                                {{#if @root.soknad.data.okonomi.opplysninger.beskrivelseAvAnnet.verdi}}
                                                    <span class="verdi verdi--tekst">
                                                        {{@root.soknad.data.okonomi.opplysninger.beskrivelseAvAnnet.verdi}}
                                                    </span>
                                                {{else}}
                                                    <span class="verdi verdi--ikkeUtfylt">
                                                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                                    </span>
                                                {{/if}}
                                            </li>
                                        </ul>
                                    </ul>
                                </li>
                            {{/hvisLik}}
                        {{/hvisOkonomiskVerdi}}
                    {{/each}}
                </ul>
            </li>
        </ul>
    {{/if}}
</li>
