{{#hvisLik type "belop"}}
    <li>
        <span class="verdi verdi--radio">
            {{ tittel }}
        </span>
        <ul class="fakta-liste">
            <span class="label">
                {{hentTekst "inntekt.bankinnskudd.true.type.belop.true.beskrivelse.label"}}
            </span>
            <ul class="svar-liste">
                <li>
                    {{#if @root.soknad.data.okonomi.opplysninger.beskrivelseAvAnnet.sparing}}
                        <span class="verdi verdi--tekst">
                            {{@root.soknad.data.okonomi.opplysninger.beskrivelseAvAnnet.sparing}}
                        </span>
                    {{else}}
                        <span class="verdi verdi--ikkeUtfylt">
                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                        </span>
                    {{/if}}
                </li>
            </ul>
        </ul>
    </li>
{{/hvisLik}}