<div class="bolk js-bolk">
    {{#with data.okonomi}}
        <h2 class="bolk__tittel">{{ hentTekst "inntektbolk.tittel" }}</h2>
        <ul class="fakta-liste">
            {{#with opplysninger}}

                <h3>{{hentTekst "utbetalinger.inntekt.skattbar.tittel"}}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{ settInnInfotekst "utbetalinger.inntekt.skattbar.beskrivelse" }}}
                {{/if}}

                {{#if @root.soknad.driftsinformasjon.inntektFraSkatteetatenFeilet}}
                    <ul class="svar-liste">
                        <li>
                            <span class="verdi verdi--tekst">
                                "Kunne ikke hente utbetalinger fra Skatteetaten"
                            </span>
                        </li>
                    </ul>
                {{else}}
                    {{#hvisUtbetalingFinnes "skatteetaten"}}
                        <h3>{{hentTekst "utbetalinger.skatt"}}</h3>
                        {{#each utbetaling}}
                            {{#hvisLik type "skatteetaten"}}
                                <h4>Inntekt</h4>
                                <ul class="svar-liste">
                                    <li>
                                        <ul class="fakta-liste">
                                            {{#if organisasjon.navn}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.arbeidsgivernavn.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{organisasjon.navn}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                            {{#if periodeFom}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.periodeFom.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{formaterDato periodeFom "dd.MM.yyyy"}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                            {{#if periodeTom}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.periodeTom.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{formaterDato periodeTom "dd.MM.yyyy"}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                            {{#if brutto}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.brutto.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{brutto}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                            {{#if skattetrekk}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.skattetrekk.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{skattetrekk}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                        </ul>
                                    </li>
                                </ul>
                            {{/hvisLik}}
                        {{/each}}
                        {{#if @root.utvidetSoknad}}
                            {{{ settInnInfotekst "utbetalinger.infotekst.tekst" }}}
                        {{/if}}
                    {{else}}
                        <li>
                            <span>
                                {{ hentTekst 'utbetalinger.inntekt.skattbar.ingen' }}
                            </span>
                        </li>
                    {{/hvisUtbetalingFinnes}}
                {{/if}}

                <h3>{{hentTekst "navytelser.sporsmal"}}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{ settInnInfotekst "navytelser.infotekst.tekst" }}}
                {{/if}}

                {{#if @root.soknad.driftsinformasjon.utbetalingerFraNavFeilet}}
                    <ul class="svar-liste">
                        <li>
                            <span class="verdi verdi--tekst">
                                "Kunne ikke hente utbetalinger fra NAV"
                            </span>
                        </li>
                    </ul>
                {{else}}
                    {{#hvisUtbetalingFinnes "navytelse"}}
                        <h3>{{hentTekst "utbetalinger.sporsmal"}}</h3>
                        {{#each utbetaling}}
                            {{#hvisLik type "navytelse"}}
                                <h4>Ytelse</h4>
                                <ul class="svar-liste">
                                    <li>
                                        <ul class="fakta-liste">
                                            <li>
                                                <span class="label">{{hentTekst "utbetalinger.utbetaling.type.label"}}</span>
                                                <ul class="svar-liste">
                                                    <li>
                                                        <span class="verdi verdi--tekst">
                                                            {{tittel}}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                            {{#if netto}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.netto.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{netto}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                            {{#if brutto}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.brutto.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{brutto}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                            {{#if utbetalingsdato}}
                                                <li>
                                                    <span class="label">{{hentTekst "utbetalinger.utbetaling.erutbetalt.label"}}</span>
                                                    <ul class="svar-liste">
                                                        <li>
                                                            <span class="verdi verdi--tekst">
                                                                {{utbetalingsdato}}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                            {{/if}}
                                        </ul>
                                    </li>
                                </ul>
                            {{/hvisLik}}
                        {{/each}}
                        {{#if @root.utvidetSoknad}}
                            {{{ settInnInfotekst "utbetalinger.infotekst.tekst" }}}
                        {{/if}}
                    {{else}}
                        <li>
                            <span>
                                {{ hentTekst 'utbetalinger.ingen.true' }}
                            </span>
                        </li>
                    {{/hvisUtbetalingFinnes}}
                {{/if}}

                {{#if @root.soknad.data.utdanning.erStudent}}
                    <h3>{{hentTekst "inntekt.studielan.sporsmal"}}</h3>
                    {{#hentOkonomiBekreftelse "studielanOgStipend"}}
                        <li>
                            <ul class="svar-liste">
                                <li>
                                    <span class="verdi verdi--radio">
                                        {{ hentTekst (concat 'inntekt.studielan.' verdi) }}
                                    </span>
                                </li>
                            </ul>
                            {{#if @root.utvidetSoknad}}
                                {{#unless verdi}}
                                    <ul class="svar-liste">
                                        <li>
                                            <h4>{{hentTekst "infotekst.oppsummering.tittel"}}</h4>
                                        </li>
                                        <li>
                                            <h3>{{hentTekst "informasjon.student.studielan.tittel"}}</h3>
                                        </li>
                                        <li>
                                            <span>{{hentTekst "informasjon.student.studielan.1"}}</span>
                                        </li>
                                        <li>
                                            <span>{{hentTekst "informasjon.student.studielan.2"}}</span>
                                        </li>
                                    </ul>
                                {{/unless}}
                            {{/if}}
                        </li>
                    {{else}}
                        <li>
                            <span class="verdi verdi--ikkeUtfylt">
                                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                            </span>
                        </li>
                    {{/hentOkonomiBekreftelse}}
                    <li>
                        {{#if @root.utvidetSoknad}}
                            {{{hentSvaralternativer "inntekt.studielan"}}}
                        {{/if}}
                    </li>
                {{/if}}

                <h3>{{hentTekst "inntekt.bostotte.overskrift"}}</h3>
                {{#if @root.soknad.driftsinformasjon.stotteFraHusbankenFeilet}}
                    {{#hentOkonomiBekreftelse "bostotte"}}
                        <h4>{{hentTekst "inntekt.bostotte.sporsmal"}}</h4>
                        <li>
                            <ul class="svar-liste">
                                <li>
                                <span class="verdi verdi--radio">
                                    {{ hentTekst (concat 'inntekt.bostotte.' verdi) }}
                                </span>
                                </li>
                            </ul>
                            {{#if @root.utvidetSoknad}}
                                {{#unless verdi}}
                                    {{{settInnInfotekst "informasjon.husbanken.bostotte"}}}
                                {{/unless}}
                            {{/if}}
                        </li>
                    {{else}}
                        <li>
                        <span class="verdi verdi--ikkeUtfylt">
                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                        </span>
                        </li>
                    {{/hentOkonomiBekreftelse}}
                    <ul class="svar-liste">
                        <li>
                            <span class="verdi verdi--tekst">
                                "Kunne ikke hente status fra Husbanken"
                            </span>
                        </li>
                    </ul>
                {{else}}
                    {{#with bostotte}}
                        {{#each utbetalinger}}
                            <h4>{{hentTekst "inntekt.bostotte.utbetaling"}}</h4>
                            <li>
                                <span class="label">{{hentTekst "inntekt.bostotte.utbetaling.mottaker"}}</span>
                                <ul class="svar-liste">
                                    <li>
                                        <span class="verdi verdi--tekst">
                                            {{mottaker}}
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="label">{{hentTekst "inntekt.bostotte.utbetaling.utbetalingsdato"}}</span>
                                <ul class="svar-liste">
                                    <li>
                                        <span class="verdi verdi--tekst">
                                            {{formaterDato utbetalingsdato "dd.MM.yyyy"}}
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="label">{{hentTekst "inntekt.bostotte.utbetaling.belop"}}</span>
                                <ul class="svar-liste">
                                    <li>
                                        <span class="verdi verdi--tekst">
                                            {{formaterDecimal belop}}
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        {{/each}}
                        {{#each saker}}
                            <h4>{{hentTekst "inntekt.bostotte.sak"}}</h4>
                            <li>
                                <span class="label">{{hentTekst "inntekt.bostotte.sak.dato"}}</span>
                                <ul class="svar-liste">
                                    <li>
                                        <span class="verdi verdi--tekst">
                                            <div style="text-transform: capitalize;">{{formaterDato dato "MMMM yyyy"}}</div>
                                        </span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="label">{{hentTekst "inntekt.bostotte.sak.status"}}</span>
                                <ul class="svar-liste">
                                    <li>
                                        <span class="verdi verdi--tekst">
                                            {{finnSaksStatus status beskrivelse}}
                                        </span>
                                    </li>
                                </ul>
                            </li>
                        {{/each}}
                        {{#erListeTom saker}}
                            {{#erListeTom utbetalinger}}
                                <span class="label">{{hentTekst "inntekt.bostotte.ikkefunnet"}}</span>
                            {{/erListeTom}}
                        {{/erListeTom}}
                    {{/with}}
                {{/if}}
                <li>
                    {{#if @root.utvidetSoknad}}
                        {{{hentSvaralternativer "inntekt.bostotte"}}}
                    {{/if}}
                </li>
                
                <h3>{{ hentTekst "inntekt.eierandeler.sporsmal" }}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{settInnHjelpetekst "inntekt.eierandeler.hjelpetekst.tekst"}}}
                {{/if}}
                {{#hentOkonomiBekreftelse "verdi"}}
                    {{> skjema/soknad/inntekt_verdi}}
                {{else}}
                    <li>
                        <span class="verdi verdi--ikkeUtfylt">
                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                        </span>
                    </li>
                {{/hentOkonomiBekreftelse}}
                {{#if @root.utvidetSoknad}}
                    <li>
                        {{{hentSvaralternativer "inntekt.eierandeler"}}}
                        <span>Under {{hentTekst "inntekt.eierandeler.true"}}:</span>
                        {{{hentSvaralternativer "inntekt.eierandeler.true.type"}}}
                    </li>
                {{/if}}
                
                <h3>{{ hentTekst "inntekt.bankinnskudd.true.type.sporsmal" }}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{settInnHjelpetekst "inntekt.bankinnskudd.true.type.hjelpetekst.tekst"}}}
                {{/if}}
                {{#hentOkonomiBekreftelse "sparing"}}
                    {{> skjema/soknad/inntekt_sparing}}
                {{else}}
                    <li>
                        <span class="verdi verdi--ikkeUtfylt">
                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                        </span>
                    </li>
                {{/hentOkonomiBekreftelse}}
                {{#if @root.utvidetSoknad}}
                    <li>
                        {{{hentSvaralternativer "inntekt.bankinnskudd.true.type"}}}
                    </li>
                {{/if}}
                
                <h3>{{ hentTekst "inntekt.inntekter.sporsmal" }}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{settInnHjelpetekst "inntekt.inntekter.hjelpetekst.tekst"}}}
                {{/if}}
                {{#hentOkonomiBekreftelse "utbetaling"}}
                    {{> skjema/soknad/inntekt_utbetaling}}
                {{else}}
                    <li>
                        <span class="verdi verdi--ikkeUtfylt">
                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                        </span>
                    </li>
                {{/hentOkonomiBekreftelse}}
                {{#if @root.utvidetSoknad}}
                    <li>
                        {{{hentSvaralternativer "inntekt.inntekter"}}}
                        <span>Under {{hentTekst "inntekt.inntekter.true"}}:</span>
                        {{{hentSvaralternativer "inntekt.inntekter.true.type"}}}
                    </li>
                {{/if}}
            {{/with}}
        </ul>
    {{/with}}
</div>