<h3>{{ hentTekst "inntektbolk.tittel" }}</h3>
<li>
    <ul class="svar-liste">
        {{#each oversikt.inntekt}}
            <ul class="svar-liste">
                <li>
                    <h4>{{tittel}}</h4>
                    <ul class="fakta-liste">
                        <li>
                            {{#hvisLik type "studielanOgStipend"}}
                                <span class="label">{{ hentTekst (concat "opplysninger.arbeid.student.utbetaling.label") }}</span>
                            {{/hvisLik}}
                            {{#hvisLik type "jobb"}}
                                <span class="label">{{ hentTekst (concat "opplysninger.arbeid." type ".bruttolonn.label") }}</span>
                                <ul class="svar-liste">
                                    <li>
                                        {{#if brutto}}
                                            <span class="verdi verdi--tekst">
                                                {{brutto}}
                                            </span>
                                        {{else}}
                                            <span class="verdi verdi--ikkeUtfylt">
                                                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                            </span>
                                        {{/if}}
                                    </li>
                                </ul>
                                <span class="label">{{ hentTekst (concat "opplysninger.arbeid." type ".nettolonn.label") }}</span>
                            {{/hvisLik}}
                            {{#hvisLik type "barnebidrag"}}
                                <span class="label">{{ hentTekst (concat "opplysninger.familiesituasjon." type ".mottar.mottar.label") }}</span>
                            {{/hvisLik}}
                        </li>
                    </ul>
                </li>
            </ul>
        {{/each}}
        
        {{#each oversikt.formue}}
            {{#hvisSparing type}}
                <ul class="svar-liste">
                    <li>
                        <h4>{{tittel}}</h4>
                        <ul class="fakta-liste">
                            <li>
                                <span class="label">{{ hentTekst (concat "opplysninger.inntekt.bankinnskudd." type ".saldo.label") }}</span>
                                <ul class="svar-liste">
                                    <li>
                                        {{#if belop}}
                                            <span class="verdi verdi--tekst">
                                                {{belop}}
                                            </span>
                                        {{else}}
                                            <span class="verdi verdi--ikkeUtfylt">
                                                <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                            </span>
                                        {{/if}}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            {{/hvisSparing}}
        {{/each}}

        {{#each opplysninger.utbetaling}}
            {{#hvisLik type "navytelse"}}
            {{else}}
                {{#hvisLik type "skatteetaten"}}
                {{else}}
                    {{#hvisLik type "husbanken"}}
                        <ul class="svar-liste">
                            <li>
                                <h4>{{tittel}}</h4>
                                <ul class="fakta-liste">
                                    <li>
                                        <span class="label">{{hentTekst "inntekt.bostotte.utbetaling.belop_siste_maned"}}</span>
                                        <ul class="svar-liste">
                                            <li>
                                                <span class="verdi verdi--tekst">
                                                    {{formaterDecimal netto}}
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {{else}}
                        <ul class="svar-liste">
                            <li>
                                <h4>{{tittel}}</h4>
                                <ul class="fakta-liste">
                                    <li>
                                        {{#hvisLik type "sluttoppgjoer"}}
                                            <span class="label">{{ hentTekst (concat "opplysninger.arbeid.avsluttet.netto.label") }}</span>
                                        {{else}}
                                            <span class="label">{{ hentTekst (concat "opplysninger.inntekt.inntekter." type ".sum.label") }}</span>
                                        {{/hvisLik}}
                                        <ul class="svar-liste">
                                            <li>
                                                {{#if belop}}
                                                    <span class="verdi verdi--tekst">
                                                        {{belop}}
                                                    </span>
                                                {{else}}
                                                    <span class="verdi verdi--ikkeUtfylt">
                                                    <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                                </span>
                                                {{/if}}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {{/hvisLik}}
                {{/hvisLik}}
            {{/hvisLik}}
        {{/each}}
    </ul>
</li>