<h4>Svaralternativer:</h4>
<li>
    <ul class="svar-liste">
        <li>
            <ul class="svar-liste">
                {{#if folkeregistrertAdresse}}
                    <li>
                        <span class="verdi verdi--radio">
                            {{hentTekst "kontakt.system.oppholdsadresse.folkeregistrertAdresse"}}
                        </span>
                    </li>
                {{/if}}
                {{#if @root.soknad.midlertidigAdresse}}
                    <li>
                        {{hentTekst "kontakt.system.oppholdsadresse.midlertidigAdresse"}}
                        {{#hvisLik oppholdsadresse.adresseValg "midlertidig"}}
                            {{#with oppholdsadresse}}
                                {{> skjema/soknad/adresse}}
                            {{/with}}
                        {{else}}
                            {{#with @root.soknad.midlertidigAdresse}}
                                {{> skjema/soknad/adresse}}
                            {{/with}}
                        {{/hvisLik}}
                    </li>
                {{/if}}
                <li>
                    <span class="verdi verdi--radio">
                        {{hentTekst "kontakt.system.oppholdsadresse.valg.soknad"}}
                    </span>
                    <h4>
                        {{hentTekst "infotekst.oppsummering.tittel"}}
                    </h4>
                    <span>
                        {{hentTekst "kontakt.system.oppholdsadresse.hvorOppholder"}}
                    </span>
                </li>
            </ul>
        </li>
    </ul>
</li>