<li>
    <ul class="svar-liste">
        <li>
            <span class="verdi verdi--radio">
                {{ hentTekst (concat "utgifter.boutgift." verdi) }}
            </span>
        </li>
    </ul>
    {{#if verdi}}
        <h4>
            {{hentTekst "utgifter.boutgift.true.type.sporsmal"}}
        </h4>
        <ul class="svar-liste">
            {{#each @root.opplysningUtgiftstyper}}
                {{#hvisBoutgift type}}
                    <li>
                        <span class="verdi verdi--radio">
                            {{ hentTekst (concat "utgifter.boutgift.true.type." type) }}
                        </span>
                    </li>
                {{/hvisBoutgift}}
            {{/each}}
            {{#each @root.oversiktUtgiftstyper}}
                {{#hvisBoutgift type}}
                    {{#hvisLik type "boliglanRenter"}}
                    {{else}}
                        <li>
                            <span class="verdi verdi--radio">
                                {{ hentTekst (concat "utgifter.boutgift.true.type." type) }}
                            </span>
                        </li>
                    {{/hvisLik}}
                {{/hvisBoutgift}}
            {{/each}}
        </ul>
    {{/if}}
</li>