<li>
    <ul class="svar-liste">
        <li>
            <span class="verdi verdi--radio">
                {{ hentTekst (concat "utgifter.barn." verdi) }}
            </span>
        </li>
    </ul>
    {{#if verdi}}
        <h4>
            {{hentTekst "utgifter.barn.true.utgifter.sporsmal"}}
        </h4>
        <ul class="svar-liste">
            {{#each @root.opplysningUtgiftstyper}}
                {{#hvisBarneutgift type}}
                    <li>
                        <span class="verdi verdi--radio">
                            {{ hentTekst (concat "utgifter.barn.true.utgifter." type) }}
                        </span>
                    </li>
                {{/hvisBarneutgift}}
            {{/each}}
            {{#each @root.oversiktUtgiftstyper}}
                {{#hvisBarneutgift type}}
                    {{#hvisLik type "barnebidrag"}}
                    {{else}}
                        <li>
                            <span class="verdi verdi--radio">
                                {{ hentTekst (concat "utgifter.barn.true.utgifter." type) }}
                            </span>
                        </li>
                    {{/hvisLik}}
                {{/hvisBarneutgift}}
            {{/each}}
        </ul>
    {{/if}}
</li>