{{#forFaktum (concat faktumPrefiks "offentligtransport")}}
    <tr>
        <td class="sjekket"></td>
        <td>
            {{#hvisSant value}}
                <span>{{ hentTekst "soknad.reise.offentligtransport.true" }}</span>
            {{else}}
                <span>
                    {{ hentTekst "soknad.reise.offentligtransport.false" }}.
                    {{hentTekst "oppsummering.reise.offentligtransport.aarsak"}}
                </span>
            {{/hvisSant}}
        </td>
    </tr>
    {{#hvisSant value}}
        <tr>
            <td></td>
            <td>
                <table>
                    <tr>
                        {{#forFaktum (concat faktumPrefiks "offentligtransport.utgift")}}
                            <td class="sjekket"></td>
                            <td><span>{{ hentTekst "soknad.reise.offentligtransport.utgift.oppsummering" }} <em>{{value}}</em> {{hentTekst "soknad.krmnd"}}</span></td>
                        {{/forFaktum}}
                    </tr>
                </table>
            </td>
        </tr>
    {{else}}
        <tr>
            <td></td>
            <td>
                <table>
                    {{#forFaktumHvisSant (concat faktumPrefiks "offentligtransport.aarsak.helse")}}
                        <tr>
                            <td class="sjekket"></td>
                            <td><span>{{hentTekst "soknad.reise.offentligtransport.aarsak.helse"}}</span></td>
                        </tr>
                    {{/forFaktumHvisSant}}
                    {{#forFaktumHvisSant (concat faktumPrefiks "offentligtransport.aarsak.transport")}}
                        <tr>
                            <td class="sjekket"></td>
                            <td><span>{{hentTekst "soknad.reise.offentligtransport.aarsak.transport"}}</span></td>
                        </tr>
                    {{/forFaktumHvisSant}}
                    {{#forFaktumHvisSant (concat faktumPrefiks "offentligtransport.aarsak.henting")}}
                        <tr>
                            <td class="sjekket"></td>
                            <td><span>{{hentTekst "soknad.reise.offentligtransport.aarsak.henting"}}</span></td>
                        </tr>
                    {{/forFaktumHvisSant}}
                    {{#forFaktumHvisSant (concat faktumPrefiks "offentligtransport.aarsak.annet")}}
                        <tr>
                            <td class="sjekket"></td>
                            <td>
                                <span>{{hentTekst "soknad.reise.offentligtransport.aarsak.annet"}}</span>
                                {{#forFaktum (concat faktumPrefiks "offentligtransport.aarsak.annet.tekst")}}
                                    <em>{{value}}</em>
                                {{/forFaktum}}
                            </td>
                        </tr>
                    {{/forFaktumHvisSant}}
                </table>
            </td>
        </tr>
        {{> skjema/tilleggsstonader/felles/egenbil}}
    {{/hvisSant}}
{{/forFaktum}}
