{{#forFaktum "bileierskap.andreharbil"}}
    <tr>
        <td class="sjekket"></td>
        <td>{{hentTekst (concat cmsPrefiks (concat "bileierskap.andreharbil." value))}}

            {{#hvisLik value "ja"}}
                <ul>
                    {{#forFaktumHvisSant "bileierskap.andreharbil.ektefelle"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "bileierskap.andreharbil.ja.ektefelle")}}. </span>
                            <span>{{hentTekst "oppsummering.bileierskap.andreharbil.ja.regnr"}}:
                                <em>{{hentFaktumValue "bileierskap.andreharbil.ektefelle.regnr"}}</em>
                            </span>
                        </li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktumHvisSant "bileierskap.andreharbil.samboer"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "bileierskap.andreharbil.ja.samboer")}}. </span>
                            <span>{{hentTekst "oppsummering.bileierskap.andreharbil.ja.regnr"}}:
                                <em>{{hentFaktumValue "bileierskap.andreharbil.samboer.regnr"}}</em>
                            </span>
                        </li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktumHvisSant "bileierskap.andreharbil.forelder"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "bileierskap.andreharbil.ja.forelder")}}. </span>
                            <span>{{hentTekst "oppsummering.bileierskap.andreharbil.ja.regnr"}}:
                                <em>{{hentFaktumValue "bileierskap.andreharbil.forelder.regnr"}}</em>
                            </span>
                        </li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktumHvisSant "bileierskap.andreharbil.barn"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "bileierskap.andreharbil.ja.barn")}}. </span>
                            <span>{{hentTekst "oppsummering.bileierskap.andreharbil.ja.regnr"}}:
                                <em>{{hentFaktumValue "bileierskap.andreharbil.barn.regnr"}}</em>
                            </span>
                        </li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktumHvisSant "bileierskap.andreharbil.annen"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "bileierskap.andreharbil.ja.annen")}}. </span>
                            <span>{{hentTekst "oppsummering.bileierskap.andreharbil.ja.regnr"}}:
                                <em>{{hentFaktumValue "bileierskap.andreharbil.annen.regnr"}}</em>
                            </span>
                        </li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktum "bileierskap.andreharbil.kanbrukeselv"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{hentTekst (concat cmsPrefiks (concat "bileierskap.andreharbil.kanbrukeselv." value))}}</span>
                            {{#hvisLik value "nei"}}
                                <ul>
                                    <li class="kulepunkt medstrek faktum-felt">
                                        <span>{{hentTekst "oppsummering.bileierskap.andreharbil.kanbrukeselv.nei.arsak"}}:
                                            <em>{{hentFaktumValue "bileierskap.andreharbil.kanbrukeselv.nei.arsak"}}</em>
                                        </span>
                                    </li>
                                </ul>
                            {{/hvisLik}}
                        </li>
                    {{/forFaktum}}

                </ul>
            {{/hvisLik}}

            {{#hvisLik value "nei"}}
                <ul>
                    {{#forFaktum "bileierskap.andreharbil.sistear"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{hentTekst (concat cmsPrefiks (concat "bileierskap.andreharbil.sistear." value))}}</span>
                            {{#hvisLik value "ja"}}
                                <ul>
                                    <li class="kulepunkt medstrek faktum-felt">
                                        <span>{{hentTekst "oppsummering.bileierskap.bilsisteaar.regnr"}}:
                                            <em>{{hentFaktumValue "bileierskap.andreharbil.sistear.regnr"}}</em>
                                        </span>
                                    </li>
                                    <li class="kulepunkt medstrek faktum-felt">
                                        <span>{{hentTekst "oppsummering.bileierskap.bilsisteaar.solgtarsak"}}:
                                            <em>{{hentFaktumValue "bileierskap.andreharbil.sistear.solgtarsak"}}</em>
                                        </span>
                                    </li>
                                </ul>
                            {{/hvisLik}}
                        </li>
                    {{/forFaktum}}
                </ul>
            {{/hvisLik}}

        </td>
    </tr>

{{/forFaktum}}