<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <base href="/sendsoknad/"></base>
    {{> skjema/soknad/soknad-styling }}
</head>

<body>
{{#with soknad}}
<div class="header">
    <img class="header-logo" src="img/nav-logo.gif"/>
    {{#with data.personalia}}
        <span class="navn">{{navn.fornavn}} {{navn.mellomnavn}} {{navn.etternavn}}</span>
        <span class="fnr">{{personIdentifikator.verdi}}</span>
    {{/with}}
    <span class="headerSider">
        {{ hentTekst "oppsummering.sideAvTotal" }}
    </span>
</div>

<div class="footer">
    <span>
        <span>NAV 35-18.01 {{ hentTekst "oppsummering.eSoknad" }}</span>
    </span>
</div>

<div id="soknad" class="soknad-oppsummering">

    <div class="hode">
        <h1>{{hentTekst "skjema.tittel"}}</h1>
        {{#with data.okonomi.opplysninger}}
            {{#hentOkonomiBekreftelse "selvstendignaringsdriveende"}}
                <h1>SELVSTENDIG NÆRINGSDRIVENDE</h1>
            {{else}}
            {{/hentOkonomiBekreftelse}}
        {{/with}}
        <div class="personalia">
            {{#with data.personalia}}
                <p class ="nvn">{{navn.fornavn}} {{navn.mellomnavn}} {{navn.etternavn}}</p>
                <p class ="fnr">{{personIdentifikator.verdi}}</p>
            {{/with}}
        </div>
    </div>
    <div>
        {{> skjema/soknad/personalia}}
    </div>
    <div>
        {{> skjema/soknad/begrunnelse}}
    </div>
    <div>
        {{> skjema/soknad/arbeid}}
    </div>
    <div>
        {{> skjema/soknad/familie}}
    </div>
    <div>
        {{> skjema/soknad/bosituasjon}}
    </div>
    <div>
        {{> skjema/soknad/inntekt}}
    </div>
    <div>
        {{> skjema/soknad/utgifter}}
    </div>
    <div>
        {{> skjema/soknad/opplysninger}}
    </div>
    {{#if @root.utvidetSoknad}}
        <div>
            {{> skjema/soknad/soknad_forside}}
        </div>
    {{/if}}
    <div class="brosjyre-signatur js-signatur">
        {{#if @root.utvidetSoknad}}
            <ul class="fakta-liste">
                <li>
                    <ul class="svar-liste">
                        <li>{{{hentTekstMedParametere "soknasosialhjelp.oppsummering.hvorsendes" "navkontor" @root.navEnhetsnavn}}}</li>
                        <li>{{{hentTekstMedParametere "soknadsosialhjelp.forstesiden.bekreftInfoModal.body"
                        "navkontor" @root.navEnhetsnavn
                        "navkontor:NAV-kontoret ditt" @root.navEnhetsnavn
                        "navkontor:oppholdskommunen" @root.navEnhetsnavn}}}</li>
    
                        <h3>Bekreftet av bruker med følgende informasjonstekst</h3>
                        <li>{{{ hentTekst "soknadsosialhjelp.oppsummering.bekreftOpplysninger" }}}</li>
                    </ul>
                </li>
            </ul>
        {{/if}}
    </div>
    <div class="innsendingstidspunkt">
        Søknaden ble sendt {{formaterDatoKlokkeslett innsendingstidspunkt "d. MMMM yyyy HH:mm"}}
    </div>
    <div>
        Versjonsnummer: {{version}}
    </div>
    {{#unless @root.utvidetSoknad}}
        <div>
            Sendt til: {{@root.navEnhetsnavn}}
        </div>
    {{/unless}}
</div>
{{/with}}

</body>
</html>