{{#forFaktum "fastlege.harIkkeFastlege"}}
    <h2>{{ hentTekst "fastlege.tittel" }}</h2>
    <table>
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "oppsummering.fastlege.behandlende.navn" }}:
                        {{ hentFaktumValue "fastlege.annen.behandlende.navn" }},
                        {{ hentTekst "oppsummering.fastlege.telefonnummer" }}:
                        {{ hentFaktumValue "fastlege.annen.behandlende.tlfnr" }}</span>
                </td>
            </tr>
        {{else}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "oppsummering.fastlege.navn" }}: {{ hentFaktumValue "fastlege.navn" }},
                        {{ hentTekst "oppsummering.fastlege.telefonnummer" }}: {{ hentFaktumValue "fastlege.tlfnr" }}
                    </span>
                </td>
            </tr>
            {{> skjema/aap/fastlege/behandlendeLege }}
        {{/hvisSant}}
    </table>
{{else}}
    <h2>{{ hentTekst "fastlege.tittel" }}</h2>
    <table>
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{ hentTekst "oppsummering.fastlege.navn" }}: {{ hentFaktumValue "fastlege.navn" }},
                    {{ hentTekst "oppsummering.fastlege.telefonnummer" }}: {{ hentFaktumValue "fastlege.tlfnr" }}</span>
            </td>
        </tr>
        {{> skjema/aap/fastlege/behandlendeLege }}
    </table>
{{/forFaktum}}