{{#hvisHarDiskresjonskode}}
{{else}}

    <tr>
        <td class="sjekket"></td>
        <td>
            <span>{{hentTekst "soknad.flytting.tidligere.overskrift"}}:</span>
            {{#forFaktum "personalia"}}<em>{{properties.gjeldendeAdresse}}</em>{{/forFaktum}}
        </td>
    </tr>

    {{#forFaktum "flytting.tidligere.riktigadresse"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>{{hentTekst "soknad.flytting.tidligere.riktigadresse.label"}}</td>
            </tr>
        {{else}}
            {{> skjema/tilleggsstonader/flytting/nyadresse}}
        {{/hvisSant}}

    {{else}}
        {{> skjema/tilleggsstonader/flytting/nyadresse}}
    {{/forFaktum}}

{{/hvisHarDiskresjonskode}}