{{#forFaktum "flytting.selvellerbistand"}}
    {{#hvisIkkeTom value}}
        {{#hvisLik value "flytterselv"}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "soknad.flytting.spm.selvellerbistand.flytterselv" }}</span>
                </td>
            </tr>
        {{/hvisLik}}
        {{#hvisLik value "flyttebyraa"}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "soknad.flytting.spm.selvellerbistand.flyttebyraa" }}</span>
                </td>
            </tr>
            {{> skjema/tilleggsstonader/flytting/flyttebyraa}}
        {{/hvisLik}}
        {{#hvisLik value "tilbudmenflytterselv"}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "soknad.flytting.spm.selvellerbistand.tilbudmenflytterselv" }}</span>
                </td>
            </tr>

            {{> skjema/tilleggsstonader/flytting/flyttebyraa}}

        {{/hvisLik}}

        {{#hvisLik value "flyttebyraa"}}
        {{else}}
            <tr>
                <td></td>
                <td>
                    <table>
                        <tr>
                            <td class="sjekket"></td>
                            <td>
                                {{#forFaktum "flytting.flytteselv.hvorlangt"}}
                                    <span>{{hentTekst "oppsummering.flytting.flytteselv.hvorlangt"}}</span>
                                    <span><em>{{value}}</em> {{hentTekst "soknad.flytting.flytteselv.hvorlangt.enhet"}}</span>
                                {{/forFaktum}}
                            </td>
                        </tr>

                        {{#forFaktum "flytting.flytteselv.andreutgifter.hengerleie"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{hentTekst "soknad.flytting.flytteselv.henger.label"}}:</span>
                                    <span><em>{{value}}</em> {{hentTekst "soknad.flytting.flytteselv.kroner"}}</span>
                                </td>
                            </tr>
                        {{/forFaktum}}

                        {{#forFaktum "flytting.flytteselv.andreutgifter.bom"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{hentTekst "soknad.flytting.flytteselv.bom.label"}}:</span>
                                    <span><em>{{value}}</em> {{hentTekst "soknad.flytting.flytteselv.kroner"}}</span>
                                </td>
                            </tr>
                        {{/forFaktum}}

                        {{#forFaktum "flytting.flytteselv.andreutgifter.parkering"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{hentTekst "soknad.flytting.flytteselv.parkering.label"}}:</span>
                                    <span><em>{{value}}</em> {{hentTekst "soknad.flytting.flytteselv.kroner"}}</span>
                                </td>
                            </tr>
                        {{/forFaktum}}

                        {{#forFaktum "flytting.flytteselv.andreutgifter.ferge"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{hentTekst "soknad.flytting.flytteselv.ferge.label"}}:</span>
                                    <span><em>{{value}}</em> {{hentTekst "soknad.flytting.flytteselv.kroner"}}</span>
                                </td>
                            </tr>
                        {{/forFaktum}}

                        {{#forFaktum "flytting.flytteselv.andreutgifter.annet"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>
                                    <span>{{hentTekst "soknad.flytting.flytteselv.annet.label"}}:</span>
                                    <span><em>{{value}}</em> {{hentTekst "soknad.flytting.flytteselv.kroner"}}</span>
                                </td>
                            </tr>
                        {{/forFaktum}}
                    </table>
                </td>
            </tr>
        {{/hvisLik}}
    {{/hvisIkkeTom}}
{{/forFaktum}}