{{#hvisLik adressetype "MIDLERTIDIG_POSTADRESSE_UTLAND"}}
    <h3>{{hentTekst "personalia.midlertidigAdresseUtland"}}</h3>
{{/hvisLik}}

{{#hvisLik adressetype "MIDLERTIDIG_POSTADRESSE_NORGE"}}
    <h3>{{hentTekst "personalia.midlertidigAdresseNorge"}}</h3>
{{/hvisLik}}

{{#hvisLik adressetype "UTENLANDSK_ADRESSE"}}
    <h3>{{hentTekst "personalia.folkeregistrertadresse"}}</h3>
{{/hvisLik}}

{{#hvisLik adressetype "BOSTEDSADRESSE"}}
    <h3>{{hentTekst "personalia.folkeregistrertadresse"}}</h3>
{{/hvisLik}}

{{#hvisLik adressetype "POSTADRESSE"}}
    <h3>{{hentTekst "personalia.folkeregistrertadresse"}}</h3>
{{/hvisLik}}

