<h2>{{ hentTekst "oppsummering.barn.tittel" }}</h2>
<table>
    {{#forFaktaMedPropertySattTilTrue "barn" "barnetillegg"}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span class="barn-navn">{{ properties.sammensattnavn }},</span>
                <span>{{ hentTekst "oppsummering.fodt" }}</span>
                {{#hvisLik type "SYSTEMREGISTRERT"}}
                    <span>{{ formatterFodelsDato properties.fnr }},</span>
                {{ else }}
                    <span>{{ formatterFodelsDato properties.fodselsdato }},</span>
                {{/hvisLik}}

                <span>{{ hentTekst "oppsummering.bor" }}</span>
                <span>{{ hentLand properties.land }},</span>

                <span>{{ hentTekst "oppsummering.inntekt" }}</span>
                {{#hvisLik properties.ikkebarneinntekt "false" }}
                    <span>{{ properties.barneinntekttall }}</span>
                {{ else }}
                    <span>0</span>
                {{/hvisLik}}
                <span>NOK</span>
            </td>
        </tr>
    {{else}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{ hentTekst "oppsummering.ingenBarn" }}</span>
            </td>
        </tr>
    {{/forFaktaMedPropertySattTilTrue}}
</table>