<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        {{> skjema/felles/styling }}
        <style type="text/css">
            table.perioder td { padding: 5px; padding-bottom: 5px !important; }
            table.perioder th { text-align: left; }
            table.perioder th:last-child { padding-left: 10px; }
            table.perioder th:first-child { padding-left: 5px; }
        </style>
    </head>
    <body>

        <div class="header">
            <img class="header-logo" src="img/nav-logo.gif"/>
            {{#forFaktum "personalia"}}
                <span class="navn">{{properties.navn}}</span>
                <span class="fnr">{{properties.fnr}}</span>
            {{/forFaktum}}
            <span class="headerSider">
                {{ hentTekst "oppsummering.sideAvTotal" }}
            </span>
        </div>

        <div class="footer">
            <span>
                <span>{{ hentSkjemanummer }} {{ hentTekst "oppsummering.eSoknad" }}</span>
                <span>|</span>
                <span>{{ hentTekst "oppsummering.fastsattDato" }}</span>
            </span>
        </div>

        <div id="soknad">
            <img class="logo" src="img/nav-logo.gif"/>
            <div class="hode">
                <h1>{{ hentTekst "oppsummering.tittel" }}</h1>
                {{> skjema/dagpenger/personalia }}
            </div>

            <p>{{ hentTekst "aap.utland.informasjon.intro" }}</p>
            <p>{{ hentTekst "aap.utland.informasjon.deklarasjon" }}</p>

            <ul>
                <li>
                    {{#forFaktum "land"}}
                        {{ hentTekst "skjema.land.label" }}: {{hentLand value}}
                    {{/forFaktum}}
                </li>
                <li>
                    {{#forFaktum "fradato"}}
                        {{ hentTekst "skjema.fradato.label" }}: {{formaterLangDato value}}
                    {{/forFaktum}}
                </li>
                <li>
                    {{#forFaktum "tildato"}}
                        {{ hentTekst "skjema.tildato.label" }}: {{formaterLangDato value}}
                    {{/forFaktum}}
                </li>
            </ul>

            <div class="brosjyre-signatur">
                <table>
                    <tr>
                        <td>
                            <span class="sjekket"></span>
                        </td>
                        <td>
                            {{{ hentTekst "skjema.oppholdikkehinder.label" }}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
