<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <style type="text/css">
            @page:first { margin: 12mm 2cm 2.5cm; }
            *       { box-sizing: border-box; }
            body    { font-family: Arial, sans-serif; font-size: 10pt; line-height: 1.4em; margin: 0; color: #3e3832; }
            h1      { font-family: Modus, Arial, sans-serif; font-size: 22pt; font-weight: 300 }
            h2      { font-family: Modus, Arial, sans-serif; font-size: 20pt; font-weight: 300; }
            h3, h4, h5, h6 { font-family: Modus, Arial, sans-serif; font-size: 13pt; font-weight: 300; }
            .logo      { position: absolute; left: 80mm; top: 0; width: 20mm; }
            .hode      { text-align: center; margin: 20mm 0 10.5mm; padding-bottom: 10.5mm; border-bottom: .5pt solid #999; }
            .hode hr   { border: none; border-top: .5pt solid #999; width: 8mm; margin: 10mm auto 8mm; }
            .hode .personalia > span { display: block; }
            .hode .nvn, .hode .fnr { font-family: Modus, Arial, sans-serif; font-weight: bold; font-size: 13pt; font-weight: 300; }
            .hode .adr { font-family: Modus, Arial, sans-serif; margin-top: 2mm; }
            .sendt-info { margin-bottom: 10.5mm; }
            ul { list-style: none; padding-left: 0; margin-top: 0; margin-bottom: 10.5mm; }
            .innsendt li { background: url(http://localhost:8080/sendsoknad/img/hake_sort_200.jpg) no-repeat left center; padding-left: 4mm; background-size: 2.3mm; }
            .ikke-innsendt li { background: url(http://localhost:8080/sendsoknad/img/minus_sort.gif) no-repeat left center; padding-left: 4mm; background-size: 2mm; }
            h3 { margin-bottom: 5mm; }
            ul li { margin-bottom: 2mm; font-size: 10pt; }
            .informasjon { font-size: 11pt; line-height: 1.3; }
        </style>
	</head>
	<body>
        <div id="ettersending">
            <img class="logo" src="http://localhost:8080/sendsoknad/img/nav-logo-stor.gif"/>
            <div class="hode">
                {{#hvisSant erEttersending}}
                    <h1>{{ hentTekst "ettersending.kvittering.tittel" }}</h1>
                {{/hvisSant }}
                <h1>{{ hentTekst "skjema.tittel" }}</h1>
                <hr/>
                {{#forFaktum "personalia"}}
                    <div class="personalia">
                        <span>
                            <span class="nvn">{{properties.navn}}</span>,
                            <span class="fnr">{{properties.fnr}}</span>
                        </span>
                        <span class="adr">{{properties.gjeldendeAdresse}}</span>
                    </div>
                {{/forFaktum}}
            </div>
            <div class="sendt-info">
                {{#sendtInnInfo }}
                    <span>{{ hentTekst "ettersending.kvittering.erSendt" sendtInn ikkeSendtInn innsendtDato }}</span>
                {{/sendtInnInfo }}
            </div>

            <h3>{{ hentTekst "ettersending.kvittering.innsendt.tittel" }}</h3>
            <ul class="innsendt">
                {{#forInnsendteVedlegg }}
                    <li>
                        <span>
                            {{ tittel }}{{#hvisIkkeTom navn }}:{{/hvisIkkeTom}}
                        </span>
                        {{#hvisIkkeTom navn }}
                            <span>{{ navn }}</span>
                        {{/hvisIkkeTom}}
                    </li>
                {{/forInnsendteVedlegg }}
            </ul>

            {{#hvisHarIkkeInnsendteDokumenter }}
                <h3>{{ hentTekst "ettersending.kvittering.ikkeInnsendt.tittel" }}</h3>
                <ul class="ikke-innsendt">
                    {{#forIkkeInnsendteVedlegg }}
                        <li>
                            <span>
                                {{ tittel }}{{#hvisIkkeTom navn }}:{{/hvisIkkeTom}}
                            </span>
                            {{#hvisIkkeTom navn }}
                                <span>{{ navn }}</span>
                            {{/hvisIkkeTom}}
                        </li>
                    {{/forIkkeInnsendteVedlegg }}
                </ul>
            {{/hvisHarIkkeInnsendteDokumenter }}

            <div class="informasjon">
                <p>{{ hentTekst "ettersending.kvittering.informasjonstekst.del1" }}</p>
                <p>{{ hentTekst "ettersending.kvittering.informasjonstekst.del2" }}</p>
            </div>


        </div>
	</body>
</html>
