<ul class="svar-liste">
    <li>
        <div>
            <span class="verdi verdi--tekst">
                {{additionalProperties.gatenavn}} {{additionalProperties.husnummer}}{{additionalProperties.husbokstav}}
            </span>
        </div>
        <div>
            <span class="verdi verdi--tekst">
                      {{additionalProperties.postnummer}} {{additionalProperties.poststed}}
                  </span>
        </div>
    </li>
</ul>