<ul class="svar-liste">
    <li>
        <div>
            <span class="verdi verdi--tekst">
                {{gatenavn}} {{husnummer}}{{husbokstav}}
            </span>
        </div>
        <div>
            <span class="verdi verdi--tekst">
                      {{postnummer}} {{poststed}}
                  </span>
        </div>
    </li>
</ul>