<li>
    <ul class="svar-liste">
        <li>
            <span class="verdi verdi--radio">
                {{ hentTekst (concat "inntekt.inntekter." verdi) }}
            </span>
        </li>
    </ul>
    {{#if verdi}}
        <ul class="svar-liste">
            <li>
                <h4>
                    {{hentTekst "inntekt.inntekter.true.type.sporsmal"}}
                </h4>
                <ul class="svar-liste">
                    {{#each @root.utbetalingstyper}}
                        {{#hvisLik type "navytelse"}}
                        {{else}}
                            <li>
                                <span class="verdi verdi--radio">
                                    {{ tittel }}
                                </span>
                                {{#hvisLik type "annen"}}
                                    <ul class="fakta-liste">
                                        <span class="label">
                                            {{hentTekst "inntekt.inntekter.true.type.annet.true.beskrivelse.label"}}
                                        </span>
                                        <ul class="svar-liste">
                                            <li>
                                                {{#if @root.soknad.data.okonomi.opplysninger.beskrivelseAvAnnet.utbetaling}}
                                                    <span class="verdi verdi--tekst">
                                                        {{@root.soknad.data.okonomi.opplysninger.beskrivelseAvAnnet.utbetaling}}
                                                    </span>
                                                {{else}}
                                                    <span class="verdi verdi--ikkeUtfylt">
                                                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                                    </span>
                                                {{/if}}
                                            </li>
                                        </ul>
                                    </ul>
                                {{/hvisLik}}
                            </li>
                        {{/hvisLik}}
                    {{/each}}
                </ul>
            </li>
        </ul>
    {{/if}}
</li>