{{#with data.personalia}}
    <div class="bolk js-bolk">
        <h2 class="bolk__tittel">{{ hentTekst "personaliabolk.tittel" }}</h2>
        {{#if @root.utvidetSoknad}}
            <h3>{{hentTekst "kontakt.system.personalia.sporsmal"}}</h3>
            {{{settInnInfotekst "kontakt.system.personalia.infotekst.tekst"}}}
        {{/if}}
        <ul class="fakta-liste">
            {{#if @root.utvidetSoknad}}
	            <li>
	                <h3>{{ hentTekst "kontakt.system.personalia.navn" }}</h3>
	                <ul class="svar-liste">
	                    <li>
	                        <span class="verdi verdi--tekst">
	                            {{navn.fornavn}} {{navn.mellomnavn}} {{navn.etternavn}}
	                        </span>
	                    </li>
	                </ul>
	            </li>
	            <li>
	                <h3>{{ hentTekst "kontakt.system.personalia.fnr" }}</h3>
	                <ul class="svar-liste">
	                    <li>
	                        <span class="verdi verdi--tekst">
	                            {{personIdentifikator.verdi}}
	                        </span>
	                    </li>
	                </ul>
	            </li>
            {{/if}}
            {{#if statsborgerskap.verdi}}
                <li>
                    <h3>{{ hentTekst "kontakt.system.personalia.statsborgerskap" }}</h3>
                    <ul class="svar-liste">
                        <li>
                            <span class="verdi verdi--tekst">
                                {{statsborgerskap.verdi}}
                            </span>
                        </li>
                    </ul>
                </li>
            {{/if}}
            {{#if @root.utvidetSoknad}}
                <h3>{{ hentTekst "soknadsmottaker.sporsmal" }}</h3>
                {{{settInnHjelpetekst "soknadsmottaker.hjelpetekst.tekst"}}}
            {{else}}
                <h3>{{ hentTekst "kontakt.system.adresse.sporsmal" }}</h3>
            {{/if}}
            <li>
                <span class="label">{{hentTekst "kontakt.system.oppholdsadresse.folkeregistrertAdresse"}}</span>
                {{#with folkeregistrertAdresse}}
                    {{> skjema/ny_generisk/adresse}}
                {{/with}}
                {{hentTekst "soknadsmottaker.infotekst.tekst"}}
                {{#with oppholdsadresse}}
                    {{> skjema/ny_generisk/adresse}}
                {{/with}}
	            {{#if @root.utvidetSoknad}}
	                {{> skjema/ny_generisk/personalia_adresse_svaralternativer}}
	            {{/if}}
            </li>
            {{#hvisLik telefonnummer.kilde "system"}}
                <h3>{{ hentTekst "kontakt.system.telefoninfo.sporsmal" }}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{settInnInfotekst "kontakt.system.telefoninfo.infotekst.tekst"}}}
                {{/if}}
                <li>
                    <span class="label">{{ hentTekst "kontakt.system.telefon.label" }}</span>
                    <ul class="svar-liste">
                        <li>
                            <span class="verdi verdi--tekst">
                                {{telefonnummer.verdi}}
                            </span>
                        </li>
                    </ul>
                </li>
                {{#if @root.utvidetSoknad}}
                    <ul class="svar-liste">
                        <li>
                            <h4>Knapp tilgjengelig:</h4>
                        </li>
                        <li>
                            <span>{{hentTekst "kontakt.system.telefon.endreknapp.label"}}</span>
                        </li>
                    </ul>
                {{/if}}
            {{else}}
                <h3>{{ hentTekst "kontakt.telefon.sporsmal" }}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{settInnInfotekst "kontakt.telefon.infotekst.tekst"}}}
                {{/if}}
                <li>
                    <span class="label">{{ hentTekst "kontakt.telefon.label" }}</span>
                    <ul class="svar-liste">
                        <li>
                            {{#if telefonnummer.verdi}}
                                <span class="verdi verdi--tekst">
                                    {{telefonnummer.verdi}}
                                </span>
                            {{else}}
                                <span class="verdi verdi--ikkeUtfylt">
                                    <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                </span>
                            {{/if}}
                        </li>
                    </ul>
                </li>
            {{/hvisLik}}
            <h3>{{ hentTekst "kontakt.kontonummer.sporsmal" }}</h3>
            {{#if @root.utvidetSoknad}}
                {{{settInnInfotekst "kontakt.kontonummer.infotekst.tekst"}}}
            {{/if}}
            <li>
                <span class="label">{{ hentTekst "kontakt.kontonummer.label" }}</span>
                <ul class="svar-liste">
                    <li>
                        {{#if kontonummer.harIkkeKonto}}
                            <span class="verdi verdi--radio">
                                {{hentTekst "kontakt.kontonummer.harikke.true"}}
                            </span>
                        {{else}}
                            {{#if kontonummer.verdi}}
                                <span class="verdi verdi--tekst">
                                    {{kontonummer.verdi}}
                                </span>
                            {{else}}
                                <span class="verdi verdi--ikkeUtfylt">
                                    <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                </span>
                            {{/if}}
                        {{/if}}
                    </li>
                    {{#if @root.utvidetSoknad}}
                        {{{hentSvaralternativer "kontakt.kontonummer"}}}
                    {{/if}}
                </ul>
            </li>
        </ul>
    </div>
{{/with}}