<h2>{{ hentTekst "andreytelser.tittel" }}</h2>
<table>
    {{#forFaktum "ytelser.ventelonn"}}
        {{#hvisSant value}}

            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "ytelser.ventelonn.label" }}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "ytelser.lonnarbeidsgiver"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "ytelser.lonnarbeidsgiver.label" }}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "ytelser.vartpenger"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "ytelser.vartpenger.label" }}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "ytelser.avtjening"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "ytelser.avtjening.label" }}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "ytelser.ingenYtelse"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "ytelser.ingenYtelse.label" }}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
    {{#forFaktum "ytelser.sluttpakke"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "ytelser.sluttpakke.label" }}</span>
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
</table>
