<h2>{{hentTekst "arbeidsforhold.tittel"}}</h2>
<table>
    {{#forFaktum "arbeidsforhold.yrkesaktiv"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{hentTekst "arbeidsforhold.yrkesaktiv.true"}}</span>
                </td>
            </tr>
        {{else}}

            {{#forFakta "arbeidsforhold"}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span class="strong">{{properties.arbeidsgivernavn}}</span>

                        <div>{{#hvisSant properties.jobbetkuninorge}}
                            {{hentTekst "oppsummering.arbeidsforhold.jobbetkuninorge"}}
                        {{else}}
                            {{hentLand properties.land}}
                        {{/hvisSant}}
                        </div>
                        <div>{{#hvisSant properties.ansatt}}
                            {{hentTekst "oppsummering.arbeidsforhold.fra"}} {{formatterLangDato properties.fom }} {{hentTekst "oppsummering.arbeidsforhold.tilna"}}
                        {{else}}
                            {{hentTekst "oppsummering.arbeidsforhold.fra"}} {{formatterLangDato properties.fom }} {{hentTekst "oppsummering.arbeidsforhold.til"}} {{formatterLangDato properties.tom}}
                        {{/hvisSant}}
                        </div>
                        <div>
                            {{#hvisLik properties.stillingstype "variabel"}}
                                {{hentTekst "arbeidsforhold.ansatt.stillingsprosent.variabel"}}
                            {{/hvisLik}}
                            {{#hvisLik properties.stillingstype "fastOgVariabel"}}
                                {{hentTekst "arbeidsforhold.stillingstype.fastOgVariabel"}}
                            {{/hvisLik}}
                            {{#hvisLik properties.stillingstype "fast"}}
                                {{properties.stillingsprosent}} {{hentTekst "oppsummering.arbeidsforhold.stillingsprosent.label"}}
                            {{/hvisLik}}
                        </div>

                        {{#unless properties.kilde "EDAG"}}
                            {{#hvisSant properties.permisjon}}
                                <div>{{hentTekst "perioder.permisjon.true"}}</div>
                            {{else}}
                                <div>{{hentTekst "perioder.permisjon.false"}}</div>
                                {{#hvisSant properties.opphorer}}
                                    <div>{{hentTekst "perioder.permisjon.opphorer.true"}}</div>
                                {{else}}
                                    <div>{{hentTekst "perioder.permisjon.opphorer.false"}}</div>
                                    <div>{{properties.aarsakikkeavtalt}}</div>
                                {{/hvisSant}}
                            {{/hvisSant}}
                        {{/unless}}
                    </td>
                </tr>
            {{/forFakta}}
        {{/hvisSant}}
    {{/forFaktum}}
</table>