<h2>{{hentTekst "arbeidsforhold.tittel"}}</h2>
<table>
    {{#forFaktum "arbeidsforhold.yrkesaktiv"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{hentTekst "arbeidsforhold.yrkesaktiv.true"}}</span>
                </td>
            </tr>
        {{else}}

            {{#forFakta "arbeidsforhold"}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span class="strong">{{properties.arbeidsgivernavn}}
                        {{#hvisIkkeTom properties.orgnr}} ({{properties.orgnr}}){{/hvisIkkeTom}}</span>

                        {{#hvisSant properties.jobbetkuninorge}}{{else}}
                        <div>
                            {{hentLand properties.land}}
                        </div>
                        {{/hvisSant}}

                        <div>{{#hvisSant properties.ansatt}}
                            {{hentTekst "oppsummering.arbeidsforhold.fra"}} {{formaterLangDato properties.fom }} {{hentTekst "oppsummering.arbeidsforhold.tilna"}}
                        {{else}}
                            {{hentTekst "oppsummering.arbeidsforhold.fra"}} {{formaterLangDato properties.fom }} {{hentTekst "oppsummering.arbeidsforhold.til"}} {{formaterLangDato properties.tom}}
                        {{/hvisSant}}
                        </div>
                        <div>
                            {{#hvisLik properties.stillingstype "variabel"}}
                                {{hentTekst "arbeidsforhold.ansatt.stillingsprosent.variabel"}}
                            {{/hvisLik}}
                            {{#hvisLik properties.stillingstype "fastOgVariabel"}}
                                {{hentTekst "arbeidsforhold.stillingstype.fastOgVariabel"}}
                            {{/hvisLik}}
                            {{#hvisLik properties.stillingstype "fast"}}
                                {{properties.stillingsprosent}} {{hentTekst "oppsummering.arbeidsforhold.stillingsprosent.label"}}
                            {{/hvisLik}}
                        </div>

                        {{#unless properties.kilde "EDAG"}}
                            {{#hvisSant properties.ansatt}}
                                {{#hvisSant properties.permisjon}}
                                    <div>{{hentTekst "perioder.permisjon.true"}}</div>
                                {{else}}
                                    <div>{{hentTekst "perioder.permisjon.false"}}</div>
                                    {{#hvisSant properties.opphorer}}
                                        <div>{{hentTekst "perioder.permisjon.opphorer.true"}}</div>
                                    {{else}}
                                        <div>{{hentTekst "perioder.permisjon.opphorer.false"}}</div>
                                        <div>{{hentTekst "arbeidsforhold.oppsummering.aarsak.sporsmal"}}: <em>{{properties.aarsakikkeavtalt}}</em></div>
                                    {{/hvisSant}}
                                {{/hvisSant}}
                            {{/hvisSant}}
                        {{/unless}}

                        {{#forBarnefakta "arbeidsforhold.relasjon"}}
                            <div>{{hentTekst "arbeidsforhold.relasjon.sporsmal"}}</div>
                            {{#hvisSant value}}
                                <div>{{hentTekst "arbeidsforhold.relasjon.true"}}</div>
                            {{else}}
                                <div>{{hentTekst "arbeidsforhold.relasjon.false"}}</div>
                               {{#forBarnefakta "arbeidsforhold.relasjon.false.fritekst"}}
                                    <div>{{hentTekst "arbeidsforhold.relasjon.false.infotekst"}}:<em>{{value}}</em></div>
                               {{/forBarnefakta}}
                            {{/hvisSant}}
                        {{/forBarnefakta}}
                    </td>
                </tr>
            {{/forFakta}}
        {{/hvisSant}}
    {{/forFaktum}}
</table>