<h2>{{ hentTekst "barnet.tittel" }}</h2>
<table>
    {{#forFaktum "barnet.dato"}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>
                    {{#forFaktum "soknadsvalg.fodselelleradopsjon"}}
                        {{#hvisLik value "fodsel"}}

                            {{#forFaktum "veiledning.mor.terminbekreftelse"}}
                                {{#hvisLik value "fodt"}}
                                    {{hentTekst "oppsummering.barnet.fodselsdato"}}
                                {{else}}
                                    {{hentTekst "oppsummering.barnet.termindato"}}
                                {{/hvisLik}}
                            {{/forFaktum}}

                            {{#forFaktum "soknadsvalg.stonadstype"}}
                                {{#hvisLik value "foreldrepengerFar"}}
                                    {{hentTekst "oppsummering.barnet.fodselsdato"}}
                                {{/hvisLik}}
                                {{#hvisLik value "endringMor"}}
                                    {{hentTekst "oppsummering.barnet.fodselsdato"}}
                                {{/hvisLik}}
                                {{#hvisLik value "endringFar"}}
                                    {{hentTekst "oppsummering.barnet.fodselsdato"}}
                                {{/hvisLik}}
                            {{/forFaktum}}

                        {{/hvisLik}}
                        {{#hvisLik value "adopsjon"}}
                            {{hentTekst "oppsummering.barnet.overtagelsesdato"}}
                        {{/hvisLik}}
                    {{/forFaktum}}
                    {{ formaterLangDato value}}</span>
            </td>
        </tr>
    {{/forFaktum}}
    {{#forFaktum "barnet.termindatering"}}
        <tr>
            <td class="sjekket"></td>
            <td>
               <span>{{hentTekst "oppsummering.barnet.termindatering"}} {{ formaterLangDato value}}</span>
            </td>
        </tr>
    {{/forFaktum}}
    {{#forFaktum "barnet.signertterminbekreftelse"}}
            <tr>
                <td class="sjekket"></td>
                <td>
                   <span>{{value}} {{hentTekst "oppsummering.barnet.signertterminbekreftelse"}} </span>
                </td>
            </tr>
    {{/forFaktum}}
    {{#forFaktum "barnet.antall"}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{value}} {{hentTekst "oppsummering.barnet.antallTekst"}}</span>
            </td>
        </tr>
    {{/forFaktum}}
</table>