{{#forFaktum "dekningsgrad"}}
    <h2>{{ hentTekst "dekningsgrad.tittel" }}</h2>
    <table>
        <tr>
            <td class="sjekket"></td>
            <td>{{#hvisLik value "hundre"}}
                <span>{{ hentTekst "oppsummering.dekningsgrad.hundre" }}{{ hentTekst "oppsummering.dekningsgrad.tekst" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "aatti"}}
                    <span>{{ hentTekst "oppsummering.dekningsgrad.aatti" }}{{ hentTekst "oppsummering.dekningsgrad.tekst" }}</span>
                {{/hvisLik}}
            </td>
        </tr>
    </table>
{{/forFaktum}}