<h2>{{hentTekst "foreldresoknad.egennaering.tittel"}}</h2>
<table>
    {{#forFaktum "egennaering.arbeidegennaering"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{hentTekst "foreldresoknad.egennaering.arbeidegennaering.true"}}</span>
                </td>
            </tr>
        {{else}}

            {{#forFakta "naeringsvirksomhet"}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span class="strong">{{properties.navn}}</span>
                        <ul>
                            {{#hvisSant properties.registrertnorge}}
                                <li class="kulepunkt"><span>{{hentTekst "foreldresoknad.egennaering.oppsummering.registrerti.tittel"}} {{hentLand 'NOR'}}</span></li>
                                <li class="kulepunkt"><span>{{hentTekst "foreldresoknad.oppsummering.egennaering.orgnummer"}} {{properties.orgnummer}}</span></li>
                                {{else}}
                                <li class="kulepunkt"><span>{{hentTekst "foreldresoknad.egennaering.oppsummering.registrerti.tittel"}} {{hentLand properties.foretakland}}</span></li>
                            {{/hvisSant}}
                        {{#hvisIkkeTom properties.jobberandel}}
                            <li class="kulepunkt"><span>{{hentTekst "foreldresoknad.egennaering.oppsummering.landogprosent.1"}} {{properties.jobberandel}}
                                {{hentTekst "foreldresoknad.egennaering.oppsummering.landogprosent.2"}} {{hentLand properties.jobberland}}</span></li>
                        {{/hvisIkkeTom}}
                        <li class="kulepunkt">
                            {{#hvisLik properties.type "fiske"}}
                            <span>{{hentTekst "foreldresoknad.egennaering.nynaering.type.fiske"}}</span>
                                    <ul><li class="kulepunkt">
                                    {{#hvisLik properties.typefiske "blada" }}
                                         <span>{{hentTekst "foreldresoknad.egennaering.nynaering.typefiske.blada"}}</span>
                                    {{/hvisLik}}
                                    {{#hvisLik properties.typefiske "bladb" }}
                                        <span>{{hentTekst "foreldresoknad.egennaering.nynaering.typefiske.bladb"}}</span>
                                    {{/hvisLik}}
                                    {{#hvisLik properties.typefiske "lott" }}
                                        <span>{{hentTekst "foreldresoknad.egennaering.nynaering.typefiske.lott"}}</span>
                                    {{/hvisLik}}
                                    {{#hvisLik properties.typefiske "hyre" }}
                                        <span>{{hentTekst "foreldresoknad.egennaering.nynaering.typefiske.hyre"}}</span>
                                    {{/hvisLik}}
                                    </li></ul>

                            {{/hvisLik}}
                            {{#hvisLik properties.type "frilanser"}}
                                <span>{{hentTekst "foreldresoknad.egennaering.nynaering.type.frilanser"}}</span>
                            {{/hvisLik}}
                            {{#hvisLik properties.type "virksomhet"}}
                                <span>{{hentTekst "foreldresoknad.egennaering.nynaering.type.virksomhet"}}</span>
                            {{/hvisLik}}
                            {{#hvisLik properties.type "jordskog"}}
                                <span>{{hentTekst "foreldresoknad.egennaering.nynaering.type.jordskog"}}</span>
                            {{/hvisLik}}
                            {{#hvisLik properties.type "reindrift"}}
                                <span>{{hentTekst "foreldresoknad.egennaering.nynaering.type.reindrift"}}</span>
                            {{/hvisLik}}
                        </li>

                        <li class="kulepunkt">
                        {{#hvisSant properties.startetfireaarsiden}}
                            {{hentTekst "foreldresoknad.egennaering.nynaering.startetfireaarsiden.true"}}
                                <ul><li class="kulepunkt">{{hentTekst "foreldresoknad.oppsummering.egennaering.startetnar.dato"}} {{formaterLangDato properties.startetnar}}</li></ul>
                        {{else}}
                            <span>{{hentTekst "foreldresoknad.egennaering.nynaering.startetfireaarsiden.false"}}</span>
                        {{/hvisSant}}
                        </li>

                         <li class="kulepunkt">
                         {{#hvisSant properties.varigendring}}
                             <span>{{hentTekst "foreldresoknad.egennaering.nynaering.varigendring.true"}}</span>
                            <ul>
                                <li class="kulepunkt">{{hentTekst "foreldresoknad.oppsummering.egennaering.varigendring.dato"}} {{formaterLangDato properties.datoendring}}</li>
                                <li class="kulepunkt">{{hentTekst "foreldresoknad.egennaering.nynaering.varigendring.true.endring.label"}}: <em>{{properties.varigendringbeskrivelse}}</em></li>
                            </ul>
                        {{else}}
                             <span>{{hentTekst "foreldresoknad.egennaering.nynaering.varigendring.false"}}</span>
                        {{/hvisSant}}
                        </li>

                        {{#forBarnefakta "egennaering.oppdragsgiver"}}
                            <li class="kulepunkt">{{hentTekst "foreldresoknad.oppsummering.egennaering.oppdrag.beskrivelse"}} {{properties.navn}}
                                {{hentTekst "foreldresoknad.oppsummering.egennaering.oppdrag.fra"}} {{formaterLangDato properties.fradato}}
                                {{hentTekst "foreldresoknad.oppsummering.egennaering.oppdrag.til"}} {{formaterLangDato properties.tildato}}</li>
                        {{/forBarnefakta}}

                        <li class="kulepunkt">{{#hvisSant properties.regnskapsforer}}
                            <span>{{hentTekst "foreldresoknad.egennaering.nynaering.regnskapsforer.true"}}</span>
                            <ul>
                                <li class="kulepunkt">{{hentTekst "foreldresoknad.egennaering.nynaering.regnskapsforer.navn.label"}}: {{properties.regnskapsforernavn}}</li>
                                <li class="kulepunkt">{{hentTekst "foreldresoknad.egennaering.nynaering.regnskapsforer.tlf.label"}}: {{properties.regnskapsforertlf}}</li>
                            </ul>
                        {{else}}
                            <span>{{hentTekst "foreldresoknad.egennaering.nynaering.regnskapsforer.false"}}</span>
                        {{/hvisSant}}
                        </li>
                        </ul>
                    </td>
                </tr>
            {{/forFakta}}
        {{/hvisSant}}
    {{/forFaktum}}

    {{#forFaktum "egennaering.arbeidegennaering.relasjon"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{hentTekst "egennaering.arbeidegennaering.relasjon.false"}}</span>
                </td>
            </tr>
        {{else}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{hentTekst "egennaering.arbeidegennaering.relasjon.true"}}</span>
                    <br/>
                    {{#forFaktum "egennaering.arbeidegennaering.relasjon.true.fritekst"}}
                        {{#hvisIkkeTom value}}
                            <span>{{hentTekst "egennaering.arbeidegennaering.relasjon.true.infotekst"}}</span>: <i>{{value}}</i>
                        {{/hvisIkkeTom}}
                    {{/forFaktum}}
                </td>
            </tr>
        {{/hvisSant}}
    {{/forFaktum}}
</table>