<h2>{{hentTekst "foreldresoknad.egennaering.tittel"}}</h2>
<table>
    {{#forFaktum "egennaering.arbeidegennaering"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{hentTekst "foreldresoknad.egennaering.arbeidegennaering.false"}}</span>
                </td>
            </tr>
        {{else}}

            {{#forFakta "naeringsvirksomhet"}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span class="strong">{{properties.navn}}</span>
                        <ul>
                        <li class="kulepunkt">{{hentTekst "foreldresoknad.oppsummering.egennaering.orgnummer"}} {{properties.orgnummer}}</li>
                        <li class="kulepunkt">{{#hvisLik properties.type "fiske"}}
                               {{hentTekst "foreldresoknad.egennaering.nynaering.type.fiske"}}
                                    <ul><li class="kulepunkt">
                                    {{#hvisLik properties.typefiske "blada" }}
                                        {{hentTekst "foreldresoknad.egennaering.nynaering.typefiske.blada"}}
                                    {{/hvisLik}}
                                    {{#hvisLik properties.typefiske "bladb" }}
                                        {{hentTekst "foreldresoknad.egennaering.nynaering.typefiske.bladb"}}
                                    {{/hvisLik}}
                                    {{#hvisLik properties.typefiske "lott" }}
                                        {{hentTekst "foreldresoknad.egennaering.nynaering.typefiske.lott"}}
                                    {{/hvisLik}}
                                    {{#hvisLik properties.typefiske "hyse" }}
                                        {{hentTekst "foreldresoknad.egennaering.nynaering.typefiske.hyse"}}
                                    {{/hvisLik}}
                                    </li></ul>

                            {{/hvisLik}}
                            {{#hvisLik properties.type "frilanser"}}
                                {{hentTekst "foreldresoknad.egennaering.nynaering.type.frilanser"}}
                            {{/hvisLik}}
                            {{#hvisLik properties.type "jordskog"}}
                                {{hentTekst "foreldresoknad.egennaering.nynaering.type.jordskog"}}
                            {{/hvisLik}}
                            {{#hvisLik properties.type "reindrift"}}
                                {{hentTekst "foreldresoknad.egennaering.nynaering.type.reindrift"}}
                            {{/hvisLik}}
                        </li>

                        <li class="kulepunkt">{{#hvisSant properties.startetfireaarsiden}}
                            {{hentTekst "foreldresoknad.egennaering.nynaering.startetfireaarsiden.true"}}
                                <ul><li class="kulepunkt">{{hentTekst "foreldresoknad.oppsummering.egennaering.startetnar.dato"}} {{formatterLangDato properties.startetnar}}<li></ul>
                            </li>
                        {{else}}
                            {{hentTekst "foreldresoknad.egennaering.nynaering.startetfireaarsiden.false"}}
                        {{/hvisSant}}
                        </li>

                         <li class="kulepunkt">{{#hvisSant properties.varigendring}}{{hentTekst "foreldresoknad.egennaering.nynaering.varigendring.true"}}
                            <ul>
                                <li class="kulepunkt">{{hentTekst "foreldresoknad.oppsummering.egennaering.varigendring.dato"}} {{formatterLangDato properties.datoendring}}</li>
                                <li class="kulepunkt">{{hentTekst "foreldresoknad.egennaering.nynaering.varigendring.true.endring.label"}}: <em>{{properties.varigendringbeskrivelse}}</em></li>
                            </ul>
                        {{else}}
                            {{hentTekst "foreldresoknad.egennaering.nynaering.varigendring.false"}}
                        {{/hvisSant}}
                        </li>

                        {{#forFakta "egennaering.oppdragsgiver"}}
                            <li class="kulepunkt">{{hentTekst "foreldresoknad.oppsummering.egennaering.oppdrag.beskrivelse"}} {{properties.navn}}
                                {{hentTekst "foreldresoknad.oppsummering.egennaering.oppdrag.fra"}} {{formatterLangDato properties.fradato}}
                                {{hentTekst "foreldresoknad.oppsummering.egennaering.oppdrag.til"}} {{formatterLangDato properties.tildato}}</li>
                        {{/forFakta}}

                        <li class="kulepunkt">{{#hvisSant properties.regnskapsforer}}{{hentTekst "foreldresoknad.egennaering.nynaering.reinskapsforer.true"}}
                            <ul>
                                <li class="kulepunkt">{{hentTekst "foreldresoknad.egennaering.nynaering.reinskapsforer.navn.label"}}: {{properties.regnskapsforernavn}}</li>
                                <li class="kulepunkt">{{hentTekst "foreldresoknad.egennaering.nynaering.reinskapsforer.tlf.label"}}: {{properties.regnskapsforertlf}}</li>
                            </ul>
                        {{else}}
                            {{hentTekst "foreldresoknad.egennaering.nynaering.reinskapsforer.false"}}
                        {{/hvisSant}}
                        </li>
                        </ul>


                    </td>
                </tr>
            {{/forFakta}}
        {{/hvisSant}}
    {{/forFaktum}}
</table>