<h2>{{hentTekst "foreldresoknad.infomor.tittel"}}</h2>
<table>
    {{#forFaktumHvisSant "infomor.opplysninger.kanIkkeOppgi"}}
        <tr>
            <td class="sjekket"></td>
            <td> <span>{{hentTekst "foreldresoknad.infomor.opplysninger.kanIkkeOppgi.label"}}</span></td>
        </tr>

        {{#forFaktum "infomor.opplysninger.kanIkkeOppgi.true.arsak"}}
            {{#hvisLik "ukjent" value}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.ukjent"}}</span>

                        {{#forFaktum 'infomor.opplysninger.kanIkkeOppgi.true.arsak.ukjent.begrunnelse'}}
                            <br/>
                            <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.ukjent.begrunnelse.sporsmal"}}: <em>{{value}}</em></span>
                        {{/forFaktum}}
                    </td>
                </tr>
            {{/hvisLik}}
            {{#hvisLik "utenlandsk" value}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk"}}</span>
                        <br/>
                        <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk.land"}}: </span> <i>{{hentLand properties.land}}</i>
                        <br/>
                        {{#forFaktum "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk.fodselsnummer"}}
                            {{#hvisIkkeTom value}}
                                <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk.fodselsnummer"}}: </span><i>{{value}}</i>
                            {{/hvisIkkeTom}}
                        {{/forFaktum}}
                    </td>
                </tr>

                {{> skjema/foreldresoknad/kjentmor }}

            {{/hvisLik}}

        {{/forFaktum}}
    {{else}}
         <tr>
            <td class="sjekket"></td>
            <td>
              <span>
                  {{hentFaktumValue "infomor.opplysninger.fornavn"}} {{hentFaktumValue "infomor.opplysninger.etternavn"}},
                       {{#forFaktum "infomor.opplysninger.personinfo"}}
                          {{properties.personnummer}}
                       {{/forFaktum}}
              </span>
            </td>
         </tr>
        {{> skjema/foreldresoknad/kjentmor }}
    {{/forFaktumHvisSant}}
</table>