<h2>{{hentTekst "foreldresoknad.infomor.tittel"}}</h2>
<table>
    <tr>
        <td class="sjekket"></td>
        <td>
            <span>
            {{#forFaktum "infomor.opplysninger.kanIkkeOppgi"}}
                {{#hvisSant value }}
                    {{hentTekst "foreldresoknad.infomor.opplysninger.kanIkkeOppgi.label"}}
                {{else}}
                    {{hentFaktumValue "infomor.opplysninger.fornavn"}} {{hentFaktumValue "infomor.opplysninger.etternavn"}},
                    {{#forFaktum "infomor.opplysninger.personinfo"}}
                        {{#hvisLik "personnummer" properties.valg}}{{properties.personnummer}}{{/hvisLik}}
                    {{/forFaktum}}
                {{/hvisSant}}
            {{else}}
                {{hentFaktumValue "infomor.opplysninger.fornavn"}} {{hentFaktumValue "infomor.opplysninger.etternavn"}},
                {{#forFaktum "infomor.opplysninger.personinfo"}}
                    {{#hvisLik "personnummer" properties.valg}}{{properties.personnummer}}{{/hvisLik}}
                {{/forFaktum}}
            {{/forFaktum}}
            </span>
        </td>
    </tr>

    {{#forFaktum "infomor.opplysninger.kanIkkeOppgi"}}
        {{#hvisSant value }}
            {{#forFaktum "infomor.opplysninger.kanIkkeOppgi.true.arsak"}}
                {{#hvisLik "utenlandsk" value}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>
                            <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk"}}</span>
                            <br/>
                            <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk.land"}}: </span> <i>{{hentLand properties.land}}</i>
                            <br/>
                            {{#forFaktum "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk.fodselsnummer"}}
                                {{#hvisIkkeTom value}}
                                    <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.utenlandsk.fodselsnummer"}}: </span><i>{{value}}</i>
                                {{/hvisIkkeTom}}
                            {{/forFaktum}}
                        </td>
                    </tr>
                 {{/hvisLik}}
                 {{#hvisLik "ukjent" value}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>
                            <span>{{hentTekst "infomor.opplysninger.kanIkkeOppgi.true.arsak.ukjent"}}</span>
                        </td>
                    </tr>
                 {{/hvisLik}}
            {{/forFaktum}}
        {{/hvisSant}}
    {{/forFaktum}}

    {{#forFaktum "rettigheter.omsorg"}}
    <tr>
        <td class="sjekket"></td>
         <td>
        {{#hvisLik "aleneomsorg" value}}
            <span>{{hentTekst "foreldresoknad.infomor.aleneomsorg.alternativ.2"}}</span>
                {{#forFaktum "infomor.aleneomsorg.omsorgfradato"}}
                    <div>{{hentTekst "foreldresoknad.oppsummering.infomor.aleneomsorg.fradato.tekst"}} {{formaterLangDato value}}</div>
                {{/forFaktum}}
            {{#forFaktum "infomor.aleneomsorg.fritekst"}}
                <div>{{hentTekst "foreldresoknad.infomor.aleneomsorg.fritekst.label"}}: <em>{{value}}</em></div>
            {{/forFaktum}}
        </td>
        </tr>
        {{/hvisLik}}

        {{#hvisLik "morfarborsammen" value}}
            <span>{{hentTekst "foreldresoknad.infomor.aleneomsorg.alternativ.1"}}</span>
        </td>
        </tr>
        {{#forFaktum "rettighet.harrett"}}
            {{#hvisIkkeTom value}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        {{#hvisLik "true" value}}<span>{{hentTekst "foreldresoknad.infomor.morrett.true"}}</span>{{/hvisLik}}
                        {{#hvisLik "ufore" value}}<span>{{hentTekst "foreldresoknad.infomor.morrett.ufore"}}</span>{{/hvisLik}}
                        {{#hvisLik "false" value}}
                            <span>{{hentTekst "foreldresoknad.infomor.morrett.false"}}</span>
                        {{/hvisLik}}
                    </td>
                </tr>
            {{/hvisIkkeTom}}
        {{/forFaktum}}
        {{#forFaktum "infomor.informert"}}
            {{#hvisIkkeTom value}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        {{#hvisLik "true" value}}<span>{{hentTekst "foreldresoknad.infomor.informert.true"}}</span>{{/hvisLik}}
                        {{#hvisLik "false" value}}<span>{{hentTekst "foreldresoknad.infomor.informert.false"}}</span>{{/hvisLik}}
                    </td>
                </tr>
            {{/hvisIkkeTom}}
        {{/forFaktum}}
    {{/hvisLik}}
{{/forFaktum}}
</table>