<h2>{{hentTekst "infofar.tittel"}}</h2>
<table>
    <tr>
        <td class="sjekket"></td>
        <td>
            <span>
            {{#forFaktum "infofar.opplysninger.kanIkkeOppgi"}}
                {{#hvisSant value }}
                    {{hentTekst "foreldresoknad.infofar.opplysninger.kanIkkeOppgi.label"}}
                {{else}}
                    {{hentFaktumValue "infofar.opplysninger.fornavn"}} {{hentFaktumValue "infofar.opplysninger.etternavn"}},
                    {{#forFaktum "infofar.opplysninger.personinfo"}}
                        {{#hvisLik "fodselsdato" properties.valg}}{{formaterLangDato properties.fodselsdato}}{{/hvisLik}}
                        {{#hvisLik "personnummer" properties.valg}}{{properties.personnummer}}{{/hvisLik}}
                    {{/forFaktum}}
                {{/hvisSant}}
            {{else}}
                {{hentFaktumValue "infofar.opplysninger.fornavn"}} {{hentFaktumValue "infofar.opplysninger.etternavn"}},
                {{#forFaktum "infofar.opplysninger.personinfo"}}
                    {{#hvisLik "fodselsdato" properties.valg}}{{formaterLangDato properties.fodselsdato}}{{/hvisLik}}
                    {{#hvisLik "personnummer" properties.valg}}{{properties.personnummer}}{{/hvisLik}}
                {{/forFaktum}}
            {{/forFaktum}}
            </span>
        </td>
    </tr>

    {{#forFaktum "rettigheter.omsorg"}}
    <tr>
        <td class="sjekket"></td>
    <td>{{#hvisLik "aleneomsorg" value}}
        <span>{{hentTekst "infofar.aleneomsorg.alternativ.2"}}</span>

        <div>{{hentTekst "foreldresoknad.infofar.aleneomsorg.fritekst.label"}}: <em>{{hentFaktumValue "infofar.aleneomsorg.fritekst"}}</em></div>
    </td>
    </tr>
    {{/hvisLik}}

        {{#hvisLik "morfarborsammen" value}}
            <span>{{hentTekst "infofar.aleneomsorg.alternativ.1"}}</span>
            </td>
            </tr>
            {{#forFaktum "rettighet.harrett"}}
                {{#hvisIkkeTom value}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>
                            {{#hvisLik "true" value}}<span>{{hentTekst "infofar.farrett.true"}}</span>{{/hvisLik}}
                            {{#hvisLik "vetikke" value}}<span>{{hentTekst "infofar.farrett.vetikke"}}</span>{{/hvisLik}}
                            {{#hvisLik "false" value}}
                                <span>{{hentTekst "infofar.farrett.false"}}: <em>{{hentFaktumValue "infofar.farrett.fritekst"}}</em></span>
                            {{/hvisLik}}
                        </td>
                    </tr>
                {{/hvisIkkeTom}}
            {{/forFaktum}}
            {{#forFaktum "infofar.informert"}}
                {{#hvisIkkeTom value}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>
                            {{#hvisLik "true" value}}<span>{{hentTekst "infofar.informert.true"}}</span>{{/hvisLik}}
                            {{#hvisLik "false" value}}
                                <span>{{hentTekst "infofar.informert.false"}}</span>
                            {{/hvisLik}}
                        </td>
                    </tr>
                {{/hvisIkkeTom}}
            {{/forFaktum}}
        {{/hvisLik}}
    {{/forFaktum}}
</table>