<h2>{{hentTekst "infofar.tittel"}}</h2>
<table>
    {{#forFaktum "rettigheter.endring"}}
    <tr>
        <td class="sjekket"></td>
        {{#hvisLik "true" value}}
            <td>
                <span>{{hentTekst "rettigheter.endring.mor.infofar.true"}}</span>
            </td>
        {{/hvisLik}}

        {{#hvisLik "false" value}}
            <td>
                <span>{{hentTekst "rettigheter.endring.mor.infofar.false"}}</span>
            </td>
        {{/hvisLik}}

        {{#hvisLik "aleneomsorg" value}}
            <td>
                <span>{{hentTekst "rettigheter.endring.mor.infofar.aleneomsorg"}}</span>
            </td>
        {{/hvisLik}}
    </tr>
    {{/forFaktum}}

    {{#forFaktum "infofar.informert"}}
            <tr>
                <td class="sjekket"></td>

                {{#hvisLik "true" value}}
                    <td>
                        <span>{{hentTekst "infofar.informert.true"}}</span>
                    </td>
                {{/hvisLik}}

                {{#hvisLik "false" value}}
                    <td>
                        <span>{{hentTekst "infofar.informert.false"}}</span>
                    </td>
                {{/hvisLik}}
            </tr>
    {{/forFaktum}}
</table>