{{#forFaktum "rettigheter.omsorg"}}
    <tr>
        <td class="sjekket"></td>
         <td>
        {{#hvisLik "aleneomsorg" value}}
            <span>{{hentTekst "foreldresoknad.infomor.aleneomsorg.alternativ.2"}}</span>
                {{#forFaktum "infomor.aleneomsorg.omsorgfradato"}}
                    <div>{{hentTekst "foreldresoknad.oppsummering.infomor.aleneomsorg.fradato.tekst"}} {{formaterLangDato value}}</div>
                {{/forFaktum}}
            {{#forFaktum "infomor.aleneomsorg.fritekst"}}
                <div>{{hentTekst "foreldresoknad.infomor.aleneomsorg.fritekst.label"}}: <em>{{value}}</em></div>
            {{/forFaktum}}
        {{/hvisLik}}

        {{#hvisLik "morfarborsammen" value}}
            <span>{{hentTekst "foreldresoknad.infomor.aleneomsorg.alternativ.1"}}</span>
        </td>
        </tr>
        {{#forFaktum "rettighet.harrett"}}
            {{#hvisIkkeTom value}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        {{#hvisLik "true" value}}<span>{{hentTekst "foreldresoknad.infomor.morrett.true"}}</span>{{/hvisLik}}
                        {{#hvisLik "ufore" value}}<span>{{hentTekst "foreldresoknad.infomor.morrett.ufore"}}</span>{{/hvisLik}}
                        {{#hvisLik "false" value}}
                            <span>{{hentTekst "foreldresoknad.infomor.morrett.false"}}</span>
                        {{/hvisLik}}
                    </td>
                </tr>
            {{/hvisIkkeTom}}
        {{/forFaktum}}
        {{#forFaktum "infomor.informert"}}
            {{#hvisIkkeTom value}}
                <tr>
                    <td class="sjekket"></td>
                    <td>
                        {{#hvisLik "true" value}}<span>{{hentTekst "foreldresoknad.infomor.informert.true"}}</span>{{/hvisLik}}
                        {{#hvisLik "false" value}}<span>{{hentTekst "foreldresoknad.infomor.informert.false"}}</span>{{/hvisLik}}
                    </td>
                </tr>
            {{/hvisIkkeTom}}
        {{/forFaktum}}
    {{/hvisLik}}
{{/forFaktum}}