<h2> {{hentTekst "overforingfedrekvote.tittel"}}</h2>
<table>
    {{#forFaktum "fedrekvote"}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>
                    {{#hvisLik value "sykdom"}}{{hentTekst "fedrekvote.valg.sykdom"}}{{/hvisLik}}
                    {{#hvisLik value "aleneomsorg"}}{{hentTekst "fedrekvote.valg.aleneomsorg"}}{{/hvisLik}}
                    {{#hvisLik value "helseinstitusjon"}}{{hentTekst "fedrekvote.valg.helseinstitusjon"}}{{/hvisLik}}
                    {{#hvisLik value "ikkerett"}}{{hentTekst "fedrekvote.valg.ikkerett"}}{{/hvisLik}}
                </span>
            </td>
        </tr>
        {{#hvisLik value "ikkerett"}}
            <td class="sjekket"></td>
            <td>
                {{#forFaktum "fedrekvote.ikkerett.fritekst"}}
                    <span>{{value}}</span>
                {{/forFaktum}}
            </td>
        {{/hvisLik}}
    {{/forFaktum}}
</table>