{{#forFaktum "soknadsvalg.stonadstype"}}
<h2>
{{#hvisLik "overforing" value}}
    {{hentTekst "overforingfedrekvote.tittel"}}
{{/hvisLik}}
{{#hvisLik "overforingMedmor" value}}
    {{hentTekst "overforingmedmorkvote.tittel"}}
{{/hvisLik}}
</h2>
{{/forFaktum}}
<table>
    {{#forFaktum "fedrekvote"}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>
                 {{#hvisLik value "sykdom"}}
                 {{#forFaktum "soknadsvalg.stonadstype"}}
                          {{#hvisLik "overforing" value}}
                                      {{hentTekst "fedrekvote.valg.sykdom"}}
                          {{/hvisLik}}
                          {{#hvisLik "overforingMedmor" value}}
                                      {{hentTekst "medmorkvote.valg.sykdom"}}
                           {{/hvisLik}}
                    {{/forFaktum}}
                    {{/hvisLik}}
                    {{#hvisLik value "aleneomsorg"}}
                            {{hentTekst "fedrekvote.valg.aleneomsorg"}}
                    {{/hvisLik}}
                    {{#hvisLik value "helseinstitusjon"}}
                    {{#forFaktum "soknadsvalg.stonadstype"}}
                      {{#hvisLik "overforing" value}}
                             {{hentTekst "fedrekvote.valg.helseinstitusjon"}}
                      {{/hvisLik}}
                      {{#hvisLik "overforingMedmor" value}}
                             {{hentTekst "medmorkvote.valg.helseinstitusjon"}}
                      {{/hvisLik}}
                      {{/forFaktum}}
                      {{/hvisLik}}
                    {{#hvisLik value "ikkerett"}}
                    {{#forFaktum "soknadsvalg.stonadstype"}}
                         {{#hvisLik "overforing" value}}
                                  {{hentTekst "fedrekvote.valg.ikkerett"}}
                           {{/hvisLik}}
                           {{#hvisLik "overforingMedmor" value}}
                                     {{hentTekst "medmorkvote.valg.ikkerett"}}
                           {{/hvisLik}}
                    {{/forFaktum}}
                    {{/hvisLik}}
                </span>
            </td>
        </tr>
        {{#hvisLik value "ikkerett"}}
            <td class="sjekket"></td>
            <td>
                {{#forFaktum "fedrekvote.ikkerett.fritekst"}}
                    <span>{{value}}</span>
                {{/forFaktum}}
            </td>
        {{/hvisLik}}
    {{/forFaktum}}

</table>