<h2> {{hentTekst "overforingfedrekvote.tittel"}}</h2>
<table>
    {{#forFaktum "fedrekvote"}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>
                    {{#hvisLik value "sykdom"}}{{hentTekst "fedrekvote.valg.sykdom"}}{{/hvisLik}}
                    {{#hvisLik value "aleneomsorg"}}{{hentTekst "fedrekvote.valg.aleneomsorg"}}{{/hvisLik}}
                    {{#hvisLik value "helseinstitusjon"}}{{hentTekst "fedrekvote.valg.helseinstitusjon"}}{{/hvisLik}}
                    {{#hvisLik value "ikkerett"}}
                    {{#forFaktum "soknadsvalg.stonadstype"}}
                         {{#hvisLik "overforing" value}}
                                  {{hentTekst "fedrekvote.valg.ikkerett"}}
                           {{/hvisLik}}
                           {{#hvisLik "overforingMedmor" value}}
                                     {{hentTekst "medmorkvote.valg.ikkerett"}}
                           {{/hvisLik}}
                    {{/forFaktum}}
                    {{/hvisLik}}
                </span>
            </td>
        </tr>
        {{#hvisLik value "ikkerett"}}
            <td class="sjekket"></td>
            <td>
                {{#forFaktum "fedrekvote.ikkerett.fritekst"}}
                    <span>{{value}}</span>
                {{/forFaktum}}
            </td>
        {{/hvisLik}}
    {{/forFaktum}}

</table>