<h2>{{ hentTekst "foreldresoknad.perioder.tittel" }}</h2>
<table>
    {{#forFaktum "perioder.endring.omsorg"}}
        <tr>
            <td class="sjekket"></td>
            {{#hvisLik "true" value}}
                <td>
                    <span>{{hentTekst "perioder.endring.omsorg.true"}}</span>
                </td>
            {{/hvisLik}}

            {{#hvisLik "false" value}}
                <td>
                    <span>{{hentTekst "perioder.endring.omsorg.false"}}</span>
                </td>
            {{/hvisLik}}
        </tr>
    {{/forFaktum}}
</table>
<br/>
<br/>
<table class="perioder">
    <thead>
    <tr>
        <th>{{hentTekst "perioder.oppsummering.tabell.permisjon"}}</th>
        <th>{{hentTekst "perioder.oppsummering.tabell.periode"}}</th>
    </tr>
    </thead>
    <tbody>
        {{#forPerioder}}
            <tr>
                <td>{{properties.beskrivelse}}</td>
                <td>{{formaterLangDato properties.fradato}} - {{formaterLangDato properties.tildato}}</td>
            </tr>
            {{#forBarnefakta "perioder.morsaktivitet"}}
                <tr>
                    <td>{{properties.beskrivelse}}</td>
                    <td>{{formaterLangDato properties.fradato}} - {{formaterLangDato properties.tildato}}</td>
                </tr>
            {{/forBarnefakta}}
        {{/forPerioder}}
    </tbody>
</table>
