<h2>{{hentTekst "rettigheter.tittel"}}</h2>
<table>
    <tr>
        <td class="sjekket"></td>
        <td>
            {{#forFaktum "rettigheter.overtak"}}
                {{#hvisLik value "adoptererAlene"}}
                    <span>{{ hentTekst "rettigheter.overtak.alternativ.1" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "overtattPaGrunnAvDod"}}
                    <span>{{ hentTekst "rettigheter.overtak.alternativ.2" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "overtattOmsorgInnen53UkerFodsel"}}
                    <span>{{ hentTekst "rettigheter.overtak.alternativ.4" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "overtattOmsorgInnen53UkerAdopsjon"}}
                    <span>{{ hentTekst "rettigheter.overtak.alternativ.5" }}</span>
                {{/hvisLik}}
            {{/forFaktum}}
        </td>
    </tr>
</table>