<h2>{{ hentTekst "tilknytningnorge.tittel" }}</h2>
<table>

    {{#forFaktum "tilknytningnorge.oppholder"}}
        <tr>
            <td class="sjekket"></td>
            <td>
                <span>{{ hentTekst (concat "tilknytningnorge.oppholder." value)}}</span>
            </td>
        </tr>
    {{/forFaktum}}

    {{#forFaktum "tilknytningnorge.tidligere"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "tilknytningnorge.tidligere.true" }}</span>
                </td>
            </tr>
            {{else}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "tilknytningnorge.tidligere.false" }}</span>
                    {{#forFakta "tilknytningnorge.tidligere.periode"}}
                        {{> skjema/foreldresoknad/utenlandsopphold}}
                    {{/forFakta}}
                </td>
            </tr>
        {{/hvisSant}}

    {{/forFaktum}}

    {{#forFaktum "tilknytningnorge.fremtidig"}}
        {{#hvisSant value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "tilknytningnorge.fremtidig.true" }}</span>
                </td>
            </tr>
        {{else}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{ hentTekst "tilknytningnorge.fremtidig.false" }}</span>
                    {{#forFakta "tilknytningnorge.fremtidig.periode"}}
                        {{> skjema/foreldresoknad/utenlandsopphold}}
                    {{/forFakta}}
                </td>
            </tr>
        {{/hvisSant}}

    {{/forFaktum}}
</table>
