{{#forFaktum "soknadsvalg.stonadstype"}}
    {{#hvisLik "foreldrepengerFar" value}}
        <h1>{{ hentTekst "oppsummering.tittel.foreldrepenger" }}</h1>
    {{/hvisLik}}

    {{#hvisLik "engangsstonadFar" value}}
        <h1>{{ hentTekst "oppsummering.tittel.engangsstonad" }}</h1>
    {{/hvisLik}}

    {{#hvisLik "foreldrepengerMor" value}}
        <h1>{{ hentTekst "oppsummering.tittel.foreldrepenger" }}</h1>
    {{/hvisLik}}

    {{#hvisLik "engangsstonadMor" value}}
        <h1>{{ hentTekst "oppsummering.tittel.engangsstonad" }}</h1>
    {{/hvisLik}}

    {{#hvisLik "endringMor" value}}
            <h1>{{ hentTekst "oppsummering.tittel.endring" }}</h1>
    {{/hvisLik}}

    {{#hvisLik "endringFar" value}}
             <h1>{{ hentTekst "oppsummering.tittel.endring" }}</h1>
    {{/hvisLik}}

     {{#hvisLik "overforing" value}}
        <h1>{{ hentTekst "oppsummering.tittel.overforing" }}</h1>
    {{/hvisLik}}

{{/forFaktum}}