{{#forFaktum "soknadsvalg.stonadstype"}}
    {{#hvisLik "foreldrepengerFar" value}}
        <h1>{{ hentTekst "skjema.tittel" }} || Søknad om foreldrepenger</h1>
    {{/hvisLik}}

    {{#hvisLik "engangsstonadFar" value}}
        <h1>{{ hentTekst "skjema.tittel" }} || Søknad om engangsstønad</h1>
    {{/hvisLik}}

    {{#hvisLik "foreldrepengerMor" value}}
        <h1>{{ hentTekst "skjema.tittel" }} || Søknad om foreldrepenger</h1>
    {{/hvisLik}}

    {{#hvisLik "engangsstonadMor" value}}
        <h1>{{ hentTekst "skjema.tittel" }} || Søknad om engangsstønad</h1>
    {{/hvisLik}}

     {{#hvisLik "overforing" value}}
        <h1>{{ hentTekst "skjema.tittel" }} || Søknad om overføring av fedrekvote til mor</h1>
    {{/hvisLik}}

{{/forFaktum}}