<div>
    {{ hentLand properties.land}}
</div>
<div>
    {{hentTekst "oppsummering.utenlandsopphold.fra"}} {{ formaterLangDato properties.fradato}}
    {{hentTekst "oppsummering.utenlandsopphold.til"}} {{ formaterLangDato properties.tildato}}
</div>