<div>
    {{ hentLand properties.land}}
</div>
<div>
    {{hentTekst "oppsummering.utenlandsopphold.fra"}} {{ formatterLangDato properties.fradato}}
    {{hentTekst "oppsummering.utenlandsopphold.til"}} {{ formatterLangDato properties.tildato}}
</div>