<h2>{{ hentTekst "bilen.tittel" }}</h2>
<table>
    {{#forFaktum "bilen.eierBilenAllerede"}}
        <tr>
            <td class="sjekket"></td>
            <td>
                {{#hvisLik "true" value}}
                    <span>{{hentTekst "bilen.eierBilenAllerede.true"}}</span>
                    <ul>
                        <li class="kulepunkt faktum-felt">
                            {{hentTekst "bilen.registreringsnummer"}}:
                            <em>{{ hentFaktumValue "bilen.registreringsnummer"}}</em>
                        </li>
                {{/hvisLik}}
                {{#hvisLik "false" value}}
                    <span>{{hentTekst "bilen.eierBilenAllerede.false"}}</span>
                    <ul>
                {{/hvisLik}}
                        <li class="kulepunkt faktum-felt">
                            {{hentTekst "bilen.bilmerke"}}:
                            <em>{{ hentFaktumValue "bilen.bilmerke"}}</em>
                        </li>
                        <li class="kulepunkt faktum-felt">
                            {{hentTekst "bilen.bilmodell"}}:
                            <em>{{ hentFaktumValue "bilen.bilmodell"}}</em>
                        </li>
                        <li class="kulepunkt faktum-felt">
                            {{hentTekst "bilen.arsmodell"}}:
                            <em>{{ hentFaktumValue "bilen.arsmodell"}}</em>
                        </li>
                    </ul>
            </td>
        </tr>
    {{/forFaktum}}
</table>
