<h2>{{ hentTekst "bilen.tittel" }}</h2>
<table>
    {{#forFaktum "bilen.eierBilenAllerede"}}
        {{#hvisLik "true" value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{hentTekst "bilen.eierBilenAllerede.true"}}</span>
                </td>
            </tr>
            <tr>
                <td class="sjekket"></td>
                <td>
                    <div>{{hentTekst "bilen.registreringsnummer"}}:
                        <em>{{hentFaktumValue "bilen.registreringsnummer"}}</em></div>
                </td>
            </tr>
        {{/hvisLik}}
        {{#hvisLik "false" value}}
            <tr>
                <td class="sjekket"></td>
                <td>
                    <span>{{hentTekst "bilen.eierBilenAllerede.false"}}</span>
                </td>
            </tr>
        {{/hvisLik}}

    {{/forFaktum}}
    <tr>
        <td class="sjekket"></td>
        <td>
            <div>{{hentTekst "bilen.bilmerke"}}:
                <em>{{hentFaktumValue "bilen.bilmerke"}}</em></div>
        </td>
    </tr>
    <tr>
        <td class="sjekket"></td>
        <td>
            <div>{{hentTekst "bilen.bilmodell"}}:
                <em>{{hentFaktumValue "bilen.bilmodell"}}</em></div>
        </td>
    </tr>
    <tr>
        <td class="sjekket"></td>
        <td>
            <div>{{hentTekst "bilen.arsmodell"}}:
                <em>{{hentFaktumValue "bilen.arsmodell"}}</em></div>
        </td>
    </tr>
</table>
