<h2>{{ hentTekst "forerkort.tittel" }}</h2>
<table>
    {{#forFaktum "forerkort.erGyldigINorge"}}
        {{#hvisLik value "true"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{ hentTekst "forerkort.erGyldigINorge.label"}}</td>
            </tr>
        {{/hvisLik}}

        {{#hvisLik value "false"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{ hentTekst "forerkort.erIkkeGyldigINorge.label"}}

                    {{#forFaktum "forerkort.skalTaForerkort"}}

                        <ul>
                            {{#hvisLik value "true"}}
                                <li class="kulepunkt faktum-felt">
                                    {{ hentTekst "forerkort.skalTaForerkort.label"}}
                                </li>

                                {{#forFaktum "forerkort.sokerOmKjoreopplaering"}}
                                    {{#hvisLik value "true"}}
                                        <li class="kulepunkt faktum-felt">
                                            {{ hentTekst "forerkort.sokerOmKjoreopplaering.label"}}
                                        </li>
                                    {{/hvisLik}}

                                    {{#hvisLik value "false"}}
                                        <li class="kulepunkt faktum-felt">
                                            {{ hentTekst "forerkort.sokerIkkeOmKjoreopplaering.label"}}
                                        </li>
                                    {{/hvisLik}}

                                {{/forFaktum}}
                            {{/hvisLik}}

                            {{#hvisLik value "false"}}
                                <li class="kulepunkt faktum-felt">
                                    {{ hentTekst "forerkort.skalIkkeTaForerkort.label"}}
                                </li>

                                {{#forFaktum "forerkort.andreKanKjore"}}
                                    {{#hvisLik value "true"}}
                                        <li class="kulepunkt faktum-felt">
                                            {{ hentTekst "forerkort.andreKanKjore.label"}}
                                        </li>
                                    {{/hvisLik}}

                                    {{#hvisLik value "false"}}
                                        <li class="kulepunkt faktum-felt">
                                            {{ hentTekst "forerkort.andreKanIkkeKjore.label"}}
                                        </li>
                                    {{/hvisLik}}

                                {{/forFaktum}}
                            {{/hvisLik}}
                        </ul>
                    {{/forFaktum}}
                </td>
            </tr>
        {{/hvisLik}}
    {{/forFaktum}}
</table>