<h2>{{ hentTekst "forerkort.tittel" }}</h2>
<table>
    {{#forFaktum "forerkort.erGyldigINorge"}}
        {{#hvisLik value "true"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{ hentTekst "forerkort.erGyldigINorge.label"}}</td>
            </tr>
        {{/hvisLik}}

        {{#hvisLik value "false"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{ hentTekst "forerkort.erIkkeGyldigINorge.label"}}</td>
            </tr>

            {{#forFaktum "forerkort.skalTaForerkort"}}
                {{#hvisLik value "true"}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>{{ hentTekst "forerkort.skalTaForerkort.label"}}</td>
                    </tr>

                    {{#forFaktum "forerkort.sokerOmKjoreopplaering"}}
                        {{#hvisLik value "true"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>{{ hentTekst "forerkort.sokerOmKjoreopplaering.label"}}</td>
                            </tr>
                        {{/hvisLik}}

                        {{#hvisLik value "false"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>{{ hentTekst "forerkort.sokerIkkeOmKjoreopplaering.label"}}</td>
                            </tr>
                        {{/hvisLik}}

                    {{/forFaktum}}
                {{/hvisLik}}

                {{#hvisLik value "false"}}
                    <tr>
                        <td class="sjekket"></td>
                        <td>{{ hentTekst "forerkort.skalIkkeTaForerkort.label"}}</td>
                    </tr>

                    {{#forFaktum "forerkort.andreKanKjore"}}
                        {{#hvisLik value "true"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>{{ hentTekst "forerkort.andreKanKjore.label"}}</td>
                            </tr>
                        {{/hvisLik}}

                        {{#hvisLik value "false"}}
                            <tr>
                                <td class="sjekket"></td>
                                <td>{{ hentTekst "forerkort.andreKanIkkeKjore.label"}}</td>
                            </tr>
                        {{/hvisLik}}

                    {{/forFaktum}}
                {{/hvisLik}}
            {{/forFaktum}}
        {{/hvisLik}}
    {{/forFaktum}}
</table>