{{#forFaktum "behovforbil.behovforegenbil"}}
    {{#hvisLik value "ja"}}
        <tr>
            <td class="sjekket"></td>
            <td>{{hentTekst (concat cmsPrefiks "behovforbil.behovforegenbil.ja")}}</td>
        </tr>

        {{#forFaktumHvisSant "behovforbil.stotteordninger.harttkort"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{ hentTekst (concat cmsPrefiks "behovforbil.stotteordninger.harttkort")}}</td>
            <tr>
        {{/forFaktumHvisSant}}

        {{#forFaktumHvisSant "behovforbil.stotteordninger.grunnstonad"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{ hentTekst (concat cmsPrefiks "behovforbil.stotteordninger.grunnstonad")}}</td>
            <tr>
        {{/forFaktumHvisSant}}
        {{#forFaktumHvisSant "behovforbil.stotteordninger.soktttkort"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{ hentTekst (concat cmsPrefiks "behovforbil.stotteordninger.soktttkort")}}</td>
            <tr>
        {{/forFaktumHvisSant}}
        {{#forFaktumHvisSant "behovforbil.brukebilentil.butikkbank"}}
            <tr>
                <td class="sjekket"></td>
                <td><span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.butikkbank" )}}</span>
                    <ul>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.butikkbank.antallreiser" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.butikkbank.antallreiser" }}</em>
                        </li>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.butikkbank.antallkilometer" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.butikkbank.antallkilometer" }}</em>
                        </li>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.butikkbank.dekkerbehovidag.sporsmal" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.butikkbank.dekkerbehovidag" }}</em>
                        </li>
                    </ul>
                </td>
            </tr>
        {{/forFaktumHvisSant}}
        {{#forFaktumHvisSant "behovforbil.brukebilentil.familie"}}
            <tr>
                <td class="sjekket"></td>
                <td><span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.familie" )}}</span>
                    <ul>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.familie.antallreiser" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.familie.antallreiser" }}</em>
                        </li>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.familie.antallkilometer" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.familie.antallkilometer" }}</em>
                        </li>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.familie.dekkerbehovidag.sporsmal" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.familie.dekkerbehovidag" }}</em>
                        </li>
                    </ul>
                </td>
            </tr>
        {{/forFaktumHvisSant}}
        {{#forFaktumHvisSant "behovforbil.brukebilentil.venner"}}
            <tr>
                <td class="sjekket"></td>
                <td><span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.venner" )}}</span>
                    <ul>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.venner.antallreiser" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.venner.antallreiser" }}</em>
                        </li>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.venner.antallkilometer" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.venner.antallkilometer" }}</em>
                        </li>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.venner.dekkerbehovidag.sporsmal" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.venner.dekkerbehovidag" }}</em>
                        </li>
                    </ul>
                </td>
            </tr>
        {{/forFaktumHvisSant}}
        {{#forFaktumHvisSant "behovforbil.brukebilentil.fritidsaktiviteter"}}
            <tr>
                <td class="sjekket"></td>
                <td><span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.fritidsaktiviteter" )}}</span>
                    <ul>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.fritidsaktiviteter.antallreiser" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.fritidsaktiviteter.antallreiser" }}</em>
                        </li>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.fritidsaktiviteter.antallkilometer" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.fritidsaktiviteter.antallkilometer" }}</em>
                        </li>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.fritidsaktiviteter.dekkerbehovidag.sporsmal" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.fritidsaktiviteter.dekkerbehovidag" }}</em>
                        </li>
                    </ul>
                </td>
            </tr>
        {{/forFaktumHvisSant}}
        {{#forFaktumHvisSant "behovforbil.brukebilentil.annetbehov"}}
            <tr>
                <td class="sjekket"></td>
                <td><span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.annetbehov" )}}</span>
                    <ul>
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst (concat cmsPrefiks "behovforbil.brukebilentil.annetbehov.beskrivelse.sporsmal" )}}</span><br/>
                            <em>{{ hentFaktumValue "behovforbil.brukebilentil.annetbehov.beskrivelse" }}</em>
                        </li>
                    </ul>
                </td>
            </tr>
        {{/forFaktumHvisSant}}
    {{/hvisLik}}
    {{#hvisLik value "nei"}}
        <tr>
            <td class="sjekket"></td>
            <td>{{hentTekst (concat cmsPrefiks "behovforbil.behovforegenbil.nei")}}</td>
        </tr>
    {{/hvisLik}}
{{/forFaktum}}
