{{#forFaktum "behovforbil.behovforegenbil"}}
    {{#hvisLik value "ja"}}
        <tr>
            <td class="sjekket"></td>
            <td>{{hentTekst (concat cmsPrefiks "behovforbil.behovforegenbil.ja")}}</td>
        </tr>

        {{#forFaktumHvisSant "behovforbil.stotteordninger.harttkort"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{ hentTekst (concat cmsPrefiks "behovforbil.stotteordninger.harttkort")}}</td>
            </tr>
        {{/forFaktumHvisSant}}

        {{#forFaktumHvisSant "behovforbil.stotteordninger.grunnstonad"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{ hentTekst (concat cmsPrefiks "behovforbil.stotteordninger.grunnstonad")}}</td>
            </tr>
        {{/forFaktumHvisSant}}

        {{#forFaktumHvisSant "behovforbil.stotteordninger.soktttkort"}}
            <tr>
                <td class="sjekket"></td>
                <td>{{ hentTekst (concat cmsPrefiks "behovforbil.stotteordninger.soktttkort")}}</td>
            </tr>
        {{/forFaktumHvisSant}}

        {{#forFaktum "behovforbil.antallreisertilfraarbeid"}}
            <tr>
                <td class="sjekket"></td>
                <td><span>{{ hentTekst "oppsummering.behovforbil.antallreisertilfraarbeid"}}</span>: <em>{{ value }}</em></td>
            </tr>

        {{/forFaktum}}

        {{#forFaktum "behovforbil.avstandtilarbeidsplass"}}
            <tr>
                <td class="sjekket"></td>
                <td><span>{{ hentTekst "oppsummering.behovforbil.avstandtilarbeidsplass"}}</span>: <em>{{ value }}</em> {{ hentTekst "enhet.kilometer"}}</td>
            </tr>

        {{/forFaktum}}

        {{#forFaktum "behovforbil.hvordandekkesbehov.beskrivelse"}}
            <tr>
                <td class="sjekket"></td>
                <td><span>{{ hentTekst "oppsummering.behovforbil.hvordandekkesbehov.beskrivelse"}}</span>: <em>{{ value }}</em></td>
            </tr>
        {{/forFaktum}}
    {{/hvisLik}}

    {{#hvisLik value "nei"}}
        <tr>
            <td class="sjekket"></td>
            <td>{{hentTekst (concat cmsPrefiks "behovforbil.behovforegenbil.nei")}}</td>
        </tr>
    {{/hvisLik}}
{{/forFaktum}}
