{{#forFaktum "behovforbil.behovforegenbil"}}
    {{#hvisLik value "nei"}}
        <tr>
            <td class="sjekket"></td>
            <td>{{hentTekst (concat cmsPrefiks "behovforbil.behovforegenbil.nei")}}</td>
        </tr>
    {{/hvisLik}}

    {{#hvisLik value "ja"}}
        <tr>
            <td class="sjekket"></td>
            <td>{{hentTekst (concat cmsPrefiks "behovforbil.behovforegenbil.ja")}}

                <ul>
                    {{#forFaktumHvisSant "behovforbil.stotteordninger.harttkort"}}
                        <li class="kulepunkt faktum-felt">{{ hentTekst (concat cmsPrefiks "behovforbil.stotteordninger.harttkort")}}</li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktumHvisSant "behovforbil.stotteordninger.grunnstonad"}}
                        <li class="kulepunkt faktum-felt">{{ hentTekst (concat cmsPrefiks "behovforbil.stotteordninger.grunnstonad")}}</li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktumHvisSant "behovforbil.stotteordninger.soktttkort"}}
                        <li class="kulepunkt faktum-felt">{{ hentTekst (concat cmsPrefiks "behovforbil.stotteordninger.soktttkort")}}</li>
                    {{/forFaktumHvisSant}}

                    {{#forFaktum "behovforbil.antallreisertilfraarbeid"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst "oppsummering.behovforbil.antallreisertilfraarbeid"}}</span>:
                                <em>{{ value }}</em>
                        </li>
                    {{/forFaktum}}

                    {{#forFaktum "behovforbil.avstandtilarbeidsplass"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst "oppsummering.behovforbil.avstandtilarbeidsplass"}}</span>:
                            <em>{{ value }}</em> {{ hentTekst "enhet.kilometer"}}
                        </li>
                    {{/forFaktum}}

                    {{#forFaktum "behovforbil.hvordandekkesbehov.beskrivelse"}}
                        <li class="kulepunkt faktum-felt">
                            <span>{{ hentTekst "oppsummering.behovforbil.hvordandekkesbehov.beskrivelse"}}</span>:
                            <em>{{ value }}</em>
                        </li>
                    {{/forFaktum}}
                </ul>
            </td>
        </tr>
    {{/hvisLik}}
{{/forFaktum}}
