<li>
    <h3>{{ hentTekst "familie.barn.true.barnebidrag.sporsmal" }}</h3>
    <ul class="svar-liste">
        <li>
            {{#hvisIkkeTom forsorgerplikt.barnebidrag.verdi}}
                <span class="verdi verdi--tekst">
                    {{ hentTekst (concat 'familie.barn.true.barnebidrag.' forsorgerplikt.barnebidrag.verdi) }}
                </span>
            {{else}}
                <span class="verdi verdi--ikkeUtfylt">
                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                    </span>
            {{/hvisIkkeTom}}
        </li>
        {{#if @root.utvidetSoknad}}
            {{{hentSvaralternativer "familie.barn.true.barnebidrag"}}}
        {{/if}}
    </ul>
</li>