<h3>{{ hentTekst "vedlegg.oppsummering.tittel" }}</h3>
{{#each @root.jsonVedleggSpesifikasjon.vedlegg}}
    <span>{{ hentTekst (concat 'vedlegg.' type '.' tilleggsinfo '.tittel') }}</span>
    <ul class="svar-liste">
        {{#each filer}}
            <li>
                <span>{{filnavn}}</span>
            </li>
        {{/each}}
        {{#hvisLik status "VedleggKreves"}}
            <li>
                <span class="verdi verdi--ikkeUtfylt">
                    <i>{{ hentTekst 'vedlegg.oppsummering.ikkelastetopp' }}</i>
                </span>
            </li>
        {{/hvisLik}}
        {{#hvisLik status "VedleggAlleredeSendt"}}
            <li>
                <span class="verdi verdi--ikkeUtfylt">
                    <i>{{ hentTekst 'opplysninger.vedlegg.alleredelastetopp' }}</i>
                </span>
            </li>
        {{/hvisLik}}
    </ul>
{{/each}}
