{{#with data.personalia}}
    <div class="bolk js-bolk">
        <h2 class="bolk__tittel">{{ hentTekst "personaliabolk.tittel" }}</h2>
        {{#if @root.utvidetSoknad}}
            <h3>{{hentTekst "kontakt.system.personalia.sporsmal"}}</h3>
            {{{settInnInfotekst "kontakt.system.personalia.infotekst.tekst"}}}
        {{/if}}
        <ul class="fakta-liste">
            {{#if @root.utvidetSoknad}}
	            <li>
	                <h3>{{ hentTekst "kontakt.system.personalia.navn" }}</h3>
	                <ul class="svar-liste">
	                    <li>
	                        <span class="verdi verdi--tekst">
	                            {{navn.fornavn}} {{navn.mellomnavn}} {{navn.etternavn}}
	                        </span>
	                    </li>
	                </ul>
	            </li>
	            <li>
	                <h3>{{ hentTekst "kontakt.system.personalia.fnr" }}</h3>
	                <ul class="svar-liste">
	                    <li>
	                        <span class="verdi verdi--tekst">
	                            {{personIdentifikator.verdi}}
	                        </span>
	                    </li>
	                </ul>
	            </li>
            {{/if}}
            <li>
                <h3>{{ hentTekst "kontakt.system.personalia.statsborgerskap" }}</h3>
                <ul class="svar-liste">
                    <li>
                        <span class="verdi verdi--tekst">
                            {{landMedFulltNavn statsborgerskap.verdi}}
                        </span>
                    </li>
                </ul>
            </li>
            {{#if @root.utvidetSoknad}}
                <h3>{{ hentTekst "soknadsmottaker.sporsmal" }}</h3>
                {{{settInnHjelpetekst "soknadsmottaker.hjelpetekst.tekst"}}}
            {{else}}
                <h3>{{ hentTekst "kontakt.system.adresse.sporsmal" }}</h3>
            {{/if}}
            <li>
                {{#with folkeregistrertAdresse}}
                    <span class="label">{{hentTekst "kontakt.system.oppholdsadresse.folkeregistrertAdresse"}}</span>
                    {{> skjema/soknad/adresse}}
                {{/with}}
                {{#with oppholdsadresse}}
                    {{hentTekst "soknadsmottaker.infotekst.tekst"}}
                    {{> skjema/soknad/adresse}}
                {{/with}}
                {{#if @root.utvidetSoknad}}
                    <span class="label">Valgt adresse:</span>
                    <ul class="svar-liste">
                        <li>
                            {{#hvisLik oppholdsadresse.adresseValg "soknad"}}
                                {{hentTekst "kontakt.system.oppholdsadresse.valg.soknad"}}
                            {{else}}
                                {{hentTekst (concat 'kontakt.system.oppholdsadresse.' oppholdsadresse.adresseValg 'Adresse')}}
                            {{/hvisLik}}
                        </li>
                    </ul>
                    {{> skjema/soknad/personalia_adresse_svaralternativer}}
	            {{/if}}
            </li>
            {{#hvisLik telefonnummer.kilde "system"}}
                <h3>{{ hentTekst "kontakt.system.telefoninfo.sporsmal" }}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{settInnInfotekst "kontakt.system.telefoninfo.infotekst.tekst"}}}
                {{/if}}
                <li>
                    <span class="label">{{ hentTekst "kontakt.system.telefon.label" }}</span>
                    <ul class="svar-liste">
                        <li>
                            <span class="verdi verdi--tekst">
                                {{telefonnummer.verdi}}
                            </span>
                        </li>
                    </ul>
                </li>
                {{#if @root.utvidetSoknad}}
                    {{{settInnKnappTilgjengeligTekst "kontakt.system.telefon.endreknapp.label"}}}
                {{/if}}
            {{else}}
                <h3>{{ hentTekst "kontakt.telefon.sporsmal" }}</h3>
                <li>
                    <span class="label">{{ hentTekst "kontakt.telefon.label" }}</span>
                    <ul class="svar-liste">
                        <li>
                            {{#if telefonnummer.verdi}}
                                <span class="verdi verdi--tekst">
                                    {{telefonnummer.verdi}}
                                </span>
                            {{else}}
                                <span class="verdi verdi--ikkeUtfylt">
                                    <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                </span>
                            {{/if}}
                        </li>
                    </ul>
                </li>
                {{#if @root.utvidetSoknad}}
                    {{{settInnKnappTilgjengeligTekst "systeminfo.avbrytendringknapp.label"}}}
                    {{{settInnInfotekst "kontakt.telefon.infotekst.tekst"}}}
                {{/if}}
            {{/hvisLik}}
            <h3>{{ hentTekst "kontakt.kontonummer.sporsmal" }}</h3>
            {{#if @root.utvidetSoknad}}
                {{#hvisLik kontonummer.kilde "system"}}
                    {{{settInnInfotekst "kontakt.system.personalia.infotekst.tekst"}}}
                {{/hvisLik}}
            {{/if}}
            <li>
                {{#hvisLik kontonummer.kilde "system"}}
                    <span class="label">{{ hentTekst "kontakt.system.kontonummer.label" }}</span>
                {{else}}
                    <span class="label">{{ hentTekst "kontakt.kontonummer.label" }}</span>
                {{/hvisLik}}
                <ul class="svar-liste">
                    <li>
                        {{#if kontonummer.harIkkeKonto}}
                            <span class="verdi verdi--radio">
                                {{hentTekst "kontakt.kontonummer.harikke.true"}}
                            </span>
                        {{else}}
                            {{#if kontonummer.verdi}}
                                <span class="verdi verdi--tekst">
                                    {{kontonummer.verdi}}
                                </span>
                            {{else}}
                                <span class="verdi verdi--ikkeUtfylt">
                                    <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                                </span>
                            {{/if}}
                        {{/if}}
                    </li>
                </ul>
            </li>
            {{#if @root.utvidetSoknad}}
                {{#hvisLik kontonummer.kilde "system"}}
                    {{{settInnKnappTilgjengeligTekst "kontakt.system.kontonummer.endreknapp.label"}}}
                {{else}}
                    {{{hentSvaralternativer "kontakt.kontonummer"}}}
                    {{{settInnKnappTilgjengeligTekst "systeminfo.avbrytendringknapp.label"}}}
                    {{{settInnInfotekst "kontakt.kontonummer.infotekst.tekst"}}}
                {{/hvisLik}}
            {{/if}}
        </ul>
    </div>
{{/with}}