<ul class="fakta-liste">
    <li>
        <h3>{{{hentTekst "informasjon.tittel"}}}</h3>
        <ul class="svar-liste">
            <li>
                <h4>{{{hentTekstMedParametere "informasjon.hilsen.hei" "fornavn" data.personalia.navn.fornavn}}}</h4>
                {{{hentTekst "informasjon.hilsen.tittel"}}}
            </li>
            <li>
                <h4>{{{hentTekst "informasjon.start.undertittel"}}}</h4>
                {{{hentTekst "informasjon.start.tekst"}}}
            </li>
            <li>
                <h4>{{{hentTekst "informasjon.nodsituasjon.undertittel"}}}</h4>
                {{{hentTekst "informasjon.nodsituasjon.tekst"}}}
            </li>
            <li>
                <h4>{{{hentTekst "informasjon.tekster.personopplysninger.innhenting.tittel"}}}</h4>
                {{{hentTekst "informasjon.tekster.personopplysninger.innhenting.tekst"}}}
            </li>
            <li>
                <h4>{{{hentTekst "informasjon.tekster.personopplysninger.fordusender.tittel"}}}</h4>
                {{{hentTekst "informasjon.tekster.personopplysninger.fordusender.tekst"}}}
            </li>
            <li>
                <h4>{{{hentTekst "informasjon.tekster.personopplysninger.ettersendt.tittel"}}}</h4>
                {{{hentTekst "informasjon.tekster.personopplysninger.ettersendt.tekst"}}}
            </li>
            <li>
                <h4>{{{hentTekst "informasjon.tekster.personopplysninger.rettigheter.tittel"}}}</h4>
                {{{hentTekst "informasjon.tekster.personopplysninger.rettigheter.tekst"}}}
            </li>
            <li>
                {{{hentTekst "informasjon.tekster.personopplysninger.sporsmal"}}}
            </li>
        </ul>
    </li>
</ul>