<div class="bolk js-bolk">
    {{#with data.okonomi.opplysninger}}
        <h2 class="bolk__tittel">{{ hentTekst "utgifterbolk.tittel" }}</h2>
        <ul class="fakta-liste">
            <h3>{{ hentTekst "utgifter.boutgift.sporsmal" }}</h3>
            {{#if @root.utvidetSoknad}}
                {{{ settInnInfotekst "utgifter.boutgift.infotekst.tekst" }}}
            {{/if}}
            {{#hentOkonomiBekreftelse "boutgifter"}}
                {{> skjema/soknad/utgifter_boutgifter}}
            {{else}}
                <li>
                    <span class="verdi verdi--ikkeUtfylt">
                        <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                    </span>
                </li>
            {{/hentOkonomiBekreftelse}}
            <li>
                {{#if @root.utvidetSoknad}}
                    {{{hentSvaralternativer "utgifter.boutgift"}}}
                    <span>Under {{hentTekst "utgifter.boutgift.true"}}:</span>
                    {{{hentSvaralternativer "utgifter.boutgift.true.type"}}}
                {{/if}}
            </li>
            
            {{#if @root.soknad.data.familie.forsorgerplikt.harForsorgerplikt.verdi}}
                <h3>{{ hentTekst "utgifter.barn.sporsmal" }}</h3>
                {{#if @root.utvidetSoknad}}
                    {{{ settInnInfotekst "utgifter.barn.infotekst.tekst" }}}
                {{/if}}
                {{#hentOkonomiBekreftelse "barneutgifter"}}
                    {{> skjema/soknad/utgifter_barneutgifter}}
                {{else}}
                    <li>
                        <span class="verdi verdi--ikkeUtfylt">
                            <i>{{ hentTekst 'oppsummering.ikkeutfylt' }}</i>
                        </span>
                    </li>
                {{/hentOkonomiBekreftelse}}
                <li>
                    {{#if @root.utvidetSoknad}}
                        {{{hentSvaralternativer "utgifter.barn"}}}
                        <span>Under {{hentTekst "utgifter.barn.true"}}:</span>
                        {{{hentSvaralternativer "utgifter.barn.true.utgifter"}}}
                    {{/if}}
                </li>
            {{/if}}
        </ul>
    {{/with}}
</div>