<div class="faktum">
    <div class="id">
        (hvis {{#if dependOnProperty}}{{dependOnProperty}}{{/if}}
        {{#each dependOnValues}}{{json this}},{{/each}})
        {{id}}</div>
        <div class="vedleggliste">
            {{#vedlegg this soknad=@root.xml.soknad}}
                <div class="vedlegg">
                    vedlegg -
                    (hvis {{#if onProperty}}{{onProperty}}{{/if}}
                    {{#each onValues}}{{json this}},{{/each}}) - {{skjemaNummer}} {{skjemaNummerTillegg}}
                </div>
            {{/vedlegg}}
        </div>
    {{#underFaktum this soknad=@root.xml.soknad}}
        {{>faktum}}
    {{/underFaktum}}
</div>