{{! Søkeren er kun student og studerer fortsatt, eller at søkeren har avbrutt studiet, og planlegger ikke å komme tilbake til studiet. }}
{{#hvisIkkeTom value}}
    <table>
        <tr>
            <td class="sjekket"></td>
            <td>
                {{#hvisLik value "harhattsamtale"}}
                    <span>{{ hentTekst "samtalen.student.ikketilbaketilstudiet.samtalemedNAV.harhattsamtale" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "harikkehattsamtale"}}
                    <span>{{ hentTekst "samtalen.student.ikketilbaketilstudiet.samtalemedNAV.harikkehattsamtale" }}</span>
                    <ul>
                        {{#forFaktum "samtalen.student.arbeidserfaring"}}
                            <li>
                                <h3>{{hentTekst "samtalen.student.arbeidserfaring.tittel"}}</h3>
                                <p>{{{hentTekst "samtalen.student.arbeidserfaring.hjelpesporsmal"}}}</p>
                            </li>
                            <li class="kulepunkt">
                                <span>{{ value }}</span>
                            </li>
                        {{/forFaktum}}
                        {{#forFaktum "samtalen.student.kunnskapogegenskaper"}}
                            <li>
                                <h3>{{hentTekst "samtalen.student.kunnskapogegenskaper.tittel"}}</h3>
                                <p>{{{hentTekst "samtalen.student.kunnskapogegenskaper.hjelpesporsmal"}}}</p>
                            </li>
                            <li class="kulepunkt">
                                <span>{{ value }}</span>
                            </li>
                        {{/forFaktum}}
                        {{#forFaktum "samtalen.student.helsesituasjon"}}
                            <li>
                                <h3>{{hentTekst "samtalen.student.helsesituasjon.tittel"}}</h3>
                                <p>{{{hentTekst "samtalen.student.helsesituasjon.hjelpesporsmal"}}}</p>
                            </li>
                            <li class="kulepunkt">
                                <span>{{ value }}</span>
                            </li>
                        {{/forFaktum}}
                        {{#forFaktum "samtalen.student.andreforhold"}}
                            <li>
                                <h3>{{hentTekst "samtalen.student.andreforhold.tittel"}}</h3>
                                <p>{{{hentTekst "samtalen.student.andreforhold.hjelpesporsmal"}}}</p>
                            </li>
                            <li class="kulepunkt">
                                <span>{{ value }}</span>
                            </li>
                        {{/forFaktum}}
                    </ul>
                {{/hvisLik}}
                {{#hvisLik value "ikkeistandtilsamtale"}}
                    <span>{{ hentTekst "samtalen.student.ikketilbaketilstudiet.samtalemedNAV.ikkeistandtilsamtale" }}</span>
                {{/hvisLik}}
            </td>
        </tr>
    </table>
{{/hvisIkkeTom}}