{{! Dersom søkeren har valgt studentvalget, men ikke bare studentvalget, eller dersom søkeren ikke har valgt studentvalget i det hele tatt.  }}
{{#hvisIkkeTom value}}
    <table>
        <tr>
            <td class="sjekket"></td>
            <td>
                {{#hvisLik value "harhattsamtale"}}
                    <span>{{ hentTekst "samtalen.samtalemedNAV.harhattsamtale" }}</span>
                {{/hvisLik}}
                {{#hvisLik value "harikkehattsamtale"}}
                    <span>{{ hentTekst "samtalen.samtalemedNAV.harikkehattsamtale" }}</span>
                    {{#forFaktum "samtalen.arbeidsmuligheter"}}
                        <ul>
                            {{#hvisLik value "tilbaketilnavaerendejobb"}}
                                <li class="kulepunkt">
                                    <span>{{ hentTekst "samtalen.arbeidsmuligheter.tilbaketilnavaerendejobb" }}</span>
                                </li>
                            {{/hvisLik}}
                            {{#hvisLik value "ikketilbaketilnavaerendejobb"}}
                                <li class="kulepunkt">
                                    <span>{{ hentTekst "samtalen.arbeidsmuligheter.ikketilbaketilnavaerendejobb" }}</span>
                                    {{> skjema/aap/samtalen/infobokser }}
                                </li>
                            {{/hvisLik}}
                            {{#hvisLik value "harikkejobb"}}
                                <li class="kulepunkt">
                                    <span>{{ hentTekst "samtalen.arbeidsmuligheter.harikkejobb" }}</span>
                                    {{> skjema/aap/samtalen/infobokser }}
                                </li>
                            {{/hvisLik}}
                        </ul>
                    {{/forFaktum}}
                {{/hvisLik}}
                {{#hvisLik value "ikkeistandtilsamtale"}}
                    <span>{{ hentTekst "samtalen.samtalemedNAV.ikkeistandtilsamtale" }}</span>
                {{/hvisLik}}
            </td>
        </tr>
    </table>
{{/hvisIkkeTom}}