<ul>
    {{#forFaktum "samtalen.arbeidserfaring"}}
        <li>
            <h3>{{hentTekst "samtalen.arbeidserfaring.tittel"}}</h3>
            <p>{{{hentTekst "samtalen.arbeidserfaring.hjelpesporsmal"}}}</p>
        </li>
        <li class="kulepunkt">
            <span>{{ value }}</span>
        </li>
    {{/forFaktum}}
    {{#forFaktum "samtalen.kunnskapogegenskaper"}}
        <li>
            <h3>{{hentTekst "samtalen.kunnskapogegenskaper.tittel"}}</h3>
            <p>{{{hentTekst "samtalen.kunnskapogegenskaper.hjelpesporsmal"}}}</p>
        </li>
        <li class="kulepunkt">
            <span>{{ value }}</span>
        </li>
    {{/forFaktum}}
    {{#forFaktum "samtalen.helsesituasjon"}}
        <li>
            <h3>{{hentTekst "samtalen.helsesituasjon.tittel"}}</h3>
            <p>{{{hentTekst "samtalen.helsesituasjon.hjelpesporsmal"}}}</p>
        </li>
        <li class="kulepunkt">
            <span>{{ value }}</span>
        </li>
    {{/forFaktum}}
    {{#forFaktum "samtalen.andreforhold"}}
        <li>
            <h3>{{hentTekst "samtalen.andreforhold.tittel"}}</h3>
            <p>{{{hentTekst "samtalen.andreforhold.hjelpesporsmal"}}}</p>
        </li>
        <li class="kulepunkt">
            <span>{{ value }}</span>
        </li>
    {{/forFaktum}}
</ul>